/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:100%;
}
#carousel {
  height:500px;
  width:100%;
  background-size: cover;
  background-position: center;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
  transition: opacity .4s ease;
}
.carousel-caption{
  left: 20%;
  right: 20%;
  padding-top: 14px;
  padding-bottom: 14px;
  bottom: 0;

}
.carousel-feature .carousel-caption {
  position:absolute;
  background-color:#d2232a;
  transition: background-color .4s ease;
  border-radius: 10px;
  transform: skewX(-20deg);
}
.carousel-feature .carousel-caption a {
  margin-bottom: 0;
  display: block;
  color:white;
  transform: skewX(20deg);
  transition: color .4s ease;
}
.carousel-feature .carousel-caption:hover{
  background-color: #fff;
}
.carousel-feature .carousel-caption:hover a{
  color: #d2232a;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
  display: none;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  left: 50%;
  transform: translateX(-50%);
  bottom:-2rem;
  padding:0;
  margin:0;
}
.tracker-individual-container ul{
  list-style-type: none;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-blip .dot{
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ccc;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
}
.tracker-individual-container .tracker-individual-blip-selected .dot{
  color:white;
  font-weight:bold;
  background-color:#d2232a;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
  display: none;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
  display: none;
}
