@font-face {
    font-family: 'UTM-R';
    src: url('../fonts/UTMRegular/UTM-Avo-Regular.eot');
    src:
        url('../fonts/UTMRegular/UTM-Avo-Regular.ttf') format('truetpye'),
        url('../fonts/UTMRegular/UTM-Avo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMRegular/UTM-Avo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM-Bold';
    src:
        url('../fonts/UTMBold/UTM AvoBold.ttf') format('truetpye');
    font-weight: normal;
    font-style: normal;
}
