@font-face{font-family:'Mini-Ico';src:url('../fonts/md-icon.woff') format('woff');font-weight:normal;font-style:normal}
// @font-face{font-family:'Mini-SBold';src:url('../fonts/') format('woff');font-style:normal}
@font-face{font-family:'Mini-SRegular';src:url('../fonts/mini_sans_serif-regular-web.woff') format('woff');font-style:normal}
@font-face{font-family:'Mini-Bold';src:url('../fonts/mini_serif-bold-web.woff') format('woff');font-style:normal}
@font-face{font-family:'Mini-Regular';src:url('../fonts/mini_serif-regular-web.woff') format('woff');font-style:normal}
// @font-face{font-family:'Mini-Italic';src:url('../fonts/mini_serif-italic-web.woff') format('woff');font-style:italic}
