@import 'fonts';
@import 'ico';

$Mini-SR: 'Mini-SRegular';
$Mini-B: 'Mini-Bold';
$Mini-R: 'Mini-Regular';

.btn-black{
    display: inline-block;
    line-height: 11px;
    padding: 10px;
    vertical-align: middle;
    font-size: .75rem;
    color: #fff;
    font-family: $Mini-SR;
    background: #000;
    transition: .5s;
    border: 2px solid #000;
    &:hover{
        color: #000;
        background-color: #fff;
    }
}

.slider-container{
    position: relative;
    margin: auto;
    width: 80%;
    .item{
        display: block;
        img{
            width: 100%;
            object-fit: cover;
            height: 400px;
            object-position: center;
        }
    }
    .pre, .next{
        display: inline-block;
        position: absolute;
        top: 35%;
        cursor: pointer;
        left: 0;
    }
    .next{
        left: auto;
        right: 0;
    }
    i{
        font-size: 24px;
        line-height: 24px;
    }
}

.view{
    margin: 0 auto;
    overflow: hidden;
    width: 1280px;
    ul{
        padding: 0;
        font-size: 0;
        display: block;
        .item{
            font-size: 1rem;
            height: 480px;
            display: inline-block;
        }
    }
}