html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { font-size: 0; list-style: none; }

ol li, ul li { font-size: 1rem; }

blockquote, q { quotes: none; }

blockquote:before, q:before, blockquote:after, q:after { content: ''; content: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { padding: 0; margin: 0; font-family: "Mallory"; }

.text-b { font-weight: 500; }

.color-main { color: #585b5c; }

ul.d-block { display: block; }

ul.d-block li { display: inline-block; margin-bottom: 0.5rem; }

ul.d-block li:not(:last-child) { margin-right: 0.5rem; }

.header { position: fixed; top: 15px; left: 0; width: 100%; z-index: 9999; }

.header__logo .logo { width: 50%; margin: 0 auto; padding: 10px 0 0; text-align: center; }

.header__logo .menu-button { padding: 0.5em; background: transparent; margin: 0 0 0 15px; float: left; }

.header__logo .burger-icon { display: block; width: 30px; height: 3px; background-color: #fff; outline: 1px solid transparent; position: relative; margin-top: 8px; margin-bottom: 8px; }

.header__logo .burger-icon:before, .header__logo .burger-icon:after { position: absolute; content: ""; display: block; width: 30px; height: 3px; background-color: #fff; outline: 1px solid transparent; }

.header__logo .burger-icon::before { top: -8px; }

.header__logo .burger-icon::after { top: 8px; }

.header__info { position: fixed; top: 0; left: 0; background: #fff; z-index: 9999; width: 80%; height: 85vh; overflow: auto; -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); -ms-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5); -webkit-transform: translate(-105%, 0); transform: translate(-105%, 0); -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.header__info.open { -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.header__info__title { background: #e0e1e2; padding: 1rem 0; position: relative; border-bottom: 5px solid #cfd1d2; }

.header__info__title .container { position: relative; }

.header__info__title h2 { font-size: 2rem; font-weight: 400; display: inline-block; vertical-align: middle; letter-spacing: 0.1em; color: #585b5c; }

.header__info__title .close-btn { position: absolute; top: 0; right: 10px; color: #fff; font-size: 30px; line-height: 38px; z-index: 1000; }

.header__info__gnavi { padding: 1rem 1rem; }

.header__info__gnavi ul li { padding: 1rem 0; }

.header__info__gnavi ul li i { width: 1.5rem; color: #585b5c; padding-right: 5px; }

.header__info__gnavi ul li img { height: 16px; width: 1.5rem; -o-object-position: left; object-position: left; -o-object-fit: contain; object-fit: contain; }

.header__info__gnavi ul li a { display: block; position: relative; font-weight: 500; text-transform: uppercase; color: #383938; }

.header__info__gnavi ul li a:hover, .header__info__gnavi ul li a:focus { text-decoration: none; }

.header__info__gnavi ul li a[aria-expanded="true"] .gnavi-arrow { -webkit-transform: rotateX(-180deg); transform: rotateX(-180deg); }

.header__info__gnavi ul li a[aria-expanded="false"] .gnavi-arrow { -webkit-transform: rotateX(0); transform: rotateX(0); }

.header__info__gnavi ul li .gnavi-arrow { position: absolute; right: 0; -webkit-transition: -webkit-transform 0.8s ease; transition: -webkit-transform 0.8s ease; transition: transform 0.8s ease; transition: transform 0.8s ease, -webkit-transform 0.8s ease; }

.header__info__gnavi .submenu > ul > li { padding-top: 5px; padding-bottom: 5px; padding-left: 1.5rem; }

.header__info__gnavi .submenu > ul > li a { text-transform: inherit; }

main { height: 100vh; overflow: hidden; }

main .swiper-slide { height: 100vh; background-size: cover; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next { background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev { background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>"); }

.swiper-button-next, .swiper-button-prev { height: 33px; outline-color: transparent; }

.fa-close-ds { width: 40px; height: 40px; display: inline-block; background-repeat: no-repeat; background-position: center; background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path style='fill:#ffffff;' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/></svg>"); }

.footer__fixedBottom { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 8999; }

.footer__fixedBottom ul li { width: 50%; float: left; text-align: center; background: #fff; height: 50px; line-height: 50px; }

.footer__fixedBottom ul li a { color: #585b5c; }

.footer__fixedBottom ul li a:focus { text-decoration: none; }

.footer__fixedBottom ul li a i { padding-left: .5rem; }

.footer__fixedBottom ul li.actived { background: #585b5c; }

.footer__fixedBottom ul li.actived a { color: #fff; }

.header-2 { background-color: #f1f0ef; top: 0; background-color: #e0e1e2; }

.header-2 .header__logo .menu-button { margin: 30px 0 0 15px; }

.header-2 .header__logo .burger-icon, .header-2 .header__logo .burger-icon:before, .header-2 .header__logo .burger-icon:after { background-color: #585b5c; }

.header-2 .header__info__title { padding: 28px 0; }

.footer-2 { background-color: #f1f0ef; padding: 1.5rem 1rem; }

.footer-2 .headline { color: black; margin-bottom: 0.5rem; }

.footer-2 .footer-top { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 0.5rem; }

.footer-2 .left, .footer-2 .right { width: 50%; display: inline-block; }

.footer-2 .footer-bot { color: #585b5c; }

.nav-childParent { background-color: rgba(255, 255, 255, 0.75); margin-top: -50px; z-index: 1000; position: relative; height: 50px; text-align: center; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.nav-childParent .childParent li { height: 100%; display: inline-block; padding-left: 1rem; padding-right: 1rem; padding-top: 7px; padding-bottom: 7px; position: relative; }

.nav-childParent .childParent li:after { content: ""; width: 1px; height: 1px; background-color: #e0e1e2; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out; }

.nav-childParent .childParent li:hover:after { width: 50%; }

.nav-childParent .childParent li a { font-size: 1.1rem; color: #000; }

.nav-childParent .childParent li a:hover, .nav-childParent .childParent li a.active { color: #e0e1e2; text-decoration: none; }

.nav-childParent .childParent a.active { font-weight: 500; }

svg:not(:root) { overflow: hidden; }

.svg-wrapper.left-center { position: absolute; top: calc(50% - 1.5rem - 7px); left: 15px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.svg-wrapper { height: 35px; position: relative; top: 15px; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 18px; display: inline-block; margin-top: 10px; }

.svg-wrapper .shape { fill: transparent; stroke-dasharray: 20 625; stroke-width: 1px; stroke: #e0e1e2; }

.svg-wrapper .shape-center { stroke-dashoffset: -65; }

.svg-wrapper .shape-left { stroke-dashoffset: -15; }

.svg-wrapper .shape-right { stroke-dashoffset: -115; }

.svg-wrapper .text { color: #000; position: relative; top: -33px; text-align: center; cursor: pointer; text-transform: uppercase; font-size: 14px; -webkit-transition: color 0.4s ease; transition: color 0.4s ease; }

.svg-wrapper:hover { color: transparent; }

.svg-wrapper:hover .shape-center { -webkit-animation: 1.5s draw linear forwards; animation: 1.5s draw linear forwards; -webkit-animation-name: draw; animation-name: draw; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .shape-left { -webkit-animation: 1.5s drawLeft linear forwards; animation: 1.5s drawLeft linear forwards; -webkit-animation-name: drawLeft; animation-name: drawLeft; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .shape-right { -webkit-animation: 1.5s drawRight linear forwards; animation: 1.5s drawRight linear forwards; -webkit-animation-name: drawRight; animation-name: drawRight; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .text { text-decoration: none; color: #e0e1e2; }

.img-thumb .swiper-pagination-bullet { width: 10px; height: 10px; background-color: #fff; position: relative; margin-left: 5px !important; margin-right: 5px !important; opacity: 1; -webkit-transition: .4s ease; transition: .4s ease; outline-color: transparent; }

.img-thumb .swiper-pagination-bullet::before { content: ''; width: 16px; height: 16px; border: 1px solid #e0e1e2; position: absolute; border-radius: 50%; -webkit-transition: .4s ease; transition: .4s ease; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%; opacity: 0; }

.img-thumb .swiper-pagination-bullet:hover::before, .img-thumb .swiper-pagination-bullet.swiper-pagination-bullet-active::before { opacity: 1; }

.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover { background-color: #e0e1e2 !important; border-color: #e0e1e2 !important; }

.swiper-pagination-bullet:hover::before { border-color: #e0e1e2; }

ul.list-htContact > li { display: block; background-color: #e0e1e2; border: 1px solid #e0e1e2; margin-bottom: 4px; }

ul.list-htContact > li > a { position: relative; display: block; padding: 10px 1rem 10px; color: #fff; }

ul.list-htContact > li > a:hover { text-decoration: none; }

ul.list-htContact > li > a[aria-expanded="false"]:after { content: "-"; position: absolute; right: 1rem; top: auto; }

ul.list-htContact > li > a[aria-expanded="true"]:after { content: "+"; position: absolute; right: 1rem; top: auto; }

ul.list-htContact ul.htContact { background-color: #faf1df; padding: 1rem 0.5rem; }

ul.list-htContact ul.htContact li { margin-bottom: 0.5rem; }

ul.list-htContact ul.htContact i { padding-right: 5px; padding-left: 5px; }

ul.list-htContact > li { background-color: #26539c; border-color: #606161; }

ul.list-htContact ul.htContact { background-color: #f3f3f3; }

.list-content { padding-top: 1rem; }

.list-content .item { margin-bottom: 1rem; }

.list-content .item .thumnails { margin-bottom: 1rem; }

.list-content .item a.title, .list-content .item .title { color: #e0e1e2; display: block; text-transform: uppercase; font-size: 1.2rem; margin-bottom: 0.5rem; font-weight: 500; }

.list-content .item a.title-2, .list-content .item .title-2 { color: #585b5c; display: block; text-transform: uppercase; font-size: 1.2rem; margin-bottom: 0.5rem; font-weight: 500; }

.list-content .item a.title-2:hover { color: #e0e1e2; }

.list-content .item .sumary { text-align: justify; height: 80px; margin-bottom: 0.5rem; overflow: hidden; }

.list-content .item .sumary.h-160 { height: 160px; }

.list-content .item .features { height: 120px; overflow: hidden; margin-bottom: 1rem; color: #00a652; }

.list-content .item .features p { margin-bottom: 0; }

.list-content .item .features .text-head { color: #00a652; font-weight: 500; }

.list-content .item .policy { height: 150px; overflow: hidden; margin-bottom: 1rem; }

.list-content .item .policy p { margin-bottom: 0; }

.list-content .item .policy .text-policy { color: #585b5c; font-weight: 500; }

.list-content .item-first { margin-bottom: 2rem; }

.list-content .item-first .sumary { height: 120px; }

.breadcrumb { background-color: transparent; }

.breadcrumb-item + .breadcrumb-item::before { font-family: 'Font Awesome 5 Free'; font-weight: 900; content: "\f105"; }

.our-hotel { padding-left: 1rem; padding-right: 1rem; }

.our-hotel .item { -webkit-box-shadow: 0 0 10px 1px #ccc; box-shadow: 0 0 10px 1px #ccc; margin-bottom: 1.5rem; position: relative; margin-left: 0; margin-right: 0; border-bottom: 1px solid #ccc; }

.our-hotel .item .left { padding-left: 0; }

.our-hotel .item .right { padding-right: 0; }

.our-hotel .item:last-child { border-bottom: none; }

.our-hotel .hotel-content .title { color: #9e884b; text-transform: uppercase; font-size: 1.2rem; font-weight: 500; margin-bottom: 0.75rem; display: inline-block; }

.our-hotel .hotel-content .thumnails { margin-bottom: 1rem; }

.our-hotel .hotel-content .address { color: #e0e1e2; }

.our-hotel .hotel-content .rating { margin-bottom: 0.5rem; }

.our-hotel .booking { position: absolute; top: calc(100% - 1.5rem - 7px); left: 50%; }

.rating { border: none; float: left; }

.rating > input { display: none; }

.rating > label:before { margin: 5px; font-size: 1.25em; font-family: "Font Awesome 5 Free"; display: inline-block; content: "\f005"; font-weight: 600; }

.rating > .half:before { content: "\f089"; position: absolute; }

.rating > label { color: #585b5c; float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label { color: #ffd700; }

/* hover previous stars in list */
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label { color: #ffed85; }

.rating.no-selected label.vistibale { color: #ffd700; }

.rating.no-selected { pointer-events: none; }
/*# sourceMappingURL=site-mobile.css.map */