html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { font-size: 0; list-style: none; }

ol li, ul li { font-size: 1rem; }

blockquote, q { quotes: none; }

blockquote:before, q:before, blockquote:after, q:after { content: ''; content: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.page-news .content-list .item .thumnails, .page-news .content-list-2 .item .thumnails { width: 45%; }

.page-news .content-list .item .news, .page-news .content-list-2 .item .news { position: relative; background-color: #fff; -webkit-transform: translateY(1.75rem); transform: translateY(1.75rem); width: 59%; margin-left: -4%; padding: 1.25rem 1.75rem; }

.page-news .content-list .item .news::before, .page-news .content-list-2 .item .news::before { content: ''; background-color: #9e884b; width: 25%; height: 5px; position: absolute; left: 0; top: 0; }

.page-news .content-list .item .news .head, .page-news .content-list-2 .item .news .head { color: #000; -webkit-transition: .4s ease; transition: .4s ease; padding-bottom: .5rem; }

.page-news .content-list .item .news .head a:hover, .page-news .content-list-2 .item .news .head a:hover, .page-news .content-list .item .news .head a:focus, .page-news .content-list-2 .item .news .head a:focus { text-decoration: none; color: #9e884b; }

.page-news .content-list .item .news .detail, .page-news .content-list-2 .item .news .detail { line-height: 1.3; padding-bottom: .5rem; }

.page-news .content-list .item .news .link a, .page-news .content-list-2 .item .news .link a { color: #aba8a8; }

.page-news .content-list .item .news .link a:hover, .page-news .content-list-2 .item .news .link a:hover { color: #9e884b; }

.page-project .thumnail { position: relative; }

.page-project .thumnail .bg-img { z-index: 1; }

.page-project .thumnail .bg-img::before { cursor: pointer; content: ''; background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; display: inline-block; position: absolute; top: 0; left: 0; opacity: 0; z-index: 2; -webkit-transition: .4s ease; transition: .4s ease; }

.page-project .thumnail .text { font-size: 1rem; display: none; position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%; color: #fff; font-family: "Mallory"; padding-top: 2rem; padding-left: 1rem; padding-right: 1rem; }

.page-project .thumnail .bot { font-size: 1rem; color: #fff; position: absolute; bottom: 15px; left: 15px; right: 15px; z-index: 4; opacity: 0; visibility: hidden; }

.page-project .thumnail .bot .views::before { content: ''; background-image: url("../images/Themes/icon/view.png"); padding-right: 25px; background-repeat: no-repeat; }

.page-project .thumnail:hover .bg-img::before { opacity: 1; }

.page-project .thumnail:hover .bot { opacity: 1; visibility: visible; }

.page-project .thumnail:hover .text { display: block; }

.page-contact .line-left { padding-left: 1rem; position: relative; }

.page-contact .line-left::before { position: absolute; top: 0; left: 0; content: ''; width: 4px; height: 100%; background-color: #666; display: inline-block; }

.page-contact .info .address a { color: #3a3939; -webkit-transition: .4s ease; transition: .4s ease; }

.page-contact .info .address a:hover, .page-contact .info .address a:focus { text-decoration: none; color: #9e884b; }

.page-contact .info .address::before { content: url("../images/Themes/icon/address.png"); background-repeat: no-repeat; margin-right: 1rem; }

.page-contact .info .tel a { color: #3a3939; -webkit-transition: .4s ease; transition: .4s ease; }

.page-contact .info .tel a:hover, .page-contact .info .tel a:focus { text-decoration: none; color: #9e884b; }

.page-contact .info .tel::before { content: url("../images/Themes/icon/tel.png"); background-repeat: no-repeat; margin-right: 1rem; }

.page-contact .info .email a { color: #3a3939; -webkit-transition: .4s ease; transition: .4s ease; }

.page-contact .info .email a:hover, .page-contact .info .email a:focus { text-decoration: none; color: #9e884b; }

.page-contact .info .email::before { content: url("../images/Themes/icon/email2.png"); background-repeat: no-repeat; margin-right: 1rem; }

.page-contact .follow ul li { display: inline-block; padding-right: 1rem; }

.page-contact .follow a { color: #fff; display: inline-block; width: 33px; height: 33px; text-align: center; background-color: #000; border-radius: 50%; -webkit-transition: .4s ease; transition: .4s ease; }

.page-contact .follow a i { font-size: 1rem; vertical-align: -webkit-baseline-middle; }

.page-contact .follow a:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }

.site-icon-phone::before { background-image: url("../images/Themes/icon/phone.png"); width: 15px; height: 15px; content: ''; display: inline-block; margin-right: 8px; }

.site-icon-email { margin-right: 8px; background-size: cover; width: 16px; height: 12px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/email.png"); }

.site-icon-fb { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/facebook.png"); }

.site-icon-youtube { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/youtube.png"); }

.site-icon-instagram { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/instagram.png"); }

html { font-size: 14px; }

body { font-family: "Mallory"; font-weight: normal; font-style: normal; word-spacing: 1px; color: #606161; background: #fff; }

body p { line-height: 1.4; }

.wrapper { max-width: 1162px; margin: auto; }

.wrapper-mini { max-width: 920px; margin: auto; }

.text-b { font-family: "Mallory"; font-weight: 500; }

.caption { color: #9e884b; text-transform: uppercase; font-weight: 500; margin-bottom: 1.5rem; }

h4.caption { font-size: 1.2rem; }

.nav-link { position: absolute; left: 3%; top: 255px; z-index: 100; }

.text-upper { text-transform: uppercase; }

.color-main { color: #9e884b !important; }

.color-child { color: #00a652; }

.color-black { color: #000; }

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link { border-radius: 0; }

.pagination .page-item.active { pointer-events: none; }

.pagination .page-item.active .page-link { background-color: #9e884b; outline-color: transparent; border: 1px solid #c9c9c9; }

.pagination .page-link { color: #a2a4a2; padding-top: 10px; padding-bottom: 10px; }

.pagination .page-link:focus { -webkit-box-shadow: none; box-shadow: none; }

.pagination .page-item { margin-right: 0.5rem; }

.thumnails { font-size: 0; }

.col-20 { padding-left: 15px; padding-right: 15px; width: 20%; }

a:hover { color: #9e884b; }

a.nocolor:hover { color: initial; }

@media screen and (max-width: 768px) { .col-20 { width: 50%; } }

.b-before::before { content: ""; display: inline-block; width: 96px; height: 67px; background-color: #e0e3e0; position: absolute; z-index: 1; }

.box-2 { position: relative; z-index: 2; padding-left: 3rem; }

.caps { position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-family: "MS Italic"; font-size: 150px; color: #ced0ce; }

.buton-link { font-family: "UTM Avo"; display: inline-block; border: 1px solid #98cd85; border-radius: 5px; color: #9e884b; padding: 0.5rem 1.5rem; -webkit-transition: 0.4s ease; transition: 0.4s ease; background-color: transparent; }

.buton-link:hover, .buton-link:active, .buton-link.active { color: #9e884b; background-color: #c6dfc6; text-decoration: none; }

.buton-link:after { content: ""; }

.button-link-2 { cursor: pointer; font-family: "UTM Libel KT"; display: inline-block; border: 1px solid #98cd85; border-radius: 5px; color: #fff; padding: 0.5rem 1.5rem; font-size: 1.5rem; -webkit-transition: 0.6s ease; transition: 0.6s ease; background-color: #9e884b; }

.button-link-2:hover, .button-link-2:active, .button-link-2.active { color: #fff; -webkit-box-shadow: 0px 0px 10px 1px #9e884b; box-shadow: 0px 0px 10px 1px #9e884b; text-decoration: none; border-color: #9e884b; outline-color: transparent; }

.button-link-2:after { content: ""; }

svg:not(:root) { overflow: hidden; }

.svg-wrapper.left-center { position: absolute; top: calc(50% - 1.5rem - 7px); left: 15px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.svg-wrapper { height: 35px; position: relative; top: 15px; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 18px; display: inline-block; margin-top: 10px; }

.svg-wrapper .shape { fill: transparent; stroke-dasharray: 20 625; stroke-width: 1px; stroke: #9e884b; }

.svg-wrapper .shape-center { stroke-dashoffset: -65; }

.svg-wrapper .shape-left { stroke-dashoffset: -15; }

.svg-wrapper .shape-right { stroke-dashoffset: -115; }

.svg-wrapper .text { color: #000; position: relative; top: -33px; text-align: center; cursor: pointer; text-transform: uppercase; font-size: 14px; -webkit-transition: color 0.4s ease; transition: color 0.4s ease; }

.svg-wrapper:hover { color: transparent; }

.svg-wrapper:hover .shape-center { -webkit-animation: 1.5s draw linear forwards; animation: 1.5s draw linear forwards; -webkit-animation-name: draw; animation-name: draw; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .shape-left { -webkit-animation: 1.5s drawLeft linear forwards; animation: 1.5s drawLeft linear forwards; -webkit-animation-name: drawLeft; animation-name: drawLeft; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .shape-right { -webkit-animation: 1.5s drawRight linear forwards; animation: 1.5s drawRight linear forwards; -webkit-animation-name: drawRight; animation-name: drawRight; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-play-state: running; animation-play-state: running; }

.svg-wrapper:hover .text { text-decoration: none; color: #9e884b; }

@-webkit-keyframes draw { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -65;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 65;
    stroke-width: 1px; } }

@keyframes draw { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -65;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 65;
    stroke-width: 1px; } }

@-webkit-keyframes drawLeft { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -15;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 65;
    stroke-width: 1px; } }

@keyframes drawLeft { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -15;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 65;
    stroke-width: 1px; } }

@-webkit-keyframes drawRight { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -115;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 165;
    stroke-width: 1px; } }

@keyframes drawRight { 0% { stroke-dasharray: 20 625;
    stroke-dashoffset: -115;
    stroke-width: 1px; }
  100% { stroke-dasharray: 900;
    stroke-dashoffset: 165;
    stroke-width: 1px; } }

.rating { border: none; float: left; }

.rating > input { display: none; }

.rating > label:before { margin: 5px; font-size: 1.25em; font-family: "Font Awesome 5 Free"; display: inline-block; content: "\f005"; }

.rating > .half:before { content: "\f089"; position: absolute; }

.rating > label { color: #606161; float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label { color: #ffd700; }

/* hover previous stars in list */
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label { color: #ffed85; }

.rating.no-selected label.vistibale { color: #ffd700; }

.rating.no-selected { pointer-events: none; }

.img-thumb .swiper-pagination-bullet { width: 10px; height: 10px; background-color: #fff; position: relative; margin-left: 5px !important; margin-right: 5px !important; opacity: 1; -webkit-transition: .4s ease; transition: .4s ease; outline-color: transparent; }

.img-thumb .swiper-pagination-bullet::before { content: ''; width: 16px; height: 16px; border: 1px solid #9e884b; position: absolute; border-radius: 50%; -webkit-transition: .4s ease; transition: .4s ease; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%; opacity: 0; }

.img-thumb .swiper-pagination-bullet:hover::before, .img-thumb .swiper-pagination-bullet.swiper-pagination-bullet-active::before { opacity: 1; }

.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover { background-color: #9e884b !important; border-color: #9e884b !important; }

.swiper-pagination-bullet:hover::before { border-color: #9e884b; }

.main-menu { font-family: "Mallory"; }

.main-menu a { color: #fff; -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.main-menu a:hover, .main-menu a.active { text-decoration: none; }

.main-menu li.home a:hover { color: #9e884b; }

.main-menu li:hover > a, .main-menu li a.active { text-decoration: none; }

.main-menu ul.lv-1 { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.main-menu ul.lv-1 > li { padding: 7px 1.5rem; display: inline-block; position: relative; }

.main-menu ul.lv-1 > li > a:before { content: ""; position: absolute; left: 50%; bottom: 0; width: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); height: 4px; -webkit-transition: width 0.4s ease; transition: width 0.4s ease; background-color: #9e884b; }

.main-menu ul.lv-1 > li:not(:first-child):hover a::before { width: 100%; }

.main-menu ul.lv-1 > li:not(:first-child):hover ul.lv-2 { top: 100%; opacity: 1; visibility: visible; }

.main-menu ul.lv-2 { position: absolute; top: calc(100% + 1rem); opacity: 0; visibility: hidden; left: 0; padding: 0.5rem 1rem 0.5rem 1.5rem; width: 250px; background-color: rgba(0, 0, 0, 0.75); -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.main-menu ul.lv-2 > li { position: relative; padding: 0.75rem 5px; }

.main-menu ul.lv-2 > li:not(:last-child) { border-bottom: 1px solid #383938; }

.main-menu ul.lv-2 > li:hover ul.lv-3 { opacity: 1; visibility: visible; }

.main-menu ul.lv-2 > li:hover a { color: #9e884b; }

.main-menu ul.lv-2 > li.is-child::after { content: url("../images/Themes/icon/angle-left.png"); position: absolute; right: 1rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.main-menu ul.lv-2 > li.is-child:hover::after { content: url("../images/Themes/icon/angle-left-hover.png"); }

.main-menu ul.lv-3 { position: absolute; left: 100%; top: -0.5rem; left: calc(100% + 1rem); opacity: 0; visibility: hidden; min-width: 200px; padding: 0.5rem 1rem 0.5rem 1.5rem; background-color: rgba(0, 0, 0, 0.75); -webkit-transition: 0.8s ease; transition: 0.8s ease; }

.main-menu ul.lv-3 > li { position: relative; padding: 0.75rem 5px; }

.main-menu ul.lv-3 > li:not(:last-child) { border-bottom: 1px solid #383938; }

.sub-tab-slider { padding-top: 1rem; padding-bottom: 1rem; }

.sub-tab { font-family: "UTM Avo"; position: relative; z-index: 3; margin-top: -45px; }

.sub-tab ul { counter-reset: sub-tab-counter; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sub-tab ul li { height: 70px; padding-left: 60px; position: relative; -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.sub-tab ul li::before { -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25); box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25); content: counter(sub-tab-counter); counter-increment: sub-tab-counter; position: absolute; top: 0; left: 0; width: 60px; height: 100%; font-family: "UTM Neo Sans Intel"; font-size: 48px; display: block; text-align: center; color: #fff; padding: 0 1rem; background-color: #9e884b; line-height: 1.2; }

.sub-tab ul li:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

.sub-tab ul .text { -webkit-transition: 0.4s ease; transition: 0.4s ease; display: block; height: 100%; -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25); box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25); background-color: #fff; padding: 0.5rem; color: #000; }

.sub-tab ul .text h3 { font-family: "UTM Libel KT"; }

.sub-tab ul .text p { color: #9ea09d; }

.sub-tab ul a.text:hover { text-decoration: none; color: #9e884b; }

.menu-tab ul.lv-1 li { padding-left: 3rem; display: block; }

.menu-tab ul.lv-1 li a { font-family: "UTM Libel KT"; font-size: 1.75rem; margin-bottom: 0.5rem; color: #000; -webkit-transition: 0.4s ease; transition: 0.4s ease; position: relative; }

.menu-tab ul.lv-1 li a:hover, .menu-tab ul.lv-1 li a.active { text-decoration: none; color: #1d6904; }

.menu-tab ul.lv-1 li a[aria-expanded="true"]::before { content: url("../images/Themes/icon/hide.png"); position: absolute; left: -20px; bottom: 0; line-height: 1.2; }

.menu-tab ul.lv-1 li a[aria-expanded="false"]::before { content: url("../images/Themes/icon/show.png"); position: absolute; left: -20px; bottom: 0; line-height: 1.2; }

.menu-tab ul.lv2 li { padding-left: 2rem; position: relative; }

.menu-tab ul.lv2 li:before { content: ""; background-color: #1d6904; width: 15px; height: 2px; position: absolute; left: 0; bottom: 8px; }

.menu-tab ul.lv2 li a { font-size: 1.5rem; }

.nav-childParent { background-color: rgba(255, 255, 255, 0.75); margin-top: -50px; z-index: 1000; position: relative; height: 50px; text-align: center; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.nav-childParent .childParent li { height: 100%; display: inline-block; padding-left: 1rem; padding-right: 1rem; padding-top: 7px; padding-bottom: 7px; position: relative; }

.nav-childParent .childParent li:after { content: ""; width: 1px; height: 1px; background-color: #9e884b; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out; }

.nav-childParent .childParent li:hover:after { width: 50%; }

.nav-childParent .childParent li a { font-size: 1.1rem; color: #000; }

.nav-childParent .childParent li a:hover, .nav-childParent .childParent li a.active { color: #9e884b; text-decoration: none; }

.nav-childParent .childParent a.active { font-weight: 500; }

ul.list-block { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; margin-bottom: 1rem; }

ul.list-block li { display: inline-block; margin-right: 0.4rem; }

ul.mn-footer { margin-bottom: 1rem; }

ul.mn-footer > li { margin-bottom: 0.5rem; }

ul.mn-footer > li > a { color: #9e884b; font-weight: 500; font-size: 1.1rem; }

ul.mn-footer a { color: #606161; }

ul.list-htContact > li { display: block; background-color: #9e884b; border: 1px solid #9e884b; margin-bottom: 4px; }

ul.list-htContact > li > a { position: relative; display: block; padding: 10px 1rem 10px; color: #fff; }

ul.list-htContact > li > a:hover { text-decoration: none; }

ul.list-htContact > li > a[aria-expanded="false"]:after { content: "-"; position: absolute; right: 1rem; top: auto; }

ul.list-htContact > li > a[aria-expanded="true"]:after { content: "+"; position: absolute; right: 1rem; top: auto; }

ul.list-htContact ul.htContact { background-color: #faf1df; padding: 1rem 0.5rem; }

ul.list-htContact ul.htContact li { margin-bottom: 0.5rem; }

ul.list-htContact ul.htContact i { padding-right: 5px; padding-left: 5px; }

ul.list-htContact-2 > li { display: block; margin-bottom: 4px; }

ul.list-htContact-2 > li > a { position: relative; display: block; padding: 10px 1rem 10px; color: #9e884b; font-weight: 500; font-size: 1.2rem; }

ul.list-htContact-2 > li > a:hover { text-decoration: none; }

ul.list-htContact-2 ul.htContact li { margin-bottom: 0.5rem; }

ul.list-htContact-2 ul.htContact i { padding-right: 5px; padding-left: 5px; }

header { position: relative; z-index: 2; }

header::before { content: ''; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.4); background-repeat: repeat; position: absolute; top: 0; left: 0; z-index: -1; }

header .logo img { max-height: 100px; }

footer { background-color: #faf1df; padding-top: 3rem; padding-bottom: 1rem; }

.home-banner { position: relative; overflow: hidden; margin-top: -150px; z-index: 1; font-size: 0; }

main { padding-top: 3rem; padding-bottom: 3rem; }

.why-chose { margin-bottom: 3rem; }

.why-chose .caption { margin-bottom: 2rem; }

.why-chose .list-why { padding-top: 1rem; }

.why-chose .list-why .item { margin-bottom: 1rem; }

.why-chose .list-why img { display: block; padding-bottom: 1rem; margin: auto; }

.why-chose .list-why p.title { color: #00a652; text-align: center; }

.why-chose .list-why .sumary { font-size: 13px; text-align: justify; }

.ourst .caption, .our-hotel .caption { margin-bottom: 2rem; }

.list-Ourst { position: relative; }

.list-Ourst:hover .button-slide-Ourst { visibility: visible; opacity: 1; }

.list-Ourst .swiper-slide .thumnails, .list-Ourst .swiper-slide .title, .list-Ourst .swiper-slide .address, .list-Ourst .swiper-slide .sumary { margin-bottom: 0.5rem; }

.list-Ourst .swiper-slide .title { font-size: 1.2rem; }

.list-Ourst .swiper-slide .address { height: 2.5rem; font-weight: 300; }

.button-slide-Ourst { -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.button-slide-Ourst .Ourst-button-prev, .button-slide-Ourst .Ourst-button-next { position: absolute; top: 50%; width: 40px; height: 40px; border: 1px solid #606161; outline-color: transparent; -webkit-transition: 0.4s ease; transition: 0.4s ease; cursor: pointer; }

.button-slide-Ourst .Ourst-button-prev i, .button-slide-Ourst .Ourst-button-next i { font-size: 1.5rem; display: inherit; text-align: center; line-height: 38px; vertical-align: middle; }

.button-slide-Ourst .Ourst-button-prev:hover, .button-slide-Ourst .Ourst-button-next:hover { background-color: #606161; color: #fff; }

.button-slide-Ourst .Ourst-button-prev { left: -2rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.button-slide-Ourst .Ourst-button-next { right: -2rem; -webkit-transform: translate(50%, -50%); transform: translate(50%, -50%); }

.content-right { position: relative; }

.content-right::before { content: url("../images/Themes/bg-horizontal.png"); background-repeat: no-repeat; position: absolute; left: 0; top: 0; z-index: -1; }

.content-right .title { font-family: "Mallory"; font-size: 32px; margin-bottom: 1rem; color: #1d6904; }

.content-right .title::before { content: ""; position: absolute; left: 0; top: 50px; background-color: #9e884b; width: 4px; height: 50px; }

.page-about .detail { padding-top: 4rem; padding-left: 1.5rem; }

.page-about .detail p { margin-bottom: 1rem; }

.page-project .list-project { padding-top: 4rem; }

.page-project .item { padding-left: 0.25rem; padding-right: 0.25rem; margin-bottom: 0.5rem; font-size: 0; }

.page-project .item .thumnail { overflow: hidden; }

.page-project .item .thumnail .bg-img { -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.page-project .item .thumnail:hover .bg-img { -webkit-transform: rotate(10deg) scale(1.2); transform: rotate(10deg) scale(1.2); }

.page-project .item a { color: #fff; }

.page-project .item a:hover { color: #9e884b; text-decoration: none; }

.page-services .detail { padding-top: 4rem; padding-left: 1.5rem; }

.page-services .detail p { margin-bottom: 1rem; }

.page-news > .detail, .page-news .content-list, .page-news .content-list-2 { padding-top: 4rem; }

.page-news > .detail p, .page-news .content-list p, .page-news .content-list-2 p { margin-bottom: 1rem; }

.page-news .content-list .item { margin-bottom: 3rem; }

.page-news .content-list .item .detail-news { height: 120px; }

.page-news .content-list-2 .item { margin-bottom: 3rem; }

.page-news .content-list-2 .item .detail { height: 60px; }

.page-news .list-new-orthers .item { background-color: #fff; padding-bottom: 1rem; }

.page-news .list-new-orthers .thumbnails { overflow: hidden; font-size: 0; }

.page-news .list-new-orthers .thumbnails img { -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.page-news .list-new-orthers .thumbnails a:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.page-news .list-new-orthers .detail { position: relative; }

.page-news .list-new-orthers .detail::before { content: ""; position: absolute; left: 0; top: 0; width: 35%; height: 4px; background-color: #9e884b; }

.page-news .list-new-orthers .detail a { color: #000; -webkit-transition: 0.4s ease; transition: 0.4s ease; }

.page-news .list-new-orthers .detail a:hover, .page-news .list-new-orthers .detail a:active { color: #9e884b; text-decoration: none; }

.page-news .list-new-orthers .bot a { color: #aba8a8; }

.page-news .page-detail { position: relative; background-color: #fff; padding: 1.5rem 3rem; }

.page-news .page-detail::before { content: ""; background-color: #9e884b; width: 20%; height: 5px; position: absolute; left: 0; top: 0; }

.page-news .page-detail .title p { line-height: 1.3; }

.page-news .page-detail .sub-title .author { color: #9e884b; }

.page-news .page-detail .sub-title .author::before { content: "Theo "; }

.page-news .page-detail .sub-title .link a { color: #3a3939; }

.page-news .page-detail .sub-title .link a:hover { text-decoration: none; color: #9e884b; }

.page-news .page-detail .sumary { font-family: "Mallory"; font-style: italic; color: #1d6904; border-bottom: 1px solid #d2d5d2; }

.page-news .page-detail .detail-news p { margin-bottom: 0.5rem; }

.page-contact .detail { padding-top: 4rem; }

.page-contact .form-control:focus { border-color: #9e884b; -webkit-box-shadow: 0 0 10px 1px rgba(158, 136, 75, 0.5); box-shadow: 0 0 10px 1px rgba(158, 136, 75, 0.5); }

.page-projectdetail .profile { z-index: 1000; margin-top: -3.5rem; background-color: #9e884b; padding: 0.5rem 2rem 1rem; color: #fff; }

.page-projectdetail .profile .title { font-family: "Mallory"; padding-bottom: 0.5rem; border-bottom: 1px solid #446f35; }

.page-projectdetail .profile .detail { padding-top: 1rem; }

.page-projectdetail .profile .detail p:nth-child(even) { margin-bottom: 0.5rem; }

.page-projectdetail .profile .detail strong { font-family: "Mallory"; font-weight: bold; }

.page-projectdetail .sumary { padding-left: 2rem; padding-top: 1rem; }

.page-projectdetail .sumary .title { font-family: "Mallory"; color: #9e884b; margin-bottom: 1rem; }

.page-projectdetail .sumary .title::before { content: ""; background-color: #d2d3d2; width: 5px; height: 1.5rem; display: inline-block; margin-right: 1rem; }

.page-projectdetail .sumary .text p { margin-bottom: 0.5rem; }

.page-projectdetail .list-project .title { font-family: "Mallory"; color: #9e884b; margin-bottom: 1rem; }

.page-projectdetail .list-project .title::before { content: ""; background-color: #d2d3d2; width: 5px; height: 1.5rem; display: inline-block; margin-right: 1rem; }

.orther-project { margin-top: 1rem; margin-bottom: 2rem; }

.orther-project .title { font-family: "Mallory"; color: #9e884b; margin-bottom: 1rem; }

.orther-project .title::before { content: ""; background-color: #d2d3d2; width: 5px; height: 1.5rem; display: inline-block; margin-right: 1rem; }

.ct-body p { margin-bottom: 0.5rem; }

.ct-body img { max-width: 100%; }

.list-content { padding-top: 1rem; }

.list-content .item { margin-bottom: 1rem; }

.list-content .item .thumnails { margin-bottom: 1rem; }

.list-content .item a.title, .list-content .item .title { color: #9e884b; display: block; text-transform: uppercase; font-size: 1.2rem; margin-bottom: 0.5rem; font-weight: 500; }

.list-content .item a.title-2, .list-content .item .title-2 { color: #606161; display: block; text-transform: uppercase; font-size: 1.2rem; margin-bottom: 0.5rem; font-weight: 500; }

.list-content .item a.title-2:hover { color: #9e884b; }

.list-content .item .sumary { text-align: justify; height: 80px; margin-bottom: 0.5rem; overflow: hidden; }

.list-content .item .sumary.h-160 { height: 160px; }

.list-content .item .features { height: 120px; overflow: hidden; margin-bottom: 1rem; color: #00a652; }

.list-content .item .features p { margin-bottom: 0; }

.list-content .item .features .text-head { color: #00a652; font-weight: 500; }

.list-content .item .policy { height: 150px; overflow: hidden; margin-bottom: 1rem; }

.list-content .item .policy p { margin-bottom: 0; }

.list-content .item .policy .text-policy { color: #606161; font-weight: 500; }

.list-content .item-first { margin-bottom: 2rem; }

.list-content .item-first .sumary { height: 120px; }

.our-hotel .item { position: relative; margin-left: 0; margin-right: 0; padding-top: 2rem; padding-bottom: 2rem; border-bottom: 1px solid #ccc; }

.our-hotel .item .left { padding-left: 0; }

.our-hotel .item .right { padding-right: 0; }

.our-hotel .item:last-child { border-bottom: none; }

.our-hotel .hotel-content .title { color: #9e884b; text-transform: uppercase; font-size: 1.2rem; font-weight: 500; margin-bottom: 0.75rem; display: inline-block; }

.our-hotel .hotel-content .address { color: #9e884b; }

.our-hotel .hotel-content .rating { margin-bottom: 0.5rem; }

.our-hotel .booking { position: absolute; top: calc(100% - 1.5rem - 7px); left: 15px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.pg-restaurant .img-thumb { max-width: 80%; margin-bottom: 1.5rem; }

.pg-htDetails section { margin-bottom: 1.5rem; position: relative; }

.fancybox-bg { background: #4e3900; }

.room-popup { width: 90%; overflow-x: hidden; padding: 0; }

.room-popup .ct-left { padding: 2rem 0 1rem 1rem; }

.room-popup .ct-left .caption { padding-left: 1rem; padding-right: 1rem; margin-bottom: 1rem; color: #606161; padding-bottom: 1rem; border-bottom: 3px solid #606161; }

.room-popup .ct-left .sumary { padding-left: 1rem; padding-right: 1rem; max-height: 64vh; overflow-y: scroll; margin-bottom: 1rem; }

.room-popup .ct-left .sumary::-webkit-scrollbar { height: 4px; width: 4px; border: 1px solid #d5d5d5; }

.room-popup .ct-left .sumary::-webkit-scrollbar-thumb { border-radius: 0; background: #606161; }

.room-popup .ct-left .sumary::-webkit-scrollbar-track { border-radius: 0; background: #eeeeee; }

.room-popup .ct-left .sumary .progress { height: auto; background-color: #606161; }

.room-popup .ct-left .sumary .progress .progress-bar { height: 5px; }

.room-popup .ct-left .sumary .ratting { margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #ccc; }

.room-popup .ct-left .sumary .title { color: black; text-align: left; }

.room-popup .ct-left .smile { vertical-align: middle; padding-right: 5px; }

.room-popup .ct-left .bottom-popup { border-top: 1px solid #007bff; padding-top: 1rem; }

.room-popup .ct-left .bottom-popup .btn-book { width: 100%; padding-top: .5rem; padding-bottom: .5rem; text-transform: uppercase; font-weight: 500; display: block; }

.room-popup .ct-left .bottom-popup .btn-book:hover { color: #9e884b; text-decoration: none; }

.room-popup .ct-left .bottom-popup .btn-book:focus { outline-color: transparent; }

.room-popup .ct-left .table-bordered td, .room-popup .ct-left .table-bordered th { border-color: transparent; }

.room-popup .ct-left .list-value { margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #ccc; }

.room-popup .ct-right { padding: 3rem 1rem; }

.room-popup .col-md-8 { background-color: #000; }
/*# sourceMappingURL=site.css.map */