header{
    position: relative;
}

.header{
    margin-top: auto;
    margin-bottom: auto;
}
.logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.lang{
    font-size: 0;
    padding-top: 2rem;
    height: 100%;
    a{
        font-size: .9rem;
        color: $color-main;
        display: inline-block;
        padding: 0 .75rem;
        line-height: 1;
        &:first-child{
            border-right: 1px solid $color-main;
        }
    }
}
.search{
    line-height: 1;
    vertical-align: middle;
    .btn-search{
        background-image: url('../images/Themes/icon/ico-search.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    button.btn-search{
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 21px;
        height: 21px;
        cursor: pointer;
        &:active, &:focus{
            outline-color: transparent;
        }
    }
    .mainSearch{
        border-top: 1px solid #ccc;
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        width: 100%;
        height: 25vh;
        min-height: 150px;
        z-index: 99;
        background-color: #fff;
        transition: .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }
    .mainSearch.show{
        opacity: 1;
        visibility: visible;
    }
    .form-group{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        input.form-control{
            border-color: #ccc;
            border-radius: 0;
            height: 50px;
            line-height: 50px;
            font-size: 1.5rem;
        }
        input.form-control::placeholder{
            color: #cccccc;
        }
        input.form-control:focus{
            box-shadow: none;
            border-color: #ccc;
        }
        button.btn-search{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
        }
    }
}