@import 'var';

%btn-design{
    background-color: $red-w;
    color: #fff;
    font-family: 'UTM-B';
    position: relative;
    // transition: all .4s ease;
    border-radius: .8rem;
    &::before{
        content: url('../images/dot-next.png');
        line-height: 0;
        position: absolute;
        left: 19px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover{
        color: $title;
        &::before{
            content: url('../images/dot-next-hover.png');
        }
    }
}

%head{
    flex: 0 0 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    .head-title{
        width: 63.6363%;
        margin: 0 auto 1rem;
        border-bottom: 1px solid #ccc;
        h3{
            font-family: $UTM-Penu;
            font-size: 1.4rem;
            color: $title;
            display: inline-block;
            padding: 0 34px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: -13px;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $red-w;
            }
        }
    }
    .head-sub{
        font-family: $UTM-San-I;
        text-align: center;
        padding: 5px 138px 10px;
        color: #463f3f;
        font-size: .9rem;
    }
    .main-list{
        margin-top: 2rem !important; 
        justify-content: space-between;  
    }
}

%content{
    .title{
        font-family: $UTM-Penu;
        font-size: 1rem;
        color: $title;
        transition: color .3s linear;
        margin-top: 1rem;
        &:hover{
            color: $red-w;
        }
    }
    .create-date{
        color: $sub;
        font-size: 13px;
        padding: 5px 15px;
        position: relative;
        margin-bottom: .5rem;
        &::before{
            content: "";
            width: 4px;
            height: 13px;
            line-height: 0;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: $sub;
        }
    }
    .detail{
        font-size: .9rem;
    }
}

%note-top-left{
    position: relative;
    &::before{
        content: "";
        width: 6px;
        height: 42px;
        background-color: $red-w;
        position: absolute;
        top: 0;
        left: 0;
    }
}
%mr-top-head{
    flex: 0 0 75%;
    max-width: 75%;
    margin-top: -72px;
    background-color: #fff;
    box-shadow: -2px 3px 7px 1px rgba(204, 204, 204, .4);
}

%ol{
    list-style-type: none;            
    li{
        counter-increment: section;
        position: relative;
        &::before{
            position: absolute;
            left: 0;
        }
    }
}