@font-face {
    font-family: 'UTM-R';
    src: 
        url('../fonts/UTM-Avo-Regular.ttf') format('truetype'),
        url('../fonts/UTM-Avo-Regular.eot') format('embedded-opentype'),
        url('../fonts/UTM-Avo-Regular.otf') format('opentype'),
        url('../fonts/UTM-Avo-Regular.woff') format('woff');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM-B';
    src:
        url('../fonts/UTM-Avo-Bold.ttf') format('truetpye'),
        url('../fonts/UTM-Avo-Bold.eot') format('embedded-opentype'),
        url('../fonts/UTM-Avo-Bold.woff') format('woff'),
        url('../fonts/UTM-Avo-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UTM-Flame';
    src: url('../fonts/UTM-Flamenco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UTM-Penu';
    src: url('../fonts/UTM Penumbra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UTM-Copper';
    src: url('../fonts/UTM Copperplate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe-R';
    src: url('../fonts/SegoeRg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'UTM-San';
    src: url('../fonts/UTM Neo Sans Intel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UTM-San-I';
    src: url('../fonts/UTM Neo Sans Intel_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'UTM-Rock';
    src: url('../fonts/UTM Rockwell.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe-B';
    src: url('../fonts/SegoeBd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe-BI';
    src: url('../fonts/SegoeBI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helve-R';
    src: url('../fonts/helveticaneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}