.fancybox-navigation .fancybox-button, .fancybox-button{
    border-radius: 50% !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.fancybox-toolbar{
    top:2vh !important;
    right: 2vw !important;
    opacity: 1 !important;
    visibility: visible !important;
}