// var font
$UTM-B: 'UTM-B';
$UTM-R: 'UTM-R';
$UTM-Flame: 'UTM-Flame';
$UTM-Penu: 'UTM-Penu';
$UTM-Copper: 'UTM-Copper';
$UTM-San: 'UTM-San';
$UTM-San-I: 'UTM-San-I';
$Segoe-R: 'Segoe-R';
$Segoe-B: 'Segoe-B';
$Segoe-BI: 'Segoe-BI';
$UTM-Rock: 'UTM-Rock';

// background color
$red-w: #ed4122;
$blue-w: #014282;
$blue-b: #092a4d;
$blue-bb: #0f2740;
$blue-l: #b6c6d5;
$blue-hover: #83a4c3;

// text color
$title: #104799;
$text: #464646;
$sub: #919191;
$text-banner: #c1bfbf;