@import 'fonts';
@import 'var';
@import 'config';
@import 'extent';

body{
    border-top: 5px solid $blue-w;
    background-color: #f0f1f1;
    position: relative;
    transition: left .3s ease-in-out;
    z-index: 1;
}

body::before{
    content: "";
    height: 5px;
    width: 18.1559%;
    min-width: 170px;
    background-color: $red-w;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 2;
}

.header{
    background-color: #fff;
    .header-top{
        padding-top: 19px;
        padding-bottom: 19px;
        .head-right{
            padding-bottom: 6px;
            display: flex;
            flex-direction: row-reverse;
            .search, .lang{
                align-self: flex-end;
            }
        }
    }
}

.search{
    width: 240px;
    order: 2;
    position: relative;
    &-mb{        
        top: 1px;
        height: 40px;
        transition: right .4s ease-in-out;
        position: absolute !important;
        button{
            left: auto !important;
        }
        input{
            border-radius: 0;
        }
    }
    input{
        border: none;
        border-bottom: 1px solid #ccc;
        padding-right: 40px;
        &:focus{
            box-shadow: 0px 15px 10px -15px #111;
            border-color: #b3b1b1;
        }
    }
    .btn-search{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s linear;
        color: $text;
        right: 10px;
        background-color: transparent;
        border: none;
        &:focus{
            background-color: transparent;
        }
        &:hover{
            color: $red-w;
        }
    }
}
.lang{
    order: 1;
    width: 160px;
    ul{
        margin-bottom: 0;
        font-size: 0;
        display: block;
        float: right;
        li{
            font-size: 1rem;
            display: inline-block;
            &:first-child{
                padding-right: 8px;
                border-right: 1px solid #e2e1e1;
            }
            &:last-child{
                padding-left: 8px;
                padding-right: 4px;
            }
            a{
                font-size: .785rem;
                color: #454443;
                &.active, &:hover{
                    text-decoration: underline;
                    color: $red-w;
                }
            }
        }
    }
    &-mb{
        li{
            margin-top: 6px !important;
        }
        a{
            color: #000 !important;
            font-weight: bold !important;
            &.active{
                color: #88bdf1 !important;
            }
        }
    }
}
.menu-2{
    overflow-y: scroll;
    z-index: 100;
    transition: left 0.3s ease-in-out;
    width: 218px;
    top: 0;
    display: none;
    position: fixed;
    background-color: #b7b7b7;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    &::before{
        content: "";
        width: 40%;
        top: 0;
        left: 0;
        position: absolute;
        height: 4px;
        z-index: 1;
        background-color: $red-w;
    }
    p.head{
        color: #fff;
        font-family: $UTM-B;
        font-size: .9rem;
        padding-top: 11px;
        margin: 0 -20px;
        padding-left: 20px;
        padding-bottom: 11px;
        background-color: #014282;
    }
    ul.menu-mb-lv1{
        display: block;
        *{
            text-transform: uppercase !important;
        }
        >li{
            position: relative;
            display: block;
            padding-left: 3px;
            padding-top: 11px;
            padding-bottom: 11px;
            i{
                position: absolute;
                top: 16px;
                right: 0;
                font-size: .9rem;
            }
            &:not(:last-child){
                border-bottom: 1px solid #a3a2a2;
            }
            a{
                font-family: $UTM-R;
                font-size: .9rem;
                color: black;
                line-height: 1;
            }
            .menu-mb-lv2{
                li{
                    padding-left: 15px;
                    padding-top: 11px;
                    position: relative;
                    &:not(:first-child){
                        padding-bottom: 11px;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 23px;
                        left: 0;
                        width: 9px;
                        height: 3px;
                        background-color: $red-w;
                    }                    
                }
            }
        }
        .active a{
            font-family: $UTM-B !important;
            color: $blue-w !important;
        }
    }
}

.row-menu{
    width: 100%;
    height: 40px;
    background-color: $blue-w;
    padding-right: 0;
    border-bottom: 1px solid #0f66bb;
    .menu{
        >li{
            position: relative;
            display: inline-block;
            line-height: 20px;
            padding-top: 7px;
            padding-bottom: 10px;
            border-top: 3px solid transparent;
            &:not(:first-child){
                padding-left: 3px;
                padding-right: 3px;
            }
            &:not(:last-child){
                margin-right: 30px;
            }
            &:hover{
                &:not(:first-child){
                    border-top: 3px solid $red-w;
                }
                >a{
                    color: $red-w;
                }
                .menu-sub{
                    display: block;
                }
            }
            a{
                font-family: $UTM-Penu;
                font-size: .8rem;
                text-transform: uppercase;
                color: #fff;
                transition: color 0.2s linear;
            }
        }
        &-sub{
            display: none;
            position: absolute;
            top: 103%;
            left: 0;        
            background-color: #c8e2fc;
            min-width: 240px;
            border-bottom: 4px solid $red-w;
            z-index: 2;
            li{
                display: block;
                padding: 12px 10px 8px;
                transition: color 0.3s linear, background-color 0.3s linear;
                &:not(:last-child){
                    border-bottom: 1px solid #99aec4;
                }
                a{
                    display: block;
                    font-family: $UTM-R;
                    font-size: .8rem;
                    text-transform: none;
                    color: #444546;
                }
                &:hover{
                    background-color: $blue-w;
                    a{
                        color: $red-w;
                    }
                }
            }
        }
    }
    .menu-mb{
        padding-right: 15px;
        overflow-x: hidden;
        display: none;
        height: 100%;
        position: relative;
        justify-content: space-between;
        .item-left{
            position: relative;            
        }
        .item-right{
            display: flex;
            position: relative;
        }
        button{
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
            line-height: 1;
            position: absolute;
            color: #86b7e6;
            font-size: 1.7rem;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        button.btn-search{
           left: -10px;
        }
    }
}

.banner{
    overflow: hidden;
    &-home{
        background-image: url('../images/banner/banner-01.png');
        height: 430px;
    }
    &-gioithieu{
        background-image: url('../images/banner/banner-gioithieu.png');
        height: 158px;
    }
    background-position: bottom;
    background-size: cover;
    &-detail{
        padding-left: 20px;
        padding-right: 0; 
        color: #fff;
        position: absolute;
        left: 20px;
        top: 46%;
        transform: translateY(-50%);
        h5{
            font-size: .95rem;
            font-family: $UTM-B;
        }
        h2{
            font-size: 2.5rem;
            font-family: $UTM-Copper;
            line-height: .9;
            margin-bottom: 1.5rem;
        }
        p{
            font-size: .85rem;
            color: #c1bfbf;
        }
        a.btn-design{
            @extend %btn-design;
            padding: 5px 38px 10px;
        }
    }
}
.container-s{
    margin-bottom: 2rem !important;
}
#whychose{
    @extend %mr-top-head;
    .title-lager h1{
        padding: 20px 28px 0px;
    }
    p.head-title{
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.55);
    }
    p{
        font-family: $Segoe-R;
        margin: 0 28px;
        font-size: .9rem;
        text-align: justify;
    }
    .title{
        padding: 10px 20px 0px 30px;
        position: relative;
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            line-height: 0;
            position: absolute;
            left: 10px;
            top: 14px;
            background-color: $red-w;
        }
    }
    a.h3{
        display: inline-block;
        margin-bottom: 0;
        font-size: 1.2rem;
        font-family: $UTM-Penu;
        color:  $title;
        transition: color .3s ease;
        &:hover{
            color: $red-w;
        }
    }
    .img-item{
        padding: 10px 15px 0 30px;
    }
    .detail-item{
        padding-left: 0;
        p{
            margin-top: .7rem;
            margin-left: 10px;
        }
    }
    .whychose-item{
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }
}
.main-right{
    flex: 0 0 25%;
    max-width: 25%;
}
#sub-nav{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    .square{
        flex: 0 0 50%;
        max-width: 50%;
        border: .5px solid #fff;
        position: relative;
        &::after{
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .item{
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $blue-l;
            transition: all .2s linear;
            img{
                position: absolute;
                top: 37%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            p{
                width: 100%;
                font-family: $UTM-R;
                font-size: .9rem;
                color: #fff;
                margin-bottom: 0;
                text-align: center;
                position: absolute;
                bottom: 0;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
            }
            &:hover{
                background-color: $blue-hover;
            }
        }
    }
}

#news{
    @extend %head;
    .news-first{
        flex: 0 0 38.45%;
        max-width: 38.45%;
        flex-direction: column;
        padding: 15px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
        .new-first-img{
            margin: -15px -20px 1rem;
            img{
                width: 100%;
            }
        }
    }
    .news-order{
        background-color: #fff;
        flex: 0 0 60.5%;
        max-width: 60.5%;
        flex-direction: column;
        padding: 19px 16px 0px;
        box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
        .item{
            justify-content: space-between;
            .news-order-img{
                flex: 0 0 30%;
                max-width: 30%;
                padding-top: 6px;
                padding-bottom: 1rem;
                overflow: hidden;
                a:hover img{
                    transform: scale(1.1);
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s ease;
                }
            }
            .news-detail{
                flex:0 0 68%;
                max-width: 68%;
                a.title{font-size: .85rem}
                p.create-date{margin-bottom: 0;}
                p.detail{margin-bottom: 14px;}
            }
        }
    }
    @extend %content;
}

#need{
    @extend %head;
    .need-left{
        background-color: #fff;
        flex: 0 0 62.5%;
        max-width: 62.5%;
        box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
        .qd{
            flex: 0 0 51%;
            max-width: 51%;
            @extend %note-top-left;
            padding: 19px 40px 10px 25px;
            .qd-list{
                margin-top: 2rem;
                flex-direction: column;
                .item{
                    margin-bottom: 1.5rem;
                    .head-item{
                        flex: 0 0 100%;
                        max-width: 100%;
                        position: relative;
                        margin-bottom: .8rem;
                        .head-span{
                            width: 90%;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding-left: 46px;
                            p{
                                color: $blue-w;
                                font-size: .9rem;
                                font-family: $UTM-Penu;
                                margin-bottom: 0;
                                line-height: 1;
                                &:last-child{
                                    line-height: 1.5;
                                }
                            }
                            border-bottom: 1px solid $blue-w;
                        }
                        &:hover p{
                            color: $red-w;
                        }
                    }
                    .main-item{
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-left: 30px;
                        p{
                            line-height: 1.2;
                            font-size: .9rem;
                            margin-bottom: 0;
                            text-align: justify;
                        }
                    }
                }
            }
        }
        .qa{
            flex: 0 0 49%;
            max-width: 49%;
            @extend %note-top-left;
            padding: 19px 17px 10px;
            border-left: 1px solid rgba($color: $sub, $alpha: 0.3);
            .head-qa{
                margin-top: 1rem;
                .head-1{
                    width: 20%;
                    img{
                        width: 100%;
                    }
                }
                .head-2{
                    width: 80%;
                    padding-left: 5%;
                }
                p{
                    padding-left: 0;
                }
            }
            p{
                position: relative;
                padding-left: 35px;
                line-height: 1.2;
            }
            p.answer{
                text-align: justify;
                margin-bottom: 1.5rem;
            }
            .quest, .answer{
                font-size: .9rem;
                &::before{
                    font-family: $UTM-R;
                    text-transform: uppercase;
                    font-size: 28px;
                    position: absolute;
                    left: 0;
                }
            }
            .quest{
                color: $blue-w;
                &::before{
                    top: -8px;
                    content: 'q';
                    color: $blue-w;
                }
            }
            .answer{
                color: #565657;
                &::before{
                    top: -5px;
                    content: "a";
                    color: $red-w;
                }
            }
        }        
    }
    .about{
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
        flex: 0 0 36%;
        max-width: 36%;
        @extend %note-top-left;
        padding: 19px 22px;
        .about-img{
            margin-top: 1.2rem;
            margin-left: -22px;
            margin-right: -22px;
            margin-bottom: 1.5rem;
            overflow: hidden;
            img{
                width: 100%;
                transition: transform .3s ease;
            }    
            a:hover img{
                transform: scale(1.1);
            }        
        }
        p{
            line-height: 1.2;
            font-size: 0.9rem;
            color: #464646;
        }
    }
    p.head{
        font-family: $UTM-San;
        font-size: .9rem;
        text-align: justify;
    }
}

#views{
    @extend %head;
    margin-bottom: 2rem;
    .views-list{
        justify-content: space-between;
        .item{
            background-color: #fff;
            box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
            flex: 0 0 24%;
            max-width: 24%;
            padding: 0 16px;
            margin-bottom: .7rem;
            .item-img{
                margin: 0 -16px 1rem;
                display: block;
                overflow: hidden;
                img{
                    width: 100%;
                    object-fit: cover;
                    transition: all .2s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            @extend %content;
        }
        
    }
    
}

footer{
    background-color: $blue-b;
    .main-footer{
        padding-top: 19px;
        justify-content: space-between;
        .footer-left{
            flex: 0 0 37.5%;
            max-width: 37.5%;
            flex-direction: column;
            .logo{
                padding-bottom: 1rem;
                border-bottom: 1px solid #114272;
                img{
                    width: 100%;
                }
            }
            .address{
                padding-top: 10px;
                padding-left: 3px;
                line-height: 1;
                margin-bottom: 2rem;
                a:hover, a:focus{
                    color: $red-w;
                    text-decoration: underline;
                }
                *{
                    color: #7a9cbe;
                    font-size: .8rem;
                    font-family: $UTM-R;
                }
            }
            
        }
        .footer-right{
            flex: 0 0 60%;
            max-width: 60%;
            padding-top: 3px;
        }
    }
    .bot-footer{
        background: -moz-linear-gradient(90deg, $blue-w 60%, $red-w 60%,$red-w 100%);
        background: -webkit-linear-gradient(90deg, $blue-w 60%, $red-w 60%,$red-w 100%);
        background: linear-gradient(90deg, $blue-w 60%, $red-w 60%,$red-w 100%);
        padding: 5px 0 8px;
        .copyright{
            width: 60%;
            padding-left: 20px;
            font-size: .8rem;
            font-family: $UTM-R;
            *{
                color: #70afed;
            }
        }
        .designby{
            width: 40%;
            padding-right: 20px;
            text-align: right;
            font-size: .8rem;
            font-family: $UTM-R;
            *{
                color: white;
            }
        }
    }
}
.link-follow{
    justify-content: space-between;
    .item{
        padding-left: 3px;
        flex: 0 0 33%;
        max-width: 33%;
        position: relative;
        .text{
            color: #fff;
            font-family: $UTM-R;
            font-size: .8rem;
            line-height: 1.2;
            position: absolute;
            top: 0;
            left: 42px;
        }
        a:hover{
            color: #fff;
        }
    }
}
.sEmail{
    background-color: $blue-bb;
    color: #fff;
    height: 75px;
    .email-left{   
        flex: 0 0 53.5%;
        max-width: 53.5%;     
        .text-title{
            flex: 0 0 40%;
            max-width: 40%;
            border-right: 3px solid #14467a;
            margin: 12px 0;
            p{
                font-family: $UTM-R;
                font-size: .9rem;
                color: #fff;
                text-align: right;
                line-height: 1;
                padding-top: 15px;
                padding-right: 20px;
            }
        }
        .text-detail{
            flex: 0 0 60%;
            max-width: 60%;
            p{
                font-size: .8rem;
                font-family: $UTM-San;
                color: #fff;
                margin-top: 12px;
                margin-bottom: 12px;
                padding-left: 20px;
                padding-right: 10px;
                line-height: 1.2;
                
            }
        }
    }
    
    .sEmail-form{
        flex: 0 0 46.5%;
        max-width: 46.5%;
        display: flex;
        flex-direction: row;
        padding-top: 12px;
        .iput{
            flex: 0 0 57%;
            max-width: 57%;
            display: flex;
            input{            
                background-color: transparent;
                border-radius: 0;
                border-color: #14467a;
                font-size: .9rem;
                height: 42px;
                width: 77.3%;
                display: inline-block;
                transition: border-color .3s ease;
                position: relative;
                &:focus{
                    color: #fff;
                    border-color: #175da7;
                    box-shadow: none;
                }
            }
        }
        button{
            margin-left: 16px;
            width: 40%;
            height: 42px;
            background-color: #ef3c20;
            font-family: $UTM-B;
            border: 1px solid #ef3c20;
            border-radius: 0;
            transition: all .3s ease;
            &:focus, &:hover{
                box-shadow: none;
                color: $blue-w;
            }
        }
    }
}

.menu-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item{
        width: 32%;
        font-family: $UTM-R;
        font-size: .9rem;
        color: #fff;
        position: relative;
        padding-left: 20px;
        padding-bottom: 10px;
        &::before{
            content: "";
            width: 3px;
            height: 1rem;
            background-color: #fff;
            position: absolute;
            top: 2px;
            left: 0;
        }
        .sub-menu{
            display: block;
            margin-top: 7px;
            li{
                text-transform: none;
                display: block;                
                a{
                    font-family: $UTM-R;
                    font-size: .85rem;
                    color: #b7d9fc;
                    transition: color .3s ease;
                    &:hover{
                        color: $red-w;
                    }
                }
            }
        }
    }
}

#about-vta, #bdh-vta, #tintuc, #bieuphi, #list-ttv, #list-hinhanh, #list-qa, #dktt, #contact, #list-vbm{
    @extend %mr-top-head;
    .sub-title{
        padding: 0 28px;
        margin-bottom: 10px;
        .create-date{
            flex: 0 0 17%;
            max-width: 17%;
            padding-right: 20px;
            border-right: 1px solid $sub;
            span{
                font-size: .8rem;
            }
        }
        .follow-count{
            flex: 0 0 80%;
            max-width: 80%;
            padding-left: 20px;
            display: flex;
            flex-wrap: nowrap;
            .share{
                width: 100px;
                height: 25px;
                display: flex;
                justify-content: space-between;
                border: 1px solid #dadada;                
                margin-right: 0.5rem;
                border-radius: 5px;
                &-fb{
                    background-color: #39579a;
                }
                &-twitter{
                    background-color: #00abf0;
                }
                &-pint{
                    background-color: #cd1d1f;
                }
                &-google{
                    background-color: #df4a32;
                }
                i{
                    padding-left: 7px;
                    color: #fff;
                    font-size: .9rem;
                    line-height: 21px;
                }
                a{
                    line-height: 21px;
                    color: #fff;
                    font-family: 'Segoe-B';
                    font-size: 0.8rem;
                    transition: color .2s ease;
                    &:hover{
                        color: $red-w;
                    }
                }
                .count{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        margin-top: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent #fff transparent transparent;
                    }
                    position: relative;
                    width: 27px;
                    text-align: center;
                    background-color: #fff;
                }
            }
        }
    }
    .detail{
        border-top: 1px solid rgba($color: #ccc, $alpha: 0.55);
        margin: 0px 28px 19px;
        padding-top: 19px;
        p.detail-b{
            font-family: $Segoe-B;
            color: #000;
        }
        img{
            margin-bottom: 1rem;
        }
        p{
            font-family: $Segoe-R;
            font-size: .9rem;
            text-align: justify;
            color: #463f3f;
        }
    }
}

.mr-top-head{
    position: relative;
    &::before{
        content: "";
        width: 45%;
        height: 4px;
        background-color: $red-w;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title-lager{
        // height: 72px;
        h1{
            font-family: $UTM-Penu;
            display: inline-block;
            height: 100%;
            font-size: 1.9rem;
            color: $title;
            padding: 5px 28px 30px;
        }
    }
}

.news-first-one{
    margin-left: 6%;
    width: 94%;
    display: flex;
    flex-direction: column;
    
    .title-one{
        margin-top: 20px;
        padding: 0px 0 10px 30px;
        position: relative;
        &::before{
            content: "";
            width: 4px;
            height: 1rem;
            background-color: $red-w;
            line-height: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .h4{
        font-size: 1rem;
        font-family: "UTM-Penu";
        color: #104799;
    }
    .detail-img{
        width: 100%;
        overflow: hidden;
        img{
            width: 100%;
            transition: all .4s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .detail-one{
        @extend %content;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba(182, 198, 213, 0.8);
        .title{
            font-size: .9rem;
        }
    }
}

.manager{
    justify-content: space-between;
    &:not(:last-child){
        border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.45);
    }
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.bdh{    
    .bdh-img{
        flex: 0 0 25%;
        max-width: 25%;
        img{
            width: 100%;
        }
    }
    .bdh-profile{
        flex: 0 0 72%;
        max-width: 72%;
        p.name{
            font-family: $Segoe-B !important;
            font-size: .9rem;
            color: $title !important;
        }
        p.detail-profile{
            font-size: .9rem;
            color: #463f3f;
            line-height: 1.5;
        }
    }
}
.ttv{
    flex-wrap: nowrap;
    padding-bottom: 3.5rem;
    margin-bottom: 25px !important;
    .ttv-img{
        width: 160px;
        margin-right: 30px;
        img{
            border: 7px solid #f1efef;
        }
    }
}
.ttv-profile, .vbm{
    position: relative;
    .name{
        height: 42px;
        color: #f04022 !important;
        font-family: $UTM-Penu !important;
        font-size: 1rem;
        display: block;
        background-color: #eaf5ff;
        line-height: 42px;
        padding-left: 12px;
        margin-bottom: 10px;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
    }
    p{
        line-height: 1.5;
        margin-bottom: 0;
    }
    .nt{
        color: #050505 !important;
        font-family: $Segoe-B !important;
        font-size: .9rem !important;
    }
    .mt{
        line-height: 1.2 !important;
        margin-bottom: 5px;
        color: #463f3f !important;
        font-size: .9rem !important;
    }
}
.vbm{
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba($color: #ccc, $alpha: 0.55);
    p.vbm-detail{
        padding-right: 32%;
    }
}
#tintuc{
    .tintuc-img{
        position: absolute;
        top: 1px;
        right: 1px;
        height: 484px;
        width: auto;
    }
    .detail-tintuc{
        position: absolute;
        bottom: 28px;
        flex: 0 0 40%;
        max-width: 40%;
        @extend %content;
        padding-left: 28px;
        .title{
            font-size: .85rem;
            font-weight: 600;
            line-height: 1;
        }
        .detail{
            margin: 0 !important;
            line-height: 1.2;
            text-align: justify;    
        }
    }
}

.form-bieuphi{
    padding: 10px 28px 1rem;
    display: flex;
    flex-direction: column;
    .title{
        padding-left: 12px;
        font-family: $Segoe-B;
        font-size: .9rem;
        color: #000;
        border-left: 3px solid $red-w;
        margin-bottom: 1rem;
    }
    .f-bieuphi{
        justify-content: space-between;
        >*{
            height: 42px !important;
            border-radius: 0 !important;
            font-family: $UTM-R;
            font-size: .9rem;
            &:focus{
                box-shadow: none;
                border-color: #666869;
            }
        }
        input.fbieuphi{
            flex: 0 0 57%;
            max-width: 57%;
        }
        select{
            flex: 0 0 11%;
            max-width: 11%;
        }
    }    
}
.bieuphi-text{
    margin-bottom: 5rem;
    padding: 10px 28px;
    .head{
        color: #286eb2;
        font-size: 1.2rem;
        font-family: $UTM-Penu;
        margin-bottom: 2rem;
    }
    p{
        line-height: 1.2;
    }
}

button.form-ds{
    height: 42px !important;
    border-radius: 0 !important;
    font-size: .9rem;
    &:focus{
        box-shadow: none;
    }
    flex: 0 0 30%;
    max-width: 30%;
    background-color: #104799;
    color: #fff;
    font-family: $UTM-B !important;
    line-height: 1;
    cursor: pointer;
    transition: all .3s ease;   
    &:hover{
        color: $red-w;
    }
    &:focus{
        border-color: #104799;
        background-color: #104799;
    }
}

.table-w{
    thead{
        text-align: center;
        tr th{
            padding: 2px 0 5px;
        }
        .top{
            background-color: #93bcea;
            th{
                font-family: $Segoe-B;
                font-size: .9rem;
                color: #000;
            }
        }
        .sub{
            background-color: #cde3fc;
            th{
                font-family: $Segoe-BI;
                font-size: .9rem;
                color: #0f3f75;
            }
        }
    }
    tbody{
        tr:first-child td{
            padding-top: 1rem;
        }
        *{
            color: #404141;
            font-family: $Segoe-R;
            font-size: .9rem;
        }
        .note{
            font-weight: bolder;
            color: #000;
            margin-bottom: .5rem;
        }
        ol{
            @extend %ol;
            li{
                padding-right: 2rem;
                &::before{
                    content: "(" counter(section, lower-alpha) ") ";
                }
            }
        }
    }
    td, th{
        padding: 0 1rem;
        &:not(:last-child){
            border-right: 1px solid #b3cbe6;
        }
    }
}

#contact{
    .main-contact{
        flex: 0 0 66.66667%;
        max-width: 0 0 66.66667%;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        *{
            font-family: $Segoe-R;
            font-size: 1rem;
            color: #000;
        }
        input{
            height: 42px;
            margin-bottom: .7rem;
        }
        input, textarea{
            border-radius: 0;
            font-size: .9rem;
            &:focus{
                box-shadow: 0 0 10px 1px rgba($color: $blue-l, $alpha: .8);
            }
        }
        .row{
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
        .form-ds{
            align-self: flex-end;
            flex: 0 0 40%;
            max-width: 40%;
            margin-top: 1.5rem;
            color: #fff;
            font-size: .9rem;
            background-color: $red-w !important;
            transition: .4s color ease;
            float: right;
            &:hover{
                color: $blue-w;
            }
        }
    }
    .link-fanpage{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        .text{
            color: #000;
        }
        .item{
            margin-bottom: 1rem;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

#list-qa{
    ol{
        @extend %ol;        
        li{
            padding-left: 1.5rem;
            &::before{
                font-family: $Segoe-R;
                font-family: .9rem;
                color: #0b3453;
                content: "" counter(section, decimal) ". ";
            }
            a{
                font-family: $Segoe-R;
                font-size: .9rem;
                color: #0b3453;
                transition: color .4s ease;
                &:hover{
                    color: $red-w;
                    text-decoration: underline;
                }
            }
        }
    }
    .qa-item{
        position: relative;
        margin-bottom: 2rem;
        .quest{
            font-family: $Segoe-B;
            font-size: 1.2rem;
            color: #d10707;
            margin-bottom: 1.5rem;
        }
        .answer p{
            font-size: .9rem;
            color: #010101;
            line-height: 1.2;
            margin-bottom: 1.5rem;
        }
        a.on-top{
            color: #02529c;
            font-family: $Segoe-B;
            font-size: .9rem;
            position: absolute;
            right: 0;
            bottom: 0;
            transition: color .4s ease;
            &:hover{
                color: $red-w;
            }
        }
    }
}

#list-hinhanh{
    .item{
        flex: 0 0 32%;
        max-width: 32%;
        margin-bottom: 2rem;
    }
    .item-img{
        position: relative;    
        overflow: hidden;    
        img{
            width: 100%;
            margin-bottom: .3rem !important;
            cursor: pointer;
            border: 7px solid #f1efef;
            transition: border-color .7s ease;
            &:hover{
                border-color: #83a4c3;
            }
        }
    }
    a.title{
        display: inline-block;
        font-family: 'Helve-R';
        color: #000;
        font-size: .95rem;
        text-align: center;
        transition: color .4s ease;
        &:hover{
            color: $red-w;
        }
    }
}