@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { font-size: 0; list-style: none; }
ol li, ul li { font-size: 1rem; }

blockquote, q { quotes: none; }

blockquote:before, q:before, blockquote:after, q:after { content: ''; content: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.site-icon-phone::before { background-image: url("../images/Themes/icon/phone.png"); width: 15px; height: 15px; content: ''; display: inline-block; margin-right: 8px; }
.site-icon-email { margin-right: 8px; background-size: cover; width: 16px; height: 12px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/email.png"); }
.site-icon-fb { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/facebook.png"); }
.site-icon-youtube { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/youtube.png"); }
.site-icon-instagram { margin-right: 8px; background-size: cover; width: 15px; height: 15px; content: ''; display: inline-block; background-image: url("../images/Themes/icon/instagram.png"); }

html { font-size: 14px; }

body { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; word-spacing: 1px; color: #333333; background: #ffffff; }
body p { line-height: 1.4; }

.wrapper { max-width: 1170px; margin: auto; }

.bgPage { background: #727674; z-index: -1; width: 100%; height: 100%; opacity: 0.5; }

.bgPage.show { z-index: 99; }

.text-b { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: bold; }

.text-upper { text-transform: uppercase; }

.color-main { color: #333333 !important; }

.color-black { color: #000; }

.color-gray { color: #a8a8a8; }

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link { border-radius: 0; }
.pagination .page-item.active { pointer-events: none; }
.pagination .page-item.active .page-link { background-color: #333333; outline-color: transparent; border: 1px solid #c9c9c9; }
.pagination .page-link { color: #a2a4a2; padding-top: 10px; padding-bottom: 10px; }
.pagination .page-link:focus { box-shadow: none; }
.pagination .page-item { margin-right: 0.5rem; }

.thumnails { font-size: 0; }

a.no-decoration { text-decoration: none; }

h3.title { color: #00529c; font-weight: bold; }

.active { color: #00529c !important; }

.no-position { position: initial; }

.breadcrumb-item + .breadcrumb-item::before { font-family: ""; content: "\f105"; font-family: "Font Awesome 5 Pro"; font-weight: 300; }

.breadcrumb { background-color: transparent; }
.breadcrumb .breadcrumb-item { text-transform: uppercase; color: #333333; }
.breadcrumb .breadcrumb-item:hover { color: #00529c; }

.text-detail p { margin-bottom: .5rem; }

::-webkit-scrollbar { height: 4px; /* height of horizontal scrollbar ← You're missing this */ width: 4px; border: 1px solid #333333; }

::-webkit-scrollbar-track { border-radius: 0; background: #eeeeee; }

::-webkit-scrollbar-thumb { border-radius: 0; background: #00529c; }

.b-before::before { content: ''; display: inline-block; width: 96px; height: 67px; background-color: #e0e3e0; position: absolute; z-index: 1; }

.box-2 { position: relative; z-index: 2; padding-left: 3rem; }

.caps { position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-family: 'MS Italic'; font-size: 150px; color: #ced0ce; }

.button-link { cursor: pointer; height: 40px; display: inline-block; border: 1px solid #00529c; color: #fff; padding: .6rem 2rem; text-transform: uppercase; transition: .4s ease; background-color: #00529c; }
.button-link:hover, .button-link:active, .button-link.active { text-decoration: none; }
.button-link:after { content: ""; }

.button-link-2 { cursor: pointer; display: inline-block; border: 1px solid #98cd85; border-radius: 5px; color: #fff; padding: .5rem 1.5rem; font-size: 1.5rem; transition: .6s ease; background-color: #333333; }
.button-link-2:hover, .button-link-2:active, .button-link-2.active { color: #fff; box-shadow: 0px 0px 10px 1px #333333; text-decoration: none; border-color: #333333; outline-color: transparent; }
.button-link-2:after { content: ""; }

.main-menu { display: block; padding-top: 0.75rem; height: 100%; }
.main-menu > li { height: 100%; padding: 1rem 1.5rem; display: inline-block; cursor: pointer; }
.main-menu > li a { color: #333333; font-weight: 600; }
.main-menu > li a:hover { text-decoration: none; }
.main-menu > li a:hover { color: #00529c; }
.main-menu > li.hasChild:hover::after { color: #00529c; }
.main-menu > li.hasChild:hover .child-menu { opacity: 1; visibility: visible; }
.main-menu > li.hasChild::after { content: '\f107'; font-size: 1.5rem; font-family: 'Font Awesome 5 Pro'; font-weight: 300; line-height: 1; vertical-align: bottom; }

.child-menu { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: absolute; display: block; left: 0; top: 100%; width: 100%; height: 25vh; min-height: 150px; z-index: 100; background-color: #fff; transition: .4s ease-in-out; opacity: 0; visibility: hidden; }
.child-menu ul { width: 100%; display: flex; height: 100%; }
.child-menu li { text-align: center; margin-top: auto; margin-bottom: auto; position: relative; }
.child-menu li::after { content: ""; width: 1px; height: 80px; background-color: #ccc; position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
.child-menu li:last-child::after { content: none; }
.child-menu li a:hover img { transform: scale(1.05); }
.child-menu li img { transition: .3s ease-in-out; }

.menu-product li { width: 20%; }

.menu-orther li { width: 25%; position: relative; }
.menu-orther li a:hover img { transform: none; }
.menu-orther li img { transition: none !important; }
.menu-orther li .img-ico { z-index: 1; }
.menu-orther li .img-ico-hover { position: absolute; z-index: -1; opacity: 0; visibility: hidden; }
.menu-orther li:hover .img-ico { position: absolute; opacity: 0; visibility: hidden; z-index: -1; }
.menu-orther li:hover .img-ico-hover { position: inherit; opacity: 1; visibility: visible; z-index: 1; }

header { position: relative; }

.header { margin-top: auto; margin-bottom: auto; }

.logo { padding-top: 1rem; padding-bottom: 1rem; }

.lang { font-size: 0; padding-top: 2rem; height: 100%; }
.lang a { font-size: .9rem; color: #333333; display: inline-block; padding: 0 .75rem; line-height: 1; }
.lang a:first-child { border-right: 1px solid #333333; }

.search { line-height: 1; vertical-align: middle; }
.search .btn-search { background-image: url("../images/Themes/icon/ico-search.png"); background-repeat: no-repeat; background-size: cover; }
.search button.btn-search { background-color: transparent; border: none; box-shadow: none; width: 21px; height: 21px; cursor: pointer; }
.search button.btn-search:active, .search button.btn-search:focus { outline-color: transparent; }
.search .mainSearch { border-top: 1px solid #ccc; position: absolute; display: block; left: 0; top: 100%; width: 100%; height: 25vh; min-height: 150px; z-index: 99; background-color: #fff; transition: .4s ease-in-out; opacity: 0; visibility: hidden; }
.search .mainSearch.show { opacity: 1; visibility: visible; }
.search .form-group { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.search .form-group input.form-control { border-color: #ccc; border-radius: 0; height: 50px; line-height: 50px; font-size: 1.5rem; }
.search .form-group input.form-control::placeholder { color: #cccccc; }
.search .form-group input.form-control:focus { box-shadow: none; border-color: #ccc; }
.search .form-group button.btn-search { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 25px; height: 25px; }

footer { background-color: #00529c; padding-top: 2rem; height: 100px; }

ul.menu-footer { display: block; }
ul.menu-footer li { line-height: 30px; vertical-align: bottom; padding-left: 1.75rem; padding-right: 1.75rem; display: inline-block; }
ul.menu-footer li a { color: #fff; text-transform: uppercase; }
ul.menu-footer li span { color: #fff; }
ul.menu-footer li:first-child { padding-left: 0; }

.follow-footer span { margin-right: 0.5rem; display: inline-block; line-height: 30px; width: 30px; height: 30px; text-align: center; border: 1px solid #fff; border-radius: 50%; color: #fff; }
.follow-footer span::after { margin-right: 0; }
.follow-footer span a { color: #fff; }

.infoFooter .link { position: relative; }
.infoFooter .link:hover img { animation-name: upTop; animation-duration: 0.4s; animation-timing-function: ease-in-out; animation-direction: alternate; animation-iteration-count: 2; }

@-webkit-keyframes upTop { 0% { transform: translateY(0); }
  100% { transform: translateY(-10%); } }
@-moz-keyframes upTop { 0% { transform: translateY(0); }
  100% { transform: translateY(-10%); } }
@-ms-keyframes upTop { 0% { transform: translateY(0); }
  100% { transform: translateY(-10%); } }
@keyframes upTop { 0% { transform: translateY(0); }
  100% { transform: translateY(-10%); } }
.nav-product { border-bottom: 1px solid #ccc; padding-top: 1.5rem; padding-bottom: 1.5rem; }

.slider-product .swiper-slide:after { content: ""; width: 1px; height: 74px; background-color: #ccc; position: absolute; right: 0; top: 50%; transform: translateY(-50%); }

.news { padding-top: 1.5rem; }
.news h3.title { margin-bottom: 1.5rem; }
.news .item { cursor: pointer; margin-bottom: 2rem; position: relative; }
.news .item:hover .headline { opacity: 1; visibility: visible; z-index: 100; }
.news .item .headline { display: grid; place-items: center; justify-content: left; position: absolute; left: 1rem; bottom: 0; width: calc(100% - 2rem); padding: 1rem 1.5rem; min-height: 63px; background: rgba(0, 0, 0, 0.66); opacity: 0; transition: 0.4s ease; visibility: hidden; }
.news .item .headline a { color: #fff; }

.infoFooter { margin-bottom: 1.5rem; }
.infoFooter h3.title { margin-bottom: 1.5rem; }
.infoFooter .link a { color: #333333; text-decoration: none; }
.infoFooter .link a:hover { color: #00529c; }

.nav-left > ul { display: block; }
.nav-left > ul li { display: block; text-align: right; transition: 0.4s ease; }
.nav-left > ul li:not(:last-child) { border-bottom: 3px solid #fff; }
.nav-left > ul li.active, .nav-left > ul li:hover { background-color: #00529c; }
.nav-left > ul li.active a, .nav-left > ul li:hover a { color: #fff; }
.nav-left a { padding-top: 5px; padding-bottom: 5px; display: block; padding-right: 1rem; padding-left: 1rem; font-size: 1.5rem; transition: 0.4s ease; color: #00529c; font-family: "UTM Hanzel"; text-transform: uppercase; text-decoration: none; }

.scrollToTop.show { bottom: 35px; opacity: 1; visibility: visible; background: transparent; }

.scrollToTop { width: 50px; height: 50px; line-height: 50px; text-align: center; color: #ccc; text-decoration: none; border: 2px solid #ccc; border-radius: 100%; bottom: -38px; cursor: pointer; opacity: 0; position: fixed; right: 15px; visibility: hidden; z-index: 9999; -webkit-transition: all .6s ease; -moz-transition: all .6s ease; -o-transition: all .6s ease; transition: all .6s ease; }
.scrollToTop:hover { color: #ccc; }

.stick-right { position: fixed; bottom: 5vw; right: 0; z-index: 199; transform: translateY(-50%); pointer-events: none; }
.stick-right .item { border-radius: 5px 0 0 5px; pointer-events: all; background-color: #00529c; cursor: pointer; margin-bottom: 2px; transition: right .4s ease; position: relative; right: calc(-100% + 50px); display: flex; flex-wrap: nowrap; height: 50px; }
.stick-right .item:hover { right: 0; }
.stick-right .item:hover .left-show { background-color: #00529c; }
.stick-right .item .left-show { border-radius: 5px 0 0 5px; display: flex; width: 50px; background-color: #333333; transition: .4s ease; }
.stick-right .item .right-hide { text-align: center; display: flex; padding: 25px 1rem; color: #fff; line-height: 0; background-color: #00529c; }
.stick-right .item .right-hide a { color: #fff; text-decoration: none; padding-left: 5px; }
.stick-right .item .right-hide a[href^="tel:"] { font-weight: bold; font-size: 1.3rem; }

.news .item .thumnails { display: block; overflow: hidden; }
.news .item .thumnails img { transition: .4s ease; }
.news .item:hover img { transform: scale(1.05); }

.page-newsDetail { margin-top: 3rem; padding-bottom: 2rem; border-bottom: 1px solid #ccc; }
.page-newsDetail .row { margin: 0; }
.page-newsDetail h4.title, .page-newsDetail h3.title { color: #00529c; margin-bottom: 1rem; padding-left: 15px; font-weight: normal; }
.page-newsDetail h4.headline { margin-bottom: 0.5rem; }
.page-newsDetail .top-post { margin-bottom: 1rem; }
.page-newsDetail .detail p { margin-bottom: 0.5rem; }
.page-newsDetail .list-about { margin-top: 1.5rem; }
.page-newsDetail .list-about .item { padding-left: 3rem; padding-right: 3rem; padding-top: 1rem; padding-bottom: 1rem; }
.page-newsDetail .list-about .item img { padding-bottom: 1.5rem; }
.page-newsDetail .list-about .item > * { margin-bottom: 0.5rem; }

.list-showroom { padding-top: 2rem; padding-bottom: 2rem; }
.list-showroom .title { margin-bottom: 1rem; }
.list-showroom .title::before { content: "\f3c5"; font-family: "Font Awesome 5 Pro"; font-weight: 900; color: #00529c; padding-right: 1rem; }
.list-showroom .showroom, .list-showroom .agent { margin-bottom: 1.5rem; }

.page-news { margin-top: 3rem; border-bottom: 1px solid #ccc; }
.page-news .row { margin: 0; }
.page-news h3.title { color: #00529c; margin-bottom: 1rem; padding-left: 15px; font-weight: normal; }
.page-news .list-post .item .main-post { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.page-news .list-post .item { margin-bottom: 1.5rem; }
.page-news .list-post .title { margin-bottom: 1rem; }
.page-news .list-post .title a { color: #333333; }
.page-news .list-post .title a:hover { text-decoration: none; color: #00529c; }
.page-news .list-post-2 .item .main-post { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.page-news .list-post-2 .item.item-head { display: flex; flex-direction: column; justify-content: center; }
.page-news .list-post-2 .item { margin-bottom: 1.5rem; }
.page-news .list-post-2 .title { margin-bottom: 1rem; }
.page-news .list-post-2 .title a { color: #333333; }
.page-news .list-post-2 .title a:hover { text-decoration: none; color: #00529c; }

.sub-post { font-size: 0.8rem; }

.list-orther { margin-left: 0; margin-right: 0; margin-top: 3rem; padding-bottom: 2rem; }
.list-orther h4.title, .list-orther h3.title { color: #00529c; margin-bottom: 1rem; padding-left: 15px; font-weight: normal; }
.list-orther .item:not(:last-child) { border-bottom: 1px solid #ccc; }
.list-orther .item { padding-top: 1rem; padding-bottom: 1rem; }
.list-orther .item a:hover { text-decoration: none; }

.product-detail { margin-top: 2rem; padding-bottom: 2rem; padding-left: 1em; padding-right: 1em; }
.product-detail .product-name { text-transform: uppercase; margin-bottom: 1.5rem; }
.product-detail .product-sumary { margin-bottom: 1.5rem; }

#link-product { margin-bottom: 2rem; }
#link-product .nav-link { padding-top: 0.5rem; padding-bottom: 0.5rem; color: #a8a8a8; text-transform: uppercase; position: relative; }
#link-product .nav-link:hover, #link-product .nav-link.active { color: #00529c; }
#link-product .nav-link:hover::after, #link-product .nav-link.active::after { width: 90%; background-color: #00529c; left: 50%; bottom: 0; transform: translateX(-50%); }
#link-product .nav-link::after { content: ""; width: 0; height: 1px; background-color: transparent; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); transition: 0.4s ease; }
#link-product .nav-link.download { color: #000; text-transform: initial; }
#link-product .nav-link.download::before { content: url("../images/Themes/icon/ico-download2.png"); background-repeat: no-repeat; padding-right: 1rem; }
#link-product .nav-link.download:hover { color: #00529c; }
#link-product .nav-link.download:hover::after { content: none; }

.page-product section { margin-bottom: 1.5rem; }
.page-product section .product-propoti { padding-bottom: 1.5rem; }

.page-showroom { padding-top: 2rem; padding-bottom: 2rem; }

.advertisement { position: relative; }
.advertisement img { width: 100%; object-fit: cover; object-position: center center; }
.advertisement .fig_title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-transform: uppercase; font: 50px Arial; line-height: 52px; color: #ffffff; }

.select_value { margin-bottom: 30px; }
.select_value .area select, .select_value .district select { border-color: #ccc; padding: 10px; width: 100%; text-transform: uppercase; }
.select_value .area select:focus, .select_value .district select:focus { outline: none !important; box-shadow: none; }
.select_value .area select option, .select_value .district select option { text-transform: uppercase; font: 14px; color: #333333; }

.showroom_content { margin-top: 2rem; padding-bottom: 2rem; border-bottom: 1px solid #ccc; }
.showroom_content .maps_img { display: flex; justify-content: center; align-items: center; }
.showroom_content .maps_img img { object-fit: cover; object-position: center center; }
.showroom_content .showroom { height: 400px; overflow: hidden scroll; }
.showroom_content .showroom .room { height: 200px; }
.showroom_content .showroom .room .room_name { margin-bottom: 15px; }
.showroom_content .showroom .room .room_name h3 { margin-bottom: 0; }
.showroom_content .showroom .room .room_name h3 a { font: 20px; color: #333333; text-decoration: none; }
.showroom_content .showroom .room .room_name h3 a:hover { color: #00529c; }
.showroom_content .showroom .room .room_contact { margin-bottom: 20px; }
.showroom_content .showroom .room .room_contact p { margin-bottom: 0; font: 14px; line-height: 24px; }
.showroom_content .showroom .room .room_contact p a { text-decoration: none; color: #333333; }

.lft { margin-top: 40px; margin-bottom: 30px; }
.lft .room_location .location_name { margin-bottom: 15px; }
.lft .room_location .location_name h3 { margin-bottom: 0; font: 20px; color: #333333; }
.lft .room_location .location_name h3 i { color: #00529c; }
.lft .room_location .location_hotline p { font: 14px; color: #333333; line-height: 24px; }

.product-main { padding-bottom: 2rem; }

.product-main .nav-left li .logo-child { height: 20px; width: 100%; object-fit: none; object-position: right 0px; }
.product-main .nav-left li.active .logo-child, .product-main .nav-left li:hover .logo-child { object-position: right -60px; }

.page-product .news .item .thumnails { height: 100%; }
.page-product .news .item .thumnails img { height: 100%; }

.nav-left ul.pk-layout li.active, .nav-left ul.pk-layout li:hover { background-color: transparent; }
.nav-left ul.pk-layout > li { text-align: left; text-transform: uppercase; }
.nav-left ul.pk-layout > li a { color: #333333; font-family: 'Arial'; }
.nav-left ul.pk-layout ul.lv2 > li .logo-child2 { height: 20px; width: 100%; object-fit: none; object-position: right -40px; }
.nav-left ul.pk-layout ul.lv2 > li a.active .logo-child2, .nav-left ul.pk-layout ul.lv2 > li a:hover .logo-child2 { object-position: right -20px; }
.nav-left ul.pk-layout ul.lv3 a { font-family: 'Arial'; color: #c1c1c1; font-size: 1rem; }
.nav-left ul.pk-layout ul.lv3 a:hover { color: #333333; }

.nav-right .item { margin-bottom: 1rem; }
.nav-right .item .thumb { display: block; overflow: hidden; }
.nav-right .item .thumb img { transition: .4s ease; }
.nav-right .item:hover img { transform: translate(-50%, -50%) scale(1.05); }

.thumb-fixed, .thumb { position: relative; height: 150px; }
.thumb-fixed img, .thumb img { max-width: 100%; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(1); }

/*# sourceMappingURL=site.css.map */
