@media screen and(max-width: 1160px){
    header .right{
        display: flex;
        justify-content: space-between;
        .hotline{
            margin-right: 0;
        }
    }
}
@media screen and(max-width: 1024px){
    .whychose{
        .main-whychose{
            >.col-md-3{
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 1rem;
            }
        }
    }
    .services .col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .medical .main-medical > div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .social-subrice{
        input{
            flex: 0 0 75%;
            max-width: 75%;
        }
        button{
            flex: 0 0 22%;
            max-width: 22%;
        }
    }
}
@media screen and (max-width: 900px){
    .link-follow{
        display: none;
    }
    .follow-mb{
        display: block;
    }
    header .right{
        padding-top: 0;
        flex-direction: column;
        >div{
            margin-bottom: 1rem;
        }
    }
    .medical .main-medical > .col-md-3{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1rem;
    }
    .medical .detail{
        height: 140px !important;
    }
    .medical .link-follow{
        bottom: 0 !important;
    }
    .main-news .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .social .link-search-f a{
        margin-right: 10px !important;
    }
    .social{
        padding: 0 .5rem;
    }
    .social-subrice{
        input{
            flex: 0 0 70%;
            max-width: 70%;
        }
        button{
            flex: 0 0 27%;
            max-width: 27%;
        }
    }
}


@media screen and(max-width: 768px){
    html{
        font-size: 14px !important;
    }
    body{
        overflow-x: hidden;
        position: relative;
        transition: left .4s ease;
    }
    header{
        padding-top: 10px;
        padding-bottom: 1rem;
        .right{
            display: flex;
            justify-content: space-around;
            >div{
                margin-bottom: .5rem;
            }
        }
        .logo{
            padding:  0 !important;
        }
    }
    .menu-2{
        display: block;
    }
    .logo-pc{
        display: none;
    }
    .logo-mb{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu-mb{
        display: flex;
    }
    .follow-mb{
        display: block;
    }
    .img{
        margin-bottom: 1rem;
    }
    .img-2{
        margin-bottom: 1rem;
    }
    p.title{
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        padding: 0;
    }
    .whychose{
        p.title{
            padding: 0 10px;
        }
        .row > div{
            margin-bottom: .5rem;
        }
    }
    footer ul.link{
        padding-top: 1.5rem;
        padding-left: 20px;
    }
    footer .right{
        margin-bottom: .5rem;
        margin-top: .5rem;
        padding-left: 35px ;
    }
    
    .scrollToTop{
        right: 10px;
    }
    .patients .img-patients img{
        width: 150px;
        height: 150px;
    }
    .medical .main-medical .detail{
        height: 160px !important;
    }
    .medical .main-medical > div{
        margin-bottom: 2rem;
    }
    .whychose .main-whychose > .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}
@media screen and(max-width: 767px){
    header .right{
        padding-top: 24px;
    }
    .cpr{
        display: none;
    }
    .left-contact{
        display: flex;
        flex-wrap: wrap;
        padding-left: 30px;
        order: 2;
        .item{
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 2rem;
        }
    }
    .contact-main{
        order: 1;
    }

}
@media screen and(max-width: 600px){
    .services .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .medical .col-md-3{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        img{
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .medical .detail{
        height: 140px !important;
    }
    .main-services{
        padding-left: 10px;
        padding-right: 10px;
        >div{
            padding-top: 0 !important;
        }
    }
    .services .pd-l-r-20{
        padding: 0 !important;
        margin-bottom: 1rem !important;
    }
    .slidershow-container .pre{
        left: 5px;
    }
    .slidershow-container .next{
        right: 5px;
    }
    .services-detail{
        padding: 10px;
    }
    .slidershow-container img{
        height: 300px;
    }
    .main-post{
        margin-bottom: 1rem;
    }
    .post>div{
        margin-bottom: 2rem;
    }
    
}
@media screen and(max-width: 475px){
    .left-contact{
        .item{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    header .right .hotline{
        margin-right: 15px;
    }
    .patients .img-patients img{
        width: 120px;
        height: 120px;
    }
    header .right{
        display: block;
        padding-left: 20px;
    }
    .slidershow-container img{
        height: 250px;
    }
    .main-news .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}