header{
    position: relative;
    z-index: 2;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        background-image: url('../images/Themes/bg-header.png');
        background-repeat: repeat;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.header-top{
    color: #757373;
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-bottom: 1px solid $color-border;
    a{
        color: #757373;
        &:hover, &.active{
            color: #fff;
            text-decoration: none;
        }
    }
}
ul.list-top{
    display: block;
    li{
        font-size: 13px;
        display: inline-block;  
        padding: .3rem .6rem;   
        i{
            vertical-align: middle;
        } 
        &.follow a{
            vertical-align: middle;
        }
    }
    &.top-left{
        li{
            &:not(:first-child){
                border-left: 1px solid #1c1d1d;
            }
        }
    }
    &.top-right{
        li{
            &:not(:last-child){
                border-right: 1px solid #1c1d1d;
            }
        }
    }
}