header{
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 4px;
        background-color: $color-child;
        position: absolute;
        top: 0;
        left: 0;
    }
    .top-header{
        background-color: $color-child;
        position: relative;
        &::before{
            content: "";
            width: 30px;
            border-top-width: 30px;
            border-right-width: 30px;
        }
        .right{
            justify-content: flex-end;
        }
    }
}