@font-face {
    font-family: 'UTM Libel KT';
    src: url('UTMLibelKT.eot');
    src: url('UTMLibelKT.eot?#iefix') format('embedded-opentype'),
        url('UTMLibelKT.woff2') format('woff2'),
        url('UTMLibelKT.woff') format('woff'),
        url('UTMLibelKT.ttf') format('truetype'),
        url('UTMLibelKT.svg#UTMLibelKT') format('svg');
    font-weight: normal;
    font-style: normal;
}