$color-main: #ff488a;
$color-child: #00997c;
$color-text-main: #000;
$heightImgItem: 205px;

@mixin transform($property) {    
    -webkit-transform: $property;
        -o-transform : $property;
        -ms-transform: $property;
            transform: $property;
}

@mixin column($count){
    -webkit-column-count: $count; /* Chrome, Safari, Opera */
    -moz-column-count: $count; /* Firefox */
        column-count: $count;
}

@mixin  column-gap($padding) {
    -webkit-column-gap: $padding; /* Chrome, Safari, Opera */
    -moz-column-gap: $padding; /* Firefox */
    column-gap: $padding;
}
*{
    margin: 0;
    padding: 0;
}
.p-fixed{
    position: fixed !important;
}
.rs-row{
    margin-left: 0;
    margin-right: 0;
}
p, span{
    font-family: 'Proxima-R';
    color: $color-text-main;
}
h3, .h3{
    font-size: 1.5rem;
    font-family: 'Proxima-SB';
}
h4, .h4{
    font-size: 1.3rem;
}
section{
    margin-top: 1.5rem !important;
    padding-bottom: 1rem;
    margin-bottom: 1rem !important;
}
body{
    transition: left .4s ease;
    position: relative;
}
.wrapper{
    max-width: 1170px;
    margin: auto;
}
.text-b, strong{
    font-family: 'Proxima-B';
}
.toUpper{
    text-transform: uppercase;
}
.pd-0{
    padding: 0 !important;
}
.color-main{
    color: $color-main;
}
.text-color-main{
    color: $color-text-main;
}
.no-pd{
    padding: 0 !important;
}
a{
    color: #000;
    transition: color .4s ease;
}
a:hover, a:active, a:focus{
    text-decoration: none; 
    color: $color-main;   
    outline-color: transparent;
}
.border-radius-0{
    border-radius: 0 !important;
}
main{
    background-color: #fff;
}
.space-between{
    justify-content: space-between;
}
.justify{
    text-align: justify;
}
.logo-mb{display: none;}
.btn-readmore, .summit{
    cursor: pointer;
    font-family: 'UTM-B';
    background-color: $color-main;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    transition: all .4s ease;
    text-decoration: none !important;
    &:hover{
        background-color: #fff;
        color: $color-main;
        border-color: $color-main;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}
.link a.read-more{
    color: #000;
    &:hover{
        color: #739305;
        text-decoration: underline;
    }
}

.column-2{
    @include column(2);
}
ul{
    list-style-type: none;
    font-size: 0;
    li{
        font-size: 1rem;
        a{
            font-family: 'Proxima-B';
        }
    }
}
.thumb{
    overflow: hidden;
    margin-bottom: 1rem;
    img{
        display: block;
        max-width: 100%;
    }
}
.text-i{
    font-style: italic;
}
.c-white{
    color: #fff;
}
.c-black{
    color: #000;
}
.c-gray{
    color: #a7a7a6;
}
.font-weight{
    font-weight: 600;
}
.pagination{
    justify-content: center;
    margin-top: 2rem;
    ul{
        display: inline-block;
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 5px;
            }
            a{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #666;
                text-align: center;
                line-height: 35px;
                transition: background-color .4s ease;
                &:hover,&.active{
                    background-color: $color-main;
                    color: #fff !important;
                }
            }
        }
    }
}
.hide{
    display: none;
}
.list{
    display: flex;
    flex-wrap: wrap;    
       
    
    .headline{
        margin-bottom: .5rem;
        font-family: 'UTM-Androgyne';
        a{
            font-size: 1.5rem;
            color: $color-main;            
            transition: color .4s ease;
        }
    }
    .sub-headline{
        font-family: 'Helvetica Neue';
        color: #acacab;
        font-size: 12px;
        margin-bottom: .5rem;
        padding-bottom: 5px;
        padding-top: .5rem;
        border-bottom: 1px solid #ccc;
        .by::before{
            content: "Theo ";
            padding-right: 2px;
            color: #acacab;
            font-weight: normal;
        }
        span:not(:last-child):after{
            content: "|";
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .link{
        position: absolute;
        left: 0;
        bottom: 0;
        a{
            text-decoration: underline;
        }
    }
}

#hide-w {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slick-arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    top: 50%;
    transition: box-shadow .4s ease, transform .4s ease;
    &:focus,&:active{
        border-radius: 50%;
        outline-color: transparent;
    }
    &:hover{
        box-shadow: 0px 0px 10px 1px #666666ad;
        border-color: #666666ad;
        @include transform(translateY(-55%));
    }
    @include transform(translateY(-50%));
}
.slick-prev{
    left: -2rem;    
}
.slick-next{
    right: -2rem;
}

.img-shine {
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: -210%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
    }
    &:hover{
        &::before{
            opacity: 1;
            top: -30%;
            left: -30%;
            transition-property: left, top, opacity;
            transition-duration: 0.7s, 0.7s, 0.15s;
            transition-timing-function: ease;
        }
    }
}
// form {
// 	width: 100%;
// 	height: 100%;
// 	padding-bottom: 75px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background-image: radial-gradient(at top, #b5e6cf, #9dddad);
// }
  
  ul.account-list{
    position: relative;;
    width: 100%;
  }
  
  ul.account-list > li{
    float:left;
    list-style-type:none;
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  ul.account-list label{
    font-family: 'Proxima-R';
    font-size: 1.15rem;
    margin-bottom: 0;
    position:relative;
    display:block;
    padding:0 25px 0 0;
    transition:background 0.3s;
    cursor:pointer;

    i::before{
        position:absolute;
        display:block;
        top: 0;
        right: 0;
        color: #3e3e3e;
        font-size: 28px;
        pointer-events: none;
        z-index: 2;
        transition: all 250ms cubic-bezier(.4,.25,.3,1);
        opacity: .6;
    }
    &:hover::after {
        opacity: 1
    }
  }
  ul.account-list input:checked ~ label > i::before{
    transform: rotate(180deg) scaleX(-1);
  }
  
  ul.account-list input{display: none}
  /*show the second levele menu of the selected voice*/
  ul.account-list  input:checked ~ ul.submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
  }
  
  /*style for the second level menu*/
  ul.account-list  ul.submenu{
    max-height:0;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    background:#f7f7f8;
    transition:max-height 0.5s ease-out;
    position:absolute;
    top: 130%;
    left: 0;
    min-width:100%;
    z-index: 999;
  }
  
  ul.account-list  ul.submenu li a{
    font-family: 'Proxima-R';
    font-size: 18px;
    display:block;
    padding:12px;
    color:#000;
    text-decoration:none;
    transition:color .3s;
    white-space:nowrap;
  }
  
  ul.account-list ul.submenu li a:hover{
    color: $color-main;
  }
  
  .btn-fb, .btn-google{
      position: relative;
      border-radius: 5px;
      padding: 4px;
      width: 50px;
      height: 45px;
      display: inline-block;
      text-align: center; 
  }
  .btn-fb{
    background-color: #4662a2;
  }
  .btn-google{
      background-color: #d34836;
  }

.btn-ds{
    display: inline-block;
    font-family: 'Proxima-SB';
    background-color: $color-main;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 30px;
    transition: all .4s ease;
    border: 2px solid transparent;
    &:hover{
        background-color: #fff;
        color: $color-main;
        border-color: $color-main;
    }
}
.btn-ds-child{
    display: inline-block;
    font-family: 'Proxima-SB';
    background-color: $color-child;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 30px;
    transition: all .4s ease;
    border: 2px solid transparent;
    &:hover{
        background-color: #fff;
        color: $color-child;
        border-color: $color-child;
    }
}
.breadcrumb-ds{
    ul{
        display: inline-block;
        font-size: 0;
        margin-bottom: 0;
        li{
            font-size: 1.15rem;
            display: inline-block;
            color: #fff;
            a{
                color: #fff;
                text-transform: uppercase;
            }
            &:not(:last-child)::after{
                content: "/";
                padding-left: 15px;
                a{
                    pointer-events: none;
                }
            }
            &:not(:first-child){
                padding-left: 15px;
            }
        }
    }
}
.b-radius-5{
    border-radius: 5px !important;
}
.bootstrap-touchspin-down, .bootstrap-touchspin-up{
    background-color: #fff;
    border-color: #ccc;
    color: #000;
    font-size: 1.5rem;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1;
    &:hover, &:focus, &:active, &:not(:disabled){
        background-color: #fff;
        border-color: #ccc;
        color: #000;
    }
}
.amount{
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
        background-color: #fff;
        border-color: #ccc;
        color: #000;
    }
}
.no-event{
    pointer-events: none;
}
.menu-mb{
    overflow-y: scroll;
    z-index: 100;
    transition: left 0.3s ease-in-out;
    width: 218px;
    top: 0;
    display: none;
    position: fixed;
    background-color: #b7b7b7;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &::before{
        content: "";
        width: 40%;
        top: 0;
        left: 0;
        position: absolute;
        height: 4px;
        z-index: 1;
        background-color: $color-main;
    }
    p.head{
        color: #fff;
        font-family: 'Proxima-SB';
        font-size: .9rem;
        padding-top: 11px;
        margin: 0 -20px;
        padding-left: 20px;
        padding-bottom: 11px;
        background-color: $color-child;
    }
    ul.menu-mb-lv1{
        display: block;
        *{
            text-transform: uppercase !important;
        }
        >li{
            position: relative;
            display: block;
            padding-left: 3px;
            padding-top: 11px;
            padding-bottom: 11px;
            i{
                position: absolute;
                top: 16px;
                right: 0;
                font-size: 1rem;
            }
            &:not(:last-child){
                border-bottom: 1px solid #a3a2a2;
            }
            a{
                font-family: 'Proxima-SB';
                font-size: 1rem;
                color: black;
                line-height: 1;
            }
            .menu-mb-lv2{
                li{
                    padding-left: 15px;
                    padding-top: 11px;
                    position: relative;
                    &:not(:first-child){
                        padding-bottom: 11px;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 19px;
                        left: 0;
                        width: 9px;
                        height: 3px;
                        background-color: $color-main;
                    }                    
                }
            }
        }
        .active a{
            font-family: 'Proxima-SB' !important;
            color: $color-main !important;
        }
    }
}