@media screen and(max-width:1200px){
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    header .head-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and(max-width:1164px){    
}
@media screen and(max-width:900px){
}
@media screen and(max-width:768px){
    header{
        .logo{
            margin-bottom: 1rem;
        }
        .search{
            margin-bottom: 1rem;
            .form-search input{
                width: 100%;
            }
        }
        .nav-menu-mb{
            display: block;
        }
        .head-right{
            justify-content: flex-end;
        }
    }
    .menu-pc{
        display: none;
    }
    .menu-mb{
        display: block;
    }
    
    .slick-arrow{
        display: none !important;
    }
    .containerr .left{
        margin-bottom: 1.5rem;
    }
    .column-2{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .footer-02 .col-md-6{
        margin-bottom: 1rem;
    }
    .footer-03 .col-md-3{
        justify-content: center;
    }
}

@media screen and(max-width:600px){
}
@media screen and(max-width:475px){
    html{font-size: 13px;}    
    .list-seaFlowers-par{
        margin: 0;
        .item{
            width: 100%;
        }
    }
}
@media screen and(max-width:425px){
    
}
