@import 'config';

header{
    position: relative;
    .head{
        padding-top: 21px;
    }
    .nav-menu-mb{
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        right: 10px;
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline-color: transparent;
        i{
            color: $color-main;
            font-size: 1.4rem;
        }
    }
}
.search, .head-right{
    margin-bottom: 10px;
    align-self: flex-end;
}
.head-right{
    display: flex;
    justify-content: space-between;
}
.form-search{
    position: relative;
    input{
        float: right;
        height: 40px;
        border-color: #a6a6a6;
        border-radius: 6px;
        width: 330px;
        transform: translateY(0); 
        transition: transform .4s ease;
        &:focus, &:active{
            box-shadow: 0px 15px 10px -15px #111;
            border-color: #a6a6a6;
            transform: translateY(-2px);            
        }
        &:focus ~ button, &:active ~ button{
            transform: translateY(-2px);
            
        }
    }
    button.btn-search{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image: url('../images/theme/ico-search.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        outline-color: transparent;
        transition: transform .4s ease;
    }
}
.head-right{
    >div{
        display: inline-block;
        &:not(:last-child){
            padding-right: 1.5rem;
        }
    }
    .tel{
        font-size: 21px;
        line-height: 21px;
        transition: color .4s ease;
        color: $color-main;
        a{
            font-family: 'Proxima-SB';
            color: $color-main;
        }        
    }
    .shopping-cart{
        background-image: url('../images/theme/ico-baske.png');
        width: 26px;
        height: 28px;
        margin-top: -6px;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .ammout{
            position: absolute;
            right: 0;
            top: 0;
            @include transform(translate(30%,-30%));
            background-color: $color-main;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            width: 20px;
            height: 20px;
            font-family: 'Proxima-SB';
            font-size: 14px;
            line-height: 17px;
        }
    }
}
.menu{
    margin-top: 1rem;
    >ul{
        margin-bottom: 0;
        font-size: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        >li{
            font-size: 1rem;
            display: inline-block;
            padding: 10px 5px 1rem;
            position: relative;
            &:after{
                content: "";
                width: 6px;
                height: 6px;
                background-color: transparent;
                position: absolute;
                left: 50%;
                border-radius: 50%;
                bottom: 6px;
                @include transform(translate(-50%,-5px));
                transition: all .4s ease;
            }
            >a{
                font-family: 'Proxima-SB';
                text-transform: uppercase;
                &:hover{
                    color: #000;
                }
            }
            &:hover{
                &:after{
                    background-color: $color-main;
                    @include transform(translate(-50%,0))
                }
                ul.lv2{
                    pointer-events: all;
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }
    }
}
ul.lv2{
    transition: opacity .4s ease, transform .4s ease;
    opacity: 0;
    @include transform(translateY(-1.5rem));
    margin-top: 1rem;
    padding-bottom: 1.2rem;
    background-color: #fff;
    display: block;
    z-index: 999;
    pointer-events: none;
    position: absolute;
    left: -2rem;
    right: -2rem;
    li{       
        &:first-child{
            padding-top: 20px;
        } 
        padding: 10px 15px 10px 30px;
        display: block;
        position: relative;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.08);
        // &::before{
        //     content: "";
        //     width: 0;
        //     height: 1px;
        //     background-color: #fff;
        //     position: absolute;
        //     left: 0;
        //     top: 50%;
        //     @include transform(translateY(-50%));
        //     transition: width .4s ease;
        // }
        // &:hover{
        //     &::before{
        //         width: 1.5rem;
        //     }
        // }
        a{
            display: block;
            color: #000;
            font-size: 1.15rem;
            font-family: 'Proxima-SB';
            transition: padding-left .4s ease;
            &:hover{
                padding-left: 15px;
                color: $color-main;
            }
        }
    }
}


main.not-home{
    background-color: #f7f7f8;
    padding: 1rem 0;
}

.banner-home{
    z-index: 1;
    position: relative;
}
.list{
    &-seaFlowers-par{
        margin-left: -15px;
        margin-right: -15px;
        width: 100%;
        .item{
            position: relative;
            width: 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 2rem;
            margin-bottom: 1.5rem;
            .thumb{
                display: flex;
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 25px 1px transparent;
                transition: box-shadow .4s ease, transform .4s ease;
                img{
                    align-self: flex-end;
                    margin: auto;
                    pointer-events: none;
                }
            }
            a.img-item{                
                &:hover .thumb{
                    @include transform(translateY(-1rem));
                    box-shadow: 0px 0px 25px 1px #66666652;
                }
            }            
            .name{
                position: absolute;
                bottom: 0;
                left: 50%;
                @include transform(translateX(-50%));
            }
            .name a:hover{
                color: $color-main;
            }
        }
    } 
}
.delivery{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $color-child;
    color:#fff;
    .headline{
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &::after{
            content: "";
            width: 10%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
    .description{
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        font-family: 'Proxima-SB';
        font-size: 1.2rem;
    }
}
.cat{
    .headline{
        position: relative;
        margin-bottom: 1.5rem;
        &::before{
            position: absolute;
            content: "";
            top: 50%;
            @include transform(translateY(-50%));
            width: 100%;
            height: 1px;
            background-color: $color-child;
        }
        &::before{
            left: 0;
            right: 0;
        }
        .h3{
            background-color: #fff;
            display: inline-block;
            margin-bottom: 0;
            padding-left: 30px;
            position: relative;
            padding-right: 30px;
            line-height: 1;
            padding-top: 10px;
            padding-bottom: 10px;
            &::before,&::after{
                position: absolute;
                line-height: 0;
                content: url('../images/theme/ico-cricle.png');
                top: 50%;
                @include transform(translateY(-50%));
            }
            &::before{
                left: 0;
            }
            &::after{
                right: 0;
            }
        }        
    }
}
.slider-cat{
    .slick-list{
        margin-left: 15px;
        margin-right: 15px;
    }
    hr{
        position: relative;
        border-color: transparent;
        &::before{
            content: "";
            width: 15%;
            height: 4px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            transition: background-color .4s ease;
            @include transform(translateX(-50%));
        }
    }
    .slick-slide{
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        .img-slider{
            img{
                margin: auto;
            }
        }
        .content{
            align-self: flex-end;
            padding-top: .5rem;
            a{
                font-size: 1.2rem;
                color: #676161;
            }
        }
        &:hover{
            hr:before{
                background-color: $color-child;
            }
        }
    }
    .name a:hover{
        color: $color-main;
    }
}

.promotion{
    .col-md-6{
        position: relative;
        .link{
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            background-color: transparent;
            &:before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0;
                height: 0;
                z-index: 0;
                border: 1px solid transparent;
                transition:border-color 0s, width .25s ease-out,height .25s ease-out .25s;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 0;
                height: 0;
                z-index: 0;
                border: 1px solid transparent;                  
                transition:border-color 0s ease-out, width .25s ease-out .5s,height .25s ease-out .75s;              
            }
            border: 1px solid #fff;
            transition: background-color .4s ease;          
            a{
                font-family: 'Proxima-SB';
                color: #fff;
                padding: 5px 20px;
                display: block;
                transition: color .4s ease;
            }
            &:hover{
                // &::before{
                //     width: 100%;
                //     height: 100%;
                //     border-top-color: $color-main;
                //     border-right-color: $color-main;
                    
                // }
                // &::after{
                //     width: 100%;
                //     height: 100%;
                //     border-bottom-color: $color-main;
                //     border-left-color: $color-main;
                    
                // }
                background-color: #fff;
                a{
                    color: $color-main;
                }
            }
        }
    }
}
.sidebar-left-cat{
    margin-bottom: 2rem;
    ul{
        li{
            padding-left: 2rem;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            transition: padding-left .4s ease;
            &::before{
                content: "";
                width: 1rem;
                height: 2px;
                background-color: $color-main;
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(translateY(-50%));
                transition: width .4s ease;
            }
            &:hover{
                padding-left: 3rem;
                &::before{
                    width: 2rem;
                }
            }
            a{
                line-height: 1.5;
                font-size: 1.1rem;
                text-transform: uppercase;
            }
        }
    }
}
.containerr{
    padding-top: 2rem !important;
    margin-bottom: 1.5rem !important;
    
    .booking{
        position: relative;
        .booking-img{
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .link{
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $color-main;
            padding: 10px 20px;
            a{
                font-size: 1.5rem;
                font-family: 'Proxima-B';
                color: #fff;
            }
        }
    }
}

.list-product{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    .item{
        .thumb{
            height: 243px;
            display: flex;
            img{
                margin: auto;
                align-self: flex-end;
            }
        }        
        margin-bottom: 1.55rem;
        .content{
            position: relative;
            padding-top: .5rem;
            .link{
                position: absolute;
                left: 50%;
                top: -3rem;
                @include transform(translate(-50%,50%));
                background-color: #ff488a;
                border-radius: 2rem;
                padding: 7px 1rem;
                width: 51%;
                text-align: center;
                color: #fff;
                opacity: 0;
                transition: opacity .4s ease, transform .4s ease;
                box-shadow: 0px 0px 15px 1px #dcdcdc;
                a:hover{
                    color: #fff;
                }
            }
            .name{
                padding-bottom: 1rem;
                position: relative;
                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            .price{
                padding-top: 1rem;
                padding-bottom: .5rem;
            }
        }        
        .box{
            box-shadow: 0px 0px 15px 1px #cac9c9a3;
            &:hover{
                .link{
                    opacity: 1;
                    @include transform(translate(-50%,0));
                }
            }
        }
    }    
}

.capacity{
    background-position: center;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 66px;
    &-img{
        margin-bottom: 1rem;
        img{
            display: block;
            margin: auto;
        }
    }
    .content{
        p{
            font-family: 'Proxima-SB';
        }        
        font-size: 15px;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}
footer{
    >div{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    >div:last-child{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .footer-01{
        background-color: $color-child;
    }
    .footer-03{
        background-color: #f7f7f8;
    }   
}
.footer-01{
    .head{
        position: relative;
        padding-bottom: .5rem;
        &:after{
            content: "";
            width: 94%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        p{
            font-family: 'Proxima-SB';
            font-size: 1.1rem;
            margin-bottom: .5rem;
        }
    }
    ul{
        margin-top: 1rem;
        list-style-type: none;
        @include column-gap(8%);
        li{
            a{
                font-size: 1.1rem;
                color: #fff;
                font-family: 'Proxima-R';
                &:hover{
                    color: $color-main;
                }
            }
            margin-bottom: .75rem;
        }
    }
}

.footer-02{    
    .head{
        position: relative;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
        &:after{
            content: "";
            width: 30px;
            height: 4px;
            background-color: $color-main;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        p{
            margin-bottom: .5rem;
        }
    }
    .content{
        @include column-gap(8%);
        .info{
            margin-bottom: 1rem;
        }
    }
    &-payment{
        margin-top: 1rem;
        .payment{
            justify-content: space-between;
            .list-payment{
                img{
                    max-width: 100%;
                }
            }
        }
        .cn{
            img{
                max-width: 100%;
            }
        }
    }
}

.footer-03{
    .follow{
        i{
            font-size: 1.2rem;
            padding-right: 1rem;
            color: $color-main;
        }
    }
    .copyright{
        p{
            color: #333;
            margin-bottom: 0;
        }
    }
}

.dathoa{
    background-image: url('../images/theme/bg-formpayment.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    padding: 0;
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.08);
    &-head{
        background-image: url('../images/theme/bg-payment.png');
        background-repeat: repeat-x;
        background-position: -50% 0;
        background-size: contain;
        height: 91px;
        position: relative;
        p{
            position: absolute;
            top: 40%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            font-family: 'Proxima-R';
            font-size: 1.5rem;
        }
    }    
}
.dangky{
    .main{
        background-color: #fff;
        margin: 0;
    }
    padding: 0;
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.08);
    &-head{
        height: 81px;
        position: relative;
        p{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            font-family: 'Proxima-R';
            font-size: 1.5rem;
        }
        &::after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-main;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    
    &-bot{
        padding-top: 1.5rem;
        .left{
            align-self: center;
        }
        .right{
            position: relative;
            a{
                display: inline-block;
                margin-right: 15px;
            }
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%,-50%));
                font-size: 1.5rem;
                line-height: 1;
            }
        }
        p{
            color: #666;
            margin-bottom: 0;
        }        
    }
}
.dathoa, .dangky{
    padding-bottom: 1rem;
    &-main{
        background-color: transparent;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    &-form{
        flex-wrap: wrap;
        select{
            background: #fff url("../images/theme/ico-dropdown.png") no-repeat right .75rem center;
        }
        option{
            display: inline-block;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        span, input, textarea, select, option{
            font-family: 'Proxima-R' ;
            color: #666;
            &:active, &:focus{
                border-color: $color-child;
                box-shadow: 0 0 5px 1px rgba($color: $color-child, $alpha: .5)
            }
        }
        >div{
            margin-bottom: 1rem;
            margin-left: -15px;
            margin-right: -15px;
            input, select{
                display: inline-block;
                padding-top: 12px;
                padding-bottom: 12px;
            }
            label{
                font-family: 'Proxima-R';
                color: #666;
                padding-left: 15px;
                &.require::after{
                    content: "(*)";
                    color: $color-main;
                    padding-left: 5px;
                }
            }
            a{
                padding-left: 10px;
            }
            a:hover{
                text-decoration: underline;
            }
            .input-group-prepend .input-group-text{
                padding-left: 16px;
                padding-right: 16px;
            }
            select{
                height: auto !important;
            }
            
            &.link input{
                padding-top: 8px;
                padding-bottom: 8px;
                cursor: pointer;
                color: #fff;
                background-color: $color-child;
                font-size: 1.5rem;
                width: 100%;
                border: 2px solid $color-child;
                transition: all .3s ease;
                &:hover, &:active, &:focus{
                    border-color: $color-child;
                    background-color: #fff;
                    color: $color-main;
                }
            }
            .form-check{
                padding-right: 1rem;
                label{
                    padding-left: 10px;
                }
            }
        }
    }
}
section.card.left{
    padding-left: 5%;
    padding-right: 5%;
}
section.card.right{
    flex: 0 0 30%;
    max-width: 30%;
}
.card{    
    &-head,&-head-2{
        >*{
            color: $color-child;
            text-align: center;
            font-family: 'Proxima-SB';
            font-size: 1.15rem;
        }
        margin-left: 0;
        margin-right: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-main;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &-head-2{
        >*{
            text-align: left;
        }
    }
    &-main-2{
        .fb-info{
            margin-bottom: 2rem;
        }
        .btn-fb{
            margin-left: 30px;
            margin-right: 30px;
            width: 40px;
            height: 40px;
            margin-top: -5px;
            line-height: 2;
        }
        border-bottom: 1px solid rgba($color: #ccc, $alpha: .5);
    }
    &-main-2, &-bot-2{
        >div{
            margin-left: 0;
            margin-right: 0;
        }
        margin-left: 0;
        margin-right: 0;
        padding: 2rem 1rem;
        p, span{
            font-family: 'Proxima-SB';
        }
        p:not(.total), span{
            color: #868686;
            font-size: 1.1rem;            
        }
    }
    
    &-main{
        .item{
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            position: relative;
            *{
                font-family: 'Proxima-SB';
                font-size: 1.1rem;
            }
            &::after{
                content: "";
                width: 95%;
                height: 1px;
                background-color: rgba($color: #ccc, $alpha: .5);
                position: absolute;
                left: 50%;
                bottom: 0;
                @include transform(translateX(-50%));
            }
            .left{
                img{
                    max-width: 100%;
                }
            }
            .left, .right{
                >div{
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                }
            }
            .masp p{
                color: $color-child;
            }
            .right{
                *{
                    text-align: center;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
    &-bot{
        position: relative;    
        &::after{
            content: "";
            width: 95%;
            height: 1px;
            background-color: rgba($color: #ccc, $alpha: .5);
            position: absolute;
            left: 50%;
            bottom: 0;
            @include transform(translateX(-50%));
        }
        *{
            font-family: 'Proxima-SB';
            font-size: 1.15rem;
        }
        .text p{
            color: $color-child;
        }
        .number p{
            font-size: 1.5rem;
        }
    }
    &-bot, .step{
        margin-left: 0;
        margin-right: 0;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;    
        align-items: center;        
    }
    .step{        
        *{
            font-family: 'Proxima-SB';
            font-size: 1.1rem;
        }
        .back{            
            a{
                position: relative;
                padding-left: 60px;
                &::before{
                    content: url('../images/theme/arrow-left.png');
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    line-height: 0;
                }
            }            
        }
    }
}

.list-link{
    background-color: $color-main;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    a{
        line-height: 30px;
        font-family: 'Proxima-SB';
        font-size: 1.15rem;
        position: relative;
        display: inline-block;
        &::after{
            content: "";
            width: 25%;
            height: 3px;
            background-color: $color-child;
            position: absolute;
            left: 50%;
            bottom: 0;
            transition: width .4s ease;
            opacity: 0;
            @include transform(translateX(-50%));
        }
        &:hover{
            color: #fff;
            &::after{
                width: 100%;
                opacity: 1;
            }
        }
    }
    .right{
        position: relative;
        &::before{
            color: #fff;
            content: "\f0d9";
            font-size: .7rem;
            line-height: 0;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free' !important;
            width: 30px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 3px;
            top: 50%;
            @include transform(translateY(-50%));
        }       
        a{
            margin-left: 40px;
        }
    }
}
.list-link-2{
    background-color: #fff;
    padding-top: 2rem;
    a{
        color: #666;
        line-height: 30px;
        font-family: 'Proxima-SB';
        font-size: 1.15rem;
        position: relative;
        display: inline-block;
        &::after{
            content: "";
            width: 25%;
            height: 3px;
            background-color: $color-child;
            position: absolute;
            left: 50%;
            bottom: 0;
            transition: width .4s ease;
            opacity: 0;
            @include transform(translateX(-50%));
        }
        &:hover{
            color: #666;
            &::after{
                width: 100%;
                opacity: 1;
            }
        }
    }
    .left{
        ul{
            li{
                a{
                    color: #666;
                }
            }
        }
    }
    .breadcrumb-ds ul li:not(:last-child)::after{
        color: #666;
    }
    .right{
        position: relative;
            
        a{
            padding-left: 40px;
            &::before{
                color: #666;
                content: "\f0d9";
                font-size: .7rem;
                line-height: 0;
                font-weight: 900;
                font-family: 'Font Awesome 5 Free' !important;
                width: 30px;
                height: 1px;
                background-color: #666;
                position: absolute;
                left: 3px;
                top: 50%;
                @include transform(translateY(-50%));
            }   
        }
    }
}
.amount{
    .form-control:focus{
        border-color: #ccc;
        box-shadow: none;
    }
}
.img-product{
    img{
        width: 100%;
    }    
}
.product-detail{
    .head{
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
        &:after{
            content: "";
            width: 20%;
            height: 8px;
            background-color: $color-main;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .masp{
            color: $color-child
        }
        .name p{
            font-size: 1.75rem;
        }
    }
    .body{
        >div{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        .sumary{
            p{
                font-family: 'Proxima-SB';
                color:  #000;
                text-align: justify;
            }
        }
        .price{
            align-items: flex-end;  
            padding-bottom: 2rem;
            border-bottom: 1px solid #ccc;          
            >div{
                margin-right: 1rem;
            }
            span{                
                margin-bottom: 0;
            }
            .price-show span{
                line-height: 0;
            }
            .price-hide{
                position: relative;
                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #000;
                    position: absolute;
                    left: 0;
                    top: 60%;
                    @include transform(translateY(-50%));
                }
                span{
                    color: #ccc;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    .buy{            
        padding-top: 1rem;
        padding-bottom: 1rem;
        .amount{
            padding-bottom: 1.5rem;
        }
        &-btn{
            padding-bottom: 2rem;
        }
    }
    .detail{
        .card:not(:first-child){
            margin-top: -2px;
        }
        h5.mb-0{
            position: relative;
            
        }
        .card{
            border-radius: 0;
            border-left: none;
            border-right: none;
            border-color: #ccc;
            &:last-child{
                border-bottom: none;
            }
            &-header{
                border-color: #ccc;
                background-color: #fff;
               
            }            
        }
        a{
            &::after{
                cursor: pointer;
                content: "+";
                color: #666;
                position: absolute;
                right: 0;
                top: 50%;
                line-height: 0;
                font-size: 2.5rem;
            }
        }
    }
}