@import 'config';

header{
    .head{
        padding-top: 21px;
    }
}
.search, .head-right{
    margin-bottom: .8rem;
    align-self: flex-end;
}
.form-search{
    position: relative;
    input{
        float: right;
        height: 40px;
        border-color: #a6a6a6;
        border-radius: 6px;
        width: 330px;
        &:focus, &:active{
            box-shadow: 0px 15px 10px -15px #111;
            border-color: #a6a6a6;
        }
    }
    button.btn-search{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image: url('../images/theme/ico-search.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        outline-color: transparent;
    }
}
.head-right{
    >div{
        display: inline-block;
        &:not(:last-child){
            padding-right: 1.5rem;
        }
    }
    .tel{
        transition: color .4s ease;
        color: $color-main;
        a{
            color: $color-main;
        }
        &:hover{
            color: #111;
        }
    }
    .shopping-cart{
        .ammount{
            
        }
    }
}
.menu{
    margin-top: 1rem;
    >ul{
        margin-bottom: 0;
        font-size: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        >li{
            font-size: 1rem;
            display: inline-block;
            padding: 10px 5px 1rem;
            position: relative;
            &:after{
                content: "";
                width: 6px;
                height: 6px;
                background-color: transparent;
                position: absolute;
                left: 50%;
                border-radius: 50%;
                bottom: 6px;
                @include transform(translate(-50%,-5px));
                transition: all .4s ease;
            }
            a{
                font-family: 'Proxima-SB';
                text-transform: uppercase;
            }
            &:hover{
                &:after{
                    background-color: $color-main;
                    @include transform(translate(-50%,0))
                }
                ul.lv2{
                    pointer-events: all;
                    opacity: 1;
                    @include transform(translateY(0));
                }
            }
        }
    }
}
ul.lv2{
    transition: opacity .4s ease, transform .4s ease;
    opacity: 0;
    @include transform(translateY(-1.5rem));
    margin-top: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: $color-main;
    display: block;
    z-index: 999;
    pointer-events: none;
    position: absolute;
    left: -2rem;
    right: -2rem;
    li{        
        padding: 15px 15px 15px 30px;
        display: block;
        position: relative;
        &::before{
            content: "";
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
            transition: width .4s ease;
        }
        &:hover{
            &::before{
                width: 1.5rem;
            }
        }
        a{
            display: block;
            color: #fff;
            font-family: 'Proxima-SB';
        }
    }
}

.banner-home{
    z-index: 1;
    position: relative;
}
.list{
    &-seaFlowers-par{
        width: 100%;
        .item{
            position: relative;
            width: 25%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 2rem;
            margin-bottom: 1.5rem;
            .thumb{
                width: 100%;
                box-shadow: 0px 0px 25px 1px transparent;
                transition: box-shadow .4s ease, transform .4s ease;
                img{
                    pointer-events: none;
                }
            }
            a.img-item{                
                &:hover .thumb{
                    @include transform(translateY(-1rem));
                    box-shadow: 0px 0px 25px 1px #66666652;
                }
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            .name{
                position: absolute;
                bottom: 0;
                left: 50%;
                @include transform(translateX(-50%));
            }
            .name a:hover{
                color: $color-main;
            }
        }
    } 
}
.delivery{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #00997c;
    color:#fff;
    .headline{
        position: relative;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &::after{
            content: "";
            width: 10%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
    .description{
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-right: 3rem;
        font-family: 'Proxima-SB';
        font-size: 1.3rem;
    }
}