//product detail

figcaption {
    display: none;
}
.fancybox-caption{
    text-align: center;
    padding: 0 20% !important;
    *{
        color: #000;
    }
    p{
        color: #000;
    }
    &::before{
        background-image: none !important; 
    }
    &:after{
        border: none !important;
    }
} 
a.fancybox-button{
    border-radius: 50%;
    text-align: center;
    i{
        font-size: 1.5rem;
    }
}

.fancybox-is-open .fancybox-bg{
    background: #fff;
}

.fancybox-slide--image{
    padding-top: 0 !important;
    padding-bottom: 140px !important;
}
.fancybox-navigation .fancybox-button{
    top: 40% !important;
}