// fontweb all

$fUTM-R: 'UTM-R';
$fUTM-B: 'UTM-B';
$fGOUDY-B: 'GOUDY-B';
$fMyriad-R: 'Myriad-R';
$fUTM-F: 'UTM-Flame';

// color web

$cGray: #868788;
$cGray2: #181818;
$cGray3:#959697;
$cGray4: #060606;
$cBlue: #007bff;
$cText2:#0ba2a4;

// background web
$bgContent: #f3f3f3;
$bgTitle: #007acd;