@media screen and (max-width: 1166px){
    .img:not(.img-home){
        background-size: auto 173px !important;
    }
}
@media screen and (max-width: 1024px){
    .full-display{height: auto;}
    body{
        padding: 0 15px;
    }
    .title .title-head, .title img.img-1{
        width: 156px;
        height: 226px;
    }
    .title img.img-2{
        width: 318px;
    }
}
@media screen and (max-width: 960px){
    .header .menu{
        padding-right: 5px;
        ul{
            right: 10px;
            .menu-item{
                margin-left: 5px;
                padding: 5px 10px;
            }
        }
    }
    .contactUs{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .header .menu ul .menu-item{
        margin: 0;
    }
    .img-home{
        background-size: 85vw !important;
    }
    .btn-design{
        width: 180px;
        &::after{
            top: 4px;
            right: 4px;
        }
    }
    #about, #services{
        img{display: none}
    }
    #product, #content, #contact{
        .title{
            flex-basis: auto;
            max-width: none;
        }
        .list{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    #content{
        .title{
            order: 1;
        }
        .list{
            order: 2;
        }
        .list-item h5{
            height: 105px;
        }
    }
    footer{
        .logo, .designBy{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
        .company-name, .follow{
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
    }
}

@media screen and (max-width: 825px){
    html{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px){
    html{font-size: 14px;}
    .img-home{
        background-size: 71vw !important;
    }
    .header{
        height: 115px;
    }
    .contactUs{
        min-height: 300px;
        h3{
            padding-right: 0;
        }
    }
    .title img{
        display: none;
    }
    .btn-design{
        width: 180px;
    }
    #about{
        padding-left: 27px;
    }
    footer{
        padding: 0 27px;
        padding-top: 2rem;
        >div{
            padding-left: 0 !important; 
            padding-right: 0 !important
        }
        >div:not(:last-child){
            border-right: 0px;
        }
        >div:first-child{border-right: 1px solid #e8e8e8}
        .logo{
            flex: 0 0 30%;
            max-width: 30%;
            margin: 0;
            padding-right: 10px !important;
        }
        .company-name{
            padding-left: 10px !important;
            text-align: center;
            flex: 0 0 70%;
            max-width: 70%;            
        }
        .follow{
            border-bottom: 1px solid #e8e8e8;
            text-align: center;
            flex: 0 0 100%;
            max-width: 100%;
            span{
                font-size: 14px !important;
                display: inline-block;
                width: 100%;
                margin-bottom: 1.4rem;
            }
            .follow-right{
                text-align: center !important;
                float: none;
            }
        }
        .designBy{
            margin: auto;
            width: 100%;
            text-align: center !important;
        }
    }
    #product, #content, #contact{
        padding: 0 27px;
        .title{
            display: flex;
            flex: 0 0 35%;
            max-width: 35%;
        }
        .list{
            display: flex;
            flex: 0 0 60%;
            max-width: 60%;
            &-item{
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 3rem;
            }
            .list-item{
                margin-left: 0;
            }
        }        
    }

    #product, #contact{
        .title{
            margin-right: 10px;
        }
    }
    #services, #content{
        .title{
            margin-left: 10px;
        }
    }

    #services{
        padding: 0 27px;
        .title{
            margin-left: 0 !important;
            justify-content: flex-end;
        }
    }
}

//breakpoint menu mobile
@media screen and (max-width: 767px){
    html{
        font-size: 12px;
    }
    .header{height: 57px;}   
    .detail h5::after{top: 0 !important; line-height: 0} 
    .contactUs .btn-design::after, .detail a::after, #product .list-item a::after, #contact .btn-design::after{
        top: 3px;
        right: 3px;
    }
    .img{
        background-size: auto 75px !important;
    }
    .img-home{
        background-size: 55vw !important;
    }
    .full-display{
        height: 353.5px;
        .contactUs{
            margin-top: 30px;
            flex: 0 0 65%;
            max-width: 65%;
            min-height: 222px;
            h3{
                padding-right: 20% !important;
                font-size: 1.5rem;
            }
        }
    }
    .menu{display: none}


    #about{
        padding: 0 27px;
    }
    // .title img{
    //     display: none;
    // }
    .detail{
        padding: 0 1rem;
        flex: 0 0 65%;
        max-width: 65%;
        p{
            padding-left: 0;
        }
    }
    #content{
        .title{
            display: flex;
            justify-content: flex-end;
        }
        .content-name h5{
            height: 70px;
        }
        .col-md-9{
            width: 80%;
        }
        .col-md-3{
            width: 20%;
        }
    }
    #contact{
        .item-2{
            flex: 0 0 135%;
            max-width: 135%;
            margin-left: -45% !important;
        }       
    }
    
}
@media screen and (max-width: 425px) and (min-width: 401px){
    
    .contactUs{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-right: 40px;
        min-height: 217px !important;
    }
    #about, #content, #product, #services, #contact{
        .title, .list, .detail{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    #services .title{order: 1;}
    #services .detail{order: 2;}
    #content .title{order: 1;}
    #content .list{
        order: 2;
        .list-item h5{
            height: 70px;
        }
        .col-md-9{
            width: 80%;
        }
        .col-md-3{
            width: 20%;
        }
    }
    #contact .item-2{flex: 0 0 100%; max-width: 100%;margin-left: 0 !important;}
}
@media screen and (max-width: 400px){
    body{padding-left: 20px;
    padding-right: 20px;}
    .logo-pc{display: none !important}
    .logo-mb{display: block !important}
    .btn-design{
        min-width: 142px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        &::after{
            right: 3px !important;
            top: 3px !important;
        }
        width: auto;
    }
    .header .logo img{left: 10px;}
    .full-display .contactUs{
        min-height: 233px !important;
        flex: 0 0 55% !important;
        max-width: 55% !important;
        padding-left: 10px;
        padding-right: 0;
    }
    .title{
        flex: 0 0 35% !important;
        max-width: 35% !important;
        .title-head{
            width: 103px;
            height: 143px;
            .h3{
                font-size: 14px;
                right: 7px;
            }
        }
    }
    .detail{
        flex: 0 0 65% !important;
        max-width: 65% !important;
    }
    #about{
        padding: 0;
    }
    #product, #content, #contact, #services{
        padding: 0;
    }
    #product .list-item{
        padding: 20px 15px;
    }
    #content .list-item .content-name{
        .col-md-9{
            flex: 0 0 80%;
            max-width: 80%;
            h5{
                height: 75px;
            }
        }
        .col-md-3{
            flex: 0 0 20%;
            max-width: 20%;
        }

    }
    .contactUs .btn-design {
        width: 10px;
    }
}
@media screen and (max-width: 320px){
    body{
        padding: 0 5px;
    }
    .title .title-head{
        width: 85px;
        height: 128px;
    }
    .full-display .contactUs{
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }
    #content .list-item .content-name{
        padding: 0 10px;
    }
    #contact .item-1{
        padding: 20px 15px;
    }
}