@media screen and (max-width: 1166px) {
  .img:not(.img-home) {
    background-size: auto 173px !important;
  }
}
@media screen and (max-width: 1024px) {
  .full-display {
    height: auto;
  }

  body {
    padding: 0 15px;
  }

  .title .title-head, .title img.img-1 {
    width: 156px;
    height: 226px;
  }

  .title img.img-2 {
    width: 318px;
  }
}
@media screen and (max-width: 960px) {
  .header .menu {
    padding-right: 5px;
  }
  .header .menu ul {
    right: 10px;
  }
  .header .menu ul .menu-item {
    margin-left: 5px;
    padding: 5px 10px;
  }

  .contactUs {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .header .menu ul .menu-item {
    margin: 0;
  }

  .img-home {
    background-size: 85vw !important;
  }

  .btn-design {
    width: 180px;
  }
  .btn-design::after {
    top: 4px;
    right: 4px;
  }

  #about img, #services img {
    display: none;
  }

  #product .title, #content .title, #contact .title {
    flex-basis: auto;
    max-width: none;
  }
  #product .list, #content .list, #contact .list {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #content .title {
    order: 1;
  }
  #content .list {
    order: 2;
  }
  #content .list-item h5 {
    height: 105px;
  }

  footer .logo, footer .designBy {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  footer .company-name, footer .follow {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
@media screen and (max-width: 825px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .img-home {
    background-size: 71vw !important;
  }

  .header {
    height: 115px;
  }

  .contactUs {
    min-height: 300px;
  }
  .contactUs h3 {
    padding-right: 0;
  }

  .title img {
    display: none;
  }

  .btn-design {
    width: 180px;
  }

  #about {
    padding-left: 27px;
  }

  footer {
    padding: 0 27px;
    padding-top: 2rem;
  }
  footer > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  footer > div:not(:last-child) {
    border-right: 0px;
  }
  footer > div:first-child {
    border-right: 1px solid #e8e8e8;
  }
  footer .logo {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0;
    padding-right: 10px !important;
  }
  footer .company-name {
    padding-left: 10px !important;
    text-align: center;
    flex: 0 0 70%;
    max-width: 70%;
  }
  footer .follow {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .follow span {
    font-size: 14px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.4rem;
  }
  footer .follow .follow-right {
    text-align: center !important;
    float: none;
  }
  footer .designBy {
    margin: auto;
    width: 100%;
    text-align: center !important;
  }

  #product, #content, #contact {
    padding: 0 27px;
  }
  #product .title, #content .title, #contact .title {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
  }
  #product .list, #content .list, #contact .list {
    display: flex;
    flex: 0 0 60%;
    max-width: 60%;
  }
  #product .list-item, #content .list-item, #contact .list-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3rem;
  }
  #product .list .list-item, #content .list .list-item, #contact .list .list-item {
    margin-left: 0;
  }

  .list-content, .list-product {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }
  .list-content .list-item, .list-product .list-item {
    margin-bottom: 3rem !important;
  }

  #services {
    padding: 0 27px;
  }
  #services .title {
    margin-left: 0 !important;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .nav-menu {
    display: block;
  }

  .header {
    height: 57px;
  }

  .detail h5::after {
    top: 0 !important;
    line-height: 0;
  }

  .img:not(.img-home) {
    background-size: 65vw !important;
  }

  #product, #content, #contact {
    margin-top: 3rem !important;
  }

  .about-detail {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
  }

  .contactUs .btn-design::after, .detail a::after, #product .list-item a::after, #contact .btn-design::after {
    top: 3px;
    right: 3px;
  }

  .img {
    background-size: auto 75px !important;
  }

  .img-home {
    background-size: 55vw !important;
  }

  .full-display {
    height: 353.5px;
  }
  .full-display .contactUs {
    margin-top: 30px;
    flex: 0 0 65%;
    max-width: 65%;
    min-height: 222px;
  }
  .full-display .contactUs h3 {
    padding-right: 20% !important;
    font-size: 1.5rem;
  }

  .menu {
    display: none;
  }

  #about {
    padding: 0 27px;
  }

  .detail {
    padding: 0 1rem;
    flex: 0 0 65%;
    max-width: 65%;
  }
  .detail p {
    padding-left: 0;
  }

  #content .content-name h5 {
    height: 70px;
  }
  #content .col-md-9 {
    width: 80%;
  }
  #content .col-md-3 {
    width: 20%;
  }

  #contact .page {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 20px;
  }
  #contact .item-2 {
    flex: 0 0 135%;
    max-width: 135%;
    margin-left: -45% !important;
  }

  #contact .page-contact .item-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 425px) and (min-width: 401px) {
  .contactUs {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-right: 40px;
    min-height: 217px !important;
  }

  #about .title, #about .list, #about .detail, #content .title, #content .list, #content .detail, #product .title, #product .list, #product .detail, #services .title, #services .list, #services .detail, #contact .title, #contact .list, #contact .detail {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #services .title {
    order: 1;
  }

  #services .detail {
    order: 2;
  }

  #content .title {
    order: 1;
    display: flex;
    justify-content: flex-end;
  }

  #content .list {
    order: 2;
  }
  #content .list .list-item h5 {
    height: 70px;
  }
  #content .list .col-md-9 {
    width: 80%;
  }
  #content .list .col-md-3 {
    width: 20%;
  }

  #contact .item-2 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-pc {
    display: none !important;
  }

  .logo-mb {
    display: block !important;
    bottom: 50% !important;
    transform: translateY(50%);
  }

  .btn-design {
    min-width: 142px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: auto;
  }
  .btn-design::after {
    right: 3px !important;
    top: 3px !important;
  }

  .header .logo img {
    left: 10px;
  }

  .full-display .contactUs {
    min-height: 233px !important;
    flex: 0 0 55% !important;
    max-width: 55% !important;
    padding-left: 10px;
    padding-right: 0;
  }

  .title {
    flex: 0 0 35% !important;
    max-width: 35% !important;
  }
  .title .title-head {
    width: 103px;
    height: 143px;
  }
  .title .title-head .h3 {
    font-size: 14px;
    right: 7px;
  }

  .detail {
    flex: 0 0 65% !important;
    max-width: 65% !important;
  }

  #about {
    padding: 0;
  }

  #product, #content, #contact, #services {
    padding: 0;
  }

  #product .list-item {
    padding: 20px 15px;
  }

  #content .list-item .content-name .col-md-9 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  #content .list-item .content-name .col-md-9 h5 {
    height: 75px;
  }
  #content .list-item .content-name .col-md-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .contactUs .btn-design {
    width: 10px;
  }

  #contact .page {
    padding-left: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    padding: 0 5px;
  }

  .title .title-head {
    width: 85px;
    height: 128px;
  }

  .full-display .contactUs {
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }

  #content .list-item .content-name {
    padding: 0 10px;
  }

  #contact .item-1 {
    padding: 20px 15px;
  }
}

/*# sourceMappingURL=responsive.css.map */
