@font-face { font-family: 'UTM-R'; src: url("../fonts/UTM-Avo-Regular.ttf") format("truetype"), url("../fonts/UTM-Avo-Regular.eot") format("embedded-opentype"), url("../fonts/UTM-Avo-Regular.otf") format("opentype"), url("../fonts/UTM-Avo-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UTM-B'; src: url("../fonts/UTM-Avo-Bold.ttf") format("truetpye"), url("../fonts/UTM-Avo-Bold.eot") format("embedded-opentype"), url("../fonts/UTM-Avo-Bold.woff") format("woff"), url("../fonts/UTM-Avo-Bold.otf") format("opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GOUDY-B'; src: url("../fonts/goudy_old_style_bold-webfont.woff2") format("woff2"), url("../fonts/goudy_old_style_bold-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Myriad-R'; src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UTM-Flame'; src: url("../fonts/UTM-Flamenco.ttf") format("truetype"); font-weight: normal; font-style: normal; }
* { margin: 0; padding: 0; }

body { background-color: #fff; font-family: "UTM-R"; font-weight: 500; }

.wrapper { max-width: 1166px; margin: 0 auto !important; }

.row { margin: 0; }

a, a:hover, a:focus { text-decoration: none; }

p { color: #868788; }

h5 { margin-bottom: 1.5rem; font-family: "UTM-B"; color: #007acd; }

textarea { resize: none; }

button:focus { outline: 0; }

.toUpper { text-transform: uppercase; }

.text-bold { font-weight: bold; }

.img { background-position: top right; background-repeat: no-repeat; background-size: 72%; }

.header .menu ul { font-size: 0; display: block; margin-bottom: .5rem; }
.header .menu ul li { display: inline-block; vertical-align: middle; }
.header .menu ul li a { color: #fff; }

.contactUs .btn-design, .detail a:not(.title-about), #product .list-item a.btn-design, #contact .btn-design { padding: 8px 60px 8px 30px; border-radius: 10rem; min-width: 156px; width: 180px; box-shadow: 0 0 20px 1px rgba(157, 153, 153, 0.5); position: relative; vertical-align: baseline; color: #181818; background-color: #fff; transition: box-shadow .5s ease-in-out, color .5s linear; }
.contactUs .btn-design::after, .detail a:not(.title-about)::after, #product .list-item a.btn-design::after, #contact .btn-design::after { content: url("../images/button.png"); position: absolute; top: 5px; right: 5px; padding-left: 30px; }
.contactUs .btn-design:hover, .detail a:hover:not(.title-about), #product .list-item a.btn-design:hover, #contact .btn-design:hover { box-shadow: 0 0 10px 1px #007acd; color: #007acd; }

#content .list-item .btn-child { width: 30px; height: 30px; background-color: #007acd; position: relative; float: right; border-radius: 50%; display: inline-block; color: #fff; transition: all .3s ease-in-out; }
#content .list-item .btn-child::after { font-family: 'FontAwesome'; content: '\f0da'; position: absolute; top: 50%; left: 50%; transform: translate(-25%, -50%); }
#content .list-item .btn-child:hover { background-color: #fff; color: #007acd; box-shadow: 0 0 10px 1px #007acd; }

#product .list h5.head-title, #content .list h5.head-title, #contact .list h5.head-title, .about-detail h5.head-title, .page h5.head-title { padding-left: 5%; }
#product .list h5.head-title::after, #content .list h5.head-title::after, #contact .list h5.head-title::after, .about-detail h5.head-title::after, .page h5.head-title::after { content: url("../images/dot.png"); position: absolute; top: 0; left: 0; line-height: 0; transform: translateX(-50%); }

.nav-menu { float: right; display: none; position: relative; width: 20px; height: 20px; top: 15px; right: 0px; }
.nav-menu bun::before { content: ''; position: absolute; width: 100%; height: 20%; background: #2daeef; transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2); top: 10%; right: 0; }
.nav-menu bun:after { content: ''; position: absolute; width: 100%; height: 20%; background: #2daeef; transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2); bottom: 10%; left: 0; }
.nav-menu bun bunger { position: absolute; display: flex; align-items: center; height: 20px; width: 20px; }
.nav-menu bun bunger::before, .nav-menu bun bunger::after { content: ''; position: absolute; width: 100%; height: 20%; background: #2daeef; transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2); }
.nav-menu input { display: block; position: absolute; opacity: 0; z-index: 1; width: 20px; height: 20px; cursor: pointer; }
.nav-menu input:hover ~ bun::before, .nav-menu input:hover ~ bun::after, .nav-menu input:hover ~ bun ::before, .nav-menu input:hover ~ bun ::after { background: #15a5ed; }
.nav-menu input:checked ~ bun::before, .nav-menu input:checked ~ bun::after { width: 0; }
.nav-menu input:checked ~ bun bunger::before { transform: rotate(135deg); }
.nav-menu input:checked ~ bun bunger::after { transform: rotate(45deg); box-shadow: 0 0 0 0 #d3eefc; }

#menu-mobile { position: fixed; top: 0; right: 0; height: 100vh; background-color: #d3d1d1; }
#menu-mobile * { font-family: 'UTM-B'; color: #fff; }
#menu-mobile .nav-head { background-color: #232323; padding: 10px 24px; margin-bottom: 0; font-size: 1.5rem; }
#menu-mobile ul { font-size: 0; display: block; }
#menu-mobile ul li { position: relative; font-size: 1rem; display: block; text-align: left; cursor: pointer; padding: 10px 24px 10px 38px; background-color: #d3d1d1; border-bottom: 1px solid #c4c3c3; }
#menu-mobile ul li a { font-size: 1.2rem; font-family: 'UTM-R' !important; color: #404041; text-decoration: none; transition-delay: .5s; transition: color .3s ease; text-transform: uppercase; }
#menu-mobile ul li::before { content: url("../images/dot-2.png"); margin-right: 20px; position: absolute; top: 50%; left: 24px; transform: translateY(-50%); line-height: 0; }
#menu-mobile ul li:hover a, #menu-mobile ul li:active a { font-family: 'UTM-B' !important; color: #1b4580; }

.hide { display: none; width: 0; transition: width .5s ease-in-out; transition-delay: .5s; }

.show { display: block; position: fixed; width: 200px; transition: width .5s ease-in-out; transition-delay: .5s; }

.open { left: -185px; transition: all .3s; }
.open .nav-menu { right: 15px; }

.close-s { left: 0; transition: all .3s; }

.img-home { background-image: url("../images/banner-01.jpg"); }
.img-about { background-image: url("../images/banner-02.jpg"); }
.img-content { background-image: url("../images/banner-03.jpg"); }
.img-category { background-image: url("../images/banner-04.jpg"); }
.img-content-detail { background-image: url("../images/banner-05.jpg"); }
.img-product-header { background-image: url("../images/banner-06.jpg"); }
.img-contact { background-image: url("../images/banner-07.jpg"); }

body { position: relative; }

.full-display { height: 100vh; }

.logo-mb { display: none; }

.img-1 { width: 175px; height: 245px; }

.img-2 { width: 355px; }

.header { height: 130px; }
.header .logo { position: relative; }
.header .logo img { position: absolute; bottom: 0; left: 1rem; }
.header .menu { position: relative; }
.header .menu ul { position: absolute; right: 20px; bottom: 0; }
.header .menu ul .menu-item { margin-left: .5rem; font-size: 0.9rem; padding: 5px 15px; color: #fff; background-color: transparent; border-radius: 10rem; transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out; }
.header .menu ul .menu-item:hover { box-shadow: 0 0 1px 1px #007acd; background-color: #007acd; }

.contactUs { display: flex; flex-direction: column; justify-content: flex-end; min-height: 500px; flex: 0 0 33.333%; max-width: 33.333%; padding-left: 40px; }
.contactUs * { margin-bottom: 1.5rem; }
.contactUs h3 { font-size: 2rem; padding-right: 10%; }
.contactUs .btn-design { padding: 8px 60px 8px 30px; width: 180px; }

.title { flex: 0 0 35%; max-width: 35%; max-height: 400px; margin-bottom: 1.5rem; }
.title .title-head { position: relative; width: 175px; height: 245px; border-radius: 10px; background-color: #007acd; }
.title .title-head .h3 { font-family: "UTM-B"; font-size: 22px; position: absolute; right: 15px; bottom: 10px; text-align: right; color: #fff; line-height: 1.3; }

.detail { position: relative; padding-top: 80px; padding-right: 5%; bottom: 0; flex: 0 0 55%; max-width: 55%; border-right: 1px solid #e8e8e8; }
.detail h5 { padding-right: 10%; }
.detail h5::after { content: url("../images/dot.png"); position: absolute; top: 80px; right: 0; transform: translateX(50%); }
.detail p { padding-left: 10%; text-align: justify; margin-bottom: 2rem; }
.detail a:not(.title-about) { position: absolute; right: 0; bottom: 0; transform: translateY(50%); }

#about { margin-top: 2rem !important; padding-top: 3rem !important; }
#about img { padding-right: 5px; }
#about img:last-child { padding-top: 5px; }

#product, #content, #contact { margin-top: 5rem !important; background-image: url("../images/line.png"); background-repeat: repeat-x; }
#product .title, #content .title, #contact .title { flex: 0 0 15%; max-width: 15%; }
#product .list, #content .list, #contact .list { display: flex; flex: 0 0 85%; max-width: 85%; }
#product .list .list-item, #content .list .list-item, #contact .list .list-item { position: relative; display: flex; flex-direction: column; border-radius: 1rem; box-shadow: 0 0 20px 1px rgba(157, 153, 153, 0.5); background-color: #fff; margin-left: 4%; }
#product .list .list-item:last-child, #content .list .list-item:last-child, #contact .list .list-item:last-child { margin-right: 4%; }
#product .list .list-item > *, #content .list .list-item > *, #contact .list .list-item > * { margin-bottom: 1rem; }
#product .list .list-item .content-name, #content .list .list-item .content-name, #contact .list .list-item .content-name { margin-bottom: .5rem !important; }

#product .list-item { padding: 20px 30px; flex: 0 0 44%; max-width: 44%; }
#product .list-item .img-product { height: 75px; }
#product .list-item .img-app { height: 36px; }
#product .list-item p.product-detail { font-size: .9rem; text-align: justfify; }
#product .list-item p.product-name { margin-bottom: 0 !important; color: #3d3a3a; }
#product .list-item p.product-subname { color: #0ba2a4; font-weight: bold; }
#product .list-item h5 { margin-top: 1.5rem; font-size: 1.15rem; }
#product .list-item:last-child { margin-right: 4%; }
#product .list-item a.btn-design { position: absolute; right: 50%; bottom: 0; transform: translate(50%, 50%); margin-bottom: 0 !important; }

#services { margin-top: 3rem !important; padding-top: 3rem !important; }
#services img { padding-right: 5px; }
#services img:last-child { padding-top: 5px; }

#content .list-item { padding-bottom: 20px; flex: 0 0 28%; max-width: 28%; }
#content .list-item .content-img img { width: 100%; height: 185px; }
#content .list-item .content-name { padding: 0 20px; }
#content .list-item .link-content { padding: 0; }
#content .list-item .content-name > .col-md-9 { padding: 0; }
#content .list-item h5 { color: #000; height: 95px; overflow-y: hidden; font-size: 1.1rem; line-height: 1.4; margin-bottom: 0 !important; }
#content .list-item .content-detail { text-align: justify; padding: 0 20px; font-size: .9rem; }

#contact { margin-bottom: 5rem !important; }
#contact .item-1 { flex: 0 0 30%; max-width: 30%; padding: 20px 30px; }
#contact .item-1 h5 { color: #060606; }
#contact .item-1 p { font-size: 0.9rem; }
#contact .item-1 ul { font-size: 0; list-style-type: none; }
#contact .item-1 ul li { font-size: .9rem; display: block; padding-left: 8%; color: #868788; }
#contact .item-1 ul li span { font-family: 'FontAwesome'; margin-right: 20px; color: #0ba2a4; }
#contact .item-1 ul li a { color: #868788; transition: all .3s ease; }
#contact .item-1 ul li a:hover { color: #007acd; }
#contact .item-2 { flex: 0 0 50%; max-width: 50%; padding: 10px 30px; }
#contact .item-2 label { font-size: .9rem; color: #030303; }
#contact .item-2 input { margin-bottom: 8px; }
#contact .item-2 textarea { margin-bottom: 2.5rem; }
#contact .item-2 .form-control:focus { border-color: transparent; box-shadow: 0 0 10px 1px rgba(157, 153, 153, 0.5); }
#contact .btn-design { cursor: pointer; border: 0 solid transparent; position: absolute; right: 50%; bottom: 0; transform: translate(50%, 50%); margin-bottom: 0 !important; }

footer { padding-top: 2rem; padding-bottom: 2rem; }
footer > div { margin-bottom: 22px !important; }
footer > div:not(:last-child) { border-right: 1px solid rgba(0, 0, 0, 0.1); }
footer .logo, footer .follow { margin: 0 auto; }
footer .company-name p { font-size: 0.75rem; margin-bottom: 0; }
footer .follow span { font-size: .75rem; font-weight: bold; }
footer .follow .follow-right { float: right; }
footer .follow .follow-right a span { font-family: 'FontAwesome'; width: 30px; height: 30px; font-size: 16px; line-height: 28px; display: inline-block; border-radius: 50%; border: 1px solid #868788; color: #181818; text-align: center; transition: all .3s ease-in-out; }
footer .follow .follow-right a:not(:last-child) { margin-right: 5px; }
footer .follow .follow-right a:hover span { background-color: #007acd; color: #fff !important; box-shadow: 0 0 5px 1px #007acd; }
footer .designBy p { margin-bottom: 0; font-size: .8rem; }

.about-detail { position: relative; bottom: 0; flex: 0 0 65%; max-width: 65%; border-left: 1px solid #ecebeb; }
.about-detail p.sub-detail { font-family: "UTM-B"; color: #000; }
.about-detail p { padding-left: 5%; text-align: justify; }

.list-content, .list-product { margin-left: 3%; flex: 0 0 80% !important; max-width: 80% !important; border-left: 1px solid #ecebeb; margin-bottom: 3rem; }
.list-content h5.head-title, .list-product h5.head-title { margin-bottom: 4.5rem; }
.list-content .list-item, .list-product .list-item { margin-bottom: 4%; }

.list-product .list-item { margin-bottom: 6% !important; }

.page { margin-left: 3%; flex: 0 0 80% !important; max-width: 80% !important; border-left: 1px solid #ecebeb; margin-bottom: 1rem; }
.page h5.head-title { padding-left: 10px; margin-bottom: 1.5rem; }
.page .page-left { padding: 0 20px; }
.page .page-left .head { min-height: 152px; }
.page .page-left .page-name { font-family: "UTM-Flame"; font-size: 2.3rem; line-height: 1.1; margin-bottom: 1.5rem; }
.page .page-left .page-author { font-family: "UTM-B"; font-size: .9rem; padding-right: .8rem; border-right: 1px solid #3d3a3a; color: #727577; }
.page .page-left .page-createDate { font-size: .9rem; padding-left: .8rem; color: #727577; }
.page .page-left .page-content { border-right: 1px solid #ecebeb; position: relative; }
.page .page-left .page-content > * { margin-bottom: 1.5rem !important; }
.page .page-left .page-content p, .page .page-left .page-content h4 { text-align: justify; padding-right: 20px; }
.page .page-left .page-content h4.page-subName { color: #21628e; font-family: "UTM-B"; font-size: 1rem; margin-top: 1.5rem; }
.page .page-left .page-content h4.page-subName::after { position: absolute; right: 0; top: 0; line-height: 0; transform: translate(50%, -50%); content: url("../images/dot.png"); }
.page .page-left .page-content p.page-readmore { margin-top: 2.5rem; margin-bottom: 0 !important; }
.page .page-left .page-content img { display: flex; margin: 0 auto; max-width: 100%; }
.page .page-img { padding-top: 4rem; }

.page-contact { margin-top: 3rem; flex: 0 0 100% !important; max-width: 100% !important; }
.page-contact .line-dot { width: 1px; margin: 0 1.5rem; background-color: #ecebeb; position: relative; }
.page-contact .line-dot::before { content: url(../images/dot.png); position: absolute; top: 0; left: 0; transform: translate(-50%, -50%); line-height: 0; }
.page-contact .item-1 { margin-left: 0 !important; }

/*# sourceMappingURL=style.css.map */
