* {
  margin: 0;
  padding: 0; }

html {
  font-size: 14px; }

.rs-row {
  margin-left: 0;
  margin-right: 0; }

p {
  font-family: 'Proxima-R';
  color: #000; }

h3, .h3 {
  font-size: 1.5rem;
  font-family: 'Proxima-SB'; }

section {
  padding-bottom: 1rem;
  margin-bottom: 1rem !important; }

.wrapper {
  max-width: 1170px;
  margin: auto; }

.text-b {
  font-family: 'Proxima-B'; }

.toUpper {
  text-transform: uppercase; }

.color-main {
  color: #ff488a; }

.text-color-main {
  color: #000; }

a {
  color: #000;
  transition: color .4s ease; }

a:hover, a:active {
  text-decoration: none;
  color: #000; }

.border-radius-0 {
  border-radius: 0 !important; }

main {
  background-color: #f2f1f1; }

.justify {
  text-align: justify; }

.logo-mb {
  display: none; }

.btn-readmore, .summit {
  cursor: pointer;
  font-family: 'UTM-B';
  background-color: #ff488a;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  transition: all .4s ease;
  text-decoration: none !important; }
  .btn-readmore:hover, .summit:hover {
    background-color: #fff;
    color: #ff488a;
    border-color: #ff488a;
    box-shadow: 0px 0px 5px 1px #ccc; }

.link a.read-more {
  color: #000; }
  .link a.read-more:hover {
    color: #739305;
    text-decoration: underline; }

.thumb {
  overflow: hidden;
  margin-bottom: 1rem; }
  .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .4s ease; }
    .thumb img:hover {
      transform: scale(1.05); }

.text-i {
  font-style: italic; }

.c-white {
  color: #fff; }

.c-black {
  color: #000; }

.c-gray {
  color: #a7a7a6; }

.font-weight {
  font-weight: 600; }

.pagination {
  justify-content: center;
  margin-top: 2rem; }
  .pagination ul {
    display: inline-block; }
    .pagination ul li {
      display: inline-block; }
      .pagination ul li:not(:last-child) {
        margin-right: 5px; }
      .pagination ul li a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #666;
        text-align: center;
        line-height: 35px;
        transition: background-color .4s ease; }
        .pagination ul li a:hover, .pagination ul li a.active {
          background-color: #ff488a;
          color: #fff !important; }

.hide {
  display: none; }

.list {
  display: flex;
  flex-wrap: wrap; }
  .list .headline {
    margin-bottom: .5rem;
    font-family: 'UTM-Androgyne'; }
    .list .headline a {
      font-size: 1.5rem;
      color: #ff488a;
      transition: color .4s ease; }
  .list .sub-headline {
    font-family: 'Helvetica Neue';
    color: #acacab;
    font-size: 12px;
    margin-bottom: .5rem;
    padding-bottom: 5px;
    padding-top: .5rem;
    border-bottom: 1px solid #ccc; }
    .list .sub-headline .by::before {
      content: "Theo ";
      padding-right: 2px;
      color: #acacab;
      font-weight: normal; }
    .list .sub-headline span:not(:last-child):after {
      content: "|";
      padding-left: 10px;
      padding-right: 10px; }
  .list .link {
    position: absolute;
    left: 0;
    bottom: 0; }
    .list .link a {
      text-decoration: underline; }

#hide-w {
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

header .head {
  padding-top: 21px; }

.search, .head-right {
  margin-bottom: .8rem;
  align-self: flex-end; }

.form-search {
  position: relative; }
  .form-search input {
    float: right;
    height: 40px;
    border-color: #a6a6a6;
    border-radius: 6px;
    width: 330px; }
    .form-search input:focus, .form-search input:active {
      box-shadow: 0px 15px 10px -15px #111;
      border-color: #a6a6a6; }
  .form-search button.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../images/theme/ico-search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline-color: transparent; }

.head-right > div {
  display: inline-block; }
  .head-right > div:not(:last-child) {
    padding-right: 1.5rem; }
.head-right .tel {
  transition: color .4s ease;
  color: #ff488a; }
  .head-right .tel a {
    color: #ff488a; }
  .head-right .tel:hover {
    color: #111; }

.menu {
  margin-top: 1rem; }
  .menu > ul {
    margin-bottom: 0;
    font-size: 0;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .menu > ul > li {
      font-size: 1rem;
      display: inline-block;
      padding: 10px 5px 1rem;
      position: relative; }
      .menu > ul > li:after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: transparent;
        position: absolute;
        left: 50%;
        border-radius: 50%;
        bottom: 6px;
        -webkit-transform: translate(-50%, -5px);
        -o-transform: translate(-50%, -5px);
        -ms-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
        transition: all .4s ease; }
      .menu > ul > li a {
        font-family: 'Proxima-SB';
        text-transform: uppercase; }
      .menu > ul > li:hover:after {
        background-color: #ff488a;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .menu > ul > li:hover ul.lv2 {
        pointer-events: all;
        opacity: 1;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }

ul.lv2 {
  transition: opacity .4s ease, transform .4s ease;
  opacity: 0;
  -webkit-transform: translateY(-1.5rem);
  -o-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
  margin-top: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #ff488a;
  display: block;
  z-index: 999;
  pointer-events: none;
  position: absolute;
  left: -2rem;
  right: -2rem; }
  ul.lv2 li {
    padding: 15px 15px 15px 30px;
    display: block;
    position: relative; }
    ul.lv2 li::before {
      content: "";
      width: 0;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: width .4s ease; }
    ul.lv2 li:hover::before {
      width: 1.5rem; }
    ul.lv2 li a {
      display: block;
      color: #fff;
      font-family: 'Proxima-SB'; }

.banner-home {
  z-index: 1;
  position: relative; }

.list-seaFlowers-par {
  width: 100%; }
  .list-seaFlowers-par .item {
    position: relative;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem; }
    .list-seaFlowers-par .item .thumb {
      width: 100%;
      box-shadow: 0px 0px 25px 1px transparent;
      transition: box-shadow .4s ease, transform .4s ease; }
      .list-seaFlowers-par .item .thumb img {
        pointer-events: none; }
    .list-seaFlowers-par .item a.img-item:hover .thumb {
      -webkit-transform: translateY(-1rem);
      -o-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      transform: translateY(-1rem);
      box-shadow: 0px 0px 25px 1px #66666652; }
    .list-seaFlowers-par .item:first-child {
      padding-left: 0; }
    .list-seaFlowers-par .item:last-child {
      padding-right: 0; }
    .list-seaFlowers-par .item .name {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .list-seaFlowers-par .item .name a:hover {
      color: #ff488a; }

.delivery {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #00997c;
  color: #fff; }
  .delivery .headline {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
    .delivery .headline::after {
      content: "";
      width: 10%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .delivery .description {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    font-family: 'Proxima-SB';
    font-size: 1.3rem; }

/*# sourceMappingURL=site.css.map */
