@import 'Helpers/variable';

$color-product: #bc162c;

.banner-product{
    border-top: 4px solid $color-product;
}

main{
    padding-bottom: 3rem;
}
.nav-left{
    ul li{
        &.active, &:hover{
            background-color: $color-product;
          }
          a{
            color: $color-product;
          }
    }
}
.product-main, .product-info{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #ccc;
}

.nav-right{
    .item{
        margin-bottom: 1.5rem;
        .thumb{
            margin-bottom: .5rem;
            margin-top: 1rem;
        }        
    }
}
.product-logo{
    align-self: center;
}

.news .item .headline{
    padding-bottom: .5rem;
}