header{
    position: relative;
    z-index: 2;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        background-repeat: repeat;
        // opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
header{
    .logo{
        img{
            max-height: 100px;
        }
    }
}