.home-banner {
  position: relative;
  overflow: hidden;
  margin-top: -150px;
  z-index: 1;
  font-size: 0;
}
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.why-chose {
  margin-bottom: 3rem;
  .caption {
    margin-bottom: 2rem;
  }
  .list-why {
    padding-top: 1rem;
    .item {
      margin-bottom: 1rem;
    }
    img {
      display: block;
      padding-bottom: 1rem;
      margin: auto;
    }
    p.title {
      color: $color-child;
      text-align: center;
    }
    .sumary {
      font-size: 13px;
      text-align: justify;
    }
  }
}

.ourst, .our-hotel{
    .caption{
        margin-bottom: 2rem;
    }
}
.list-Ourst {    
  position: relative;
  &:hover {
    .button-slide-Ourst {
      visibility: visible;
      opacity: 1;
    }
  }
  .swiper-slide {
    .thumnails,
    .title,
    .address,
    .sumary {
      margin-bottom: 0.5rem;
    }
    .title {
      font-size: 1.2rem;
    }
    .address {
      height: 2.5rem;
      font-weight: 300;
    }
  }
}
.button-slide-Ourst {
  transition: 0.4s ease;
  .Ourst-button-prev,
  .Ourst-button-next {
    position: absolute;
    top: 50%;

    width: 40px;
    height: 40px;
    border: 1px solid $color-text;
    outline-color: transparent;
    transition: 0.4s ease;
    cursor: pointer;
    i {
      font-size: 1.5rem;
      display: inherit;
      text-align: center;
      line-height: 38px;
      vertical-align: middle;
    }
    &:hover {
      background-color: $color-text;
      color: #fff;
    }
  }
  .Ourst-button-prev {
    left: -2rem;
    transform: translate(-50%, -50%);
  }
  .Ourst-button-next {
    right: -2rem;
    transform: translate(50%, -50%);
  }
}


