
@font-face {
  font-family: 'UVFBlendaScript';
  src: url('../fonts/UVFBlendaScript.eot?#iefix') format('embedded-opentype'),  url('../fonts/UVFBlendaScript.woff') format('woff'), url('../fonts/UVFBlendaScript.ttf')  format('truetype'), url('../fonts/UVFBlendaScript.svg#UVFBlendaScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
