.m1024{
    display: none;
}
.pc{
    display: block;
}
.mobile{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .m1024{
        display: flex;
        padding-top: 9px;
    }
    .hexa{
        width: 210px;
        height: 243px;
    }
    .top img{
        display: none !important;
    }
    .top h3{display: block !important}
    .pc{
        display: none;
    }
    #content .head ul li{
        padding: 0 1.5em;
    }
    .mobile{
        display: none;
    }
    .main-slide{background-size: 50%;}
    .head-main ul li{margin: 0 1rem;}
    #about .detail-about{flex: 0 0 50%;max-width: 50%;}
    #about .btn{margin-top: 0}
}
    
@media only screen and (max-width: 768px) {
    .product-item{flex: 0 0 100%;
    max-width: 100%;    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 1rem;}
    .list-content button{
        left: 0 !important;
    }
    footer .contact{
        padding-top: 5rem;
    } 
    #content .head ul li{padding: 0;}
    .main-body .wrap-page .note-1 p{
        font-size: 20px;
    }
    .name-title h3 {
        font-size: 24px !important;
    }
    .list-content .content{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px !important;
    }.hexa{
        width: 162px;
        height: 185px;
    }.social>* {
    margin-left: 0.5rem;
}
    .info,.contact-footer{
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    }
    .menu ul li a{
        font-size: 20px;
    }
    .name-banner p{
        width: 66%;
        padding: 1em 40px 1em;
    }
    .head-main{display: none;}
    #banner-child .img-banner img{width: 100%;}
    .detail-about{flex: 0 0 50%;max-width: 50%;}
    #content .head ul li a{font-size: 18px;}
}
@media only screen and (max-width: 767px) {
    .m1024{
        display: none;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: flex;
    }
}
@media only screen and (max-width: 425px) {
    .sub-new .col-md-2{flex: 0 0 50%; max-width: 50%;}
    .sub-new .col-md-8{display: none}
	footer .contact .contact-item{
        width: auto;
    }
    .name-banner p{width: 100%;opacity: 0.8;}
    #content .head ul li a{
        font-size: 18px;
    }
    footer .contact-item span{display: none;}
    /* .main-body .wrap-page{
        padding: 1rem 20px !important;
    } */
    footer .contact-footer .t1 {margin-right: 0;}
    footer .contact-item {width: auto;}
    .main-body .wrap-page .note-1 p{
        font-size: 18px;
    }
    .name-title h3 {
        font-size: 20px !important;
    }
    .list-content .content{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 !important;
    }
        .main-slide{background-size: 100%;}
    .hexa{
        width: 210px;
        height: 243px;
    }.pd-1e5{padding-top: 0;border-bottom: 1px solid #fff !important}
    #content h3{margin-bottom: 1rem}
    .contact-form .col{
        flex-basis: auto;
        margin-bottom: 2rem;
    }
    .contact-form .row{margin-bottom: 0;}
    header.mobile .logo{padding: 10px; margin: auto 0; flex: 0 0 66.66667%;max-width: 66.66667%}
    header.mobile .lang{padding: 10px; margin: auto 0; flex: 0 0 33.33333%;max-width: 33.33333%;flex-direction: row;}
    #content .head ul li a{padding-left: 0 !important}
    .main-slide{padding-top: .25rem}
    #about .detail-about{flex: 0 0 100%;max-width: 100%;padding-right: 20px}
    #about .btn{margin: auto; display: block}
    .social{text-align: left !important; line-height: 2; margin-top: 0.25rem}
    .main-slide .carousel-indicators{
        justify-content: center;
	margin-right:0;
	margin-left:0;
    }
    .main-body .wrap-page {
        padding:2.5rem 15px !important;}
    .name-banner p{padding-left: 0}
    .contact-form{padding: 5rem 1rem 3rem}
}
@media only screen and (max-width: 375px){
    #content .head ul li{display: block;line-height: 2}
    .contact-item .item{margin-right: 0}
}
@media only screen and (max-width: 320px) {
    .contact-item .item{margin-right: 10px}
    .contact-footer .t1{margin-right: 0} 
    #category h3{width: auto}
    .note:before{margin-left: -7rem;
        padding-right: 1rem;}   
    .lang>*{margin-right: 0}
    .contact-item{padding-right: 0}
}