/*basic*/

.upper {
    text-transform: uppercase;
}

.df-color {
    color: #ec1c23;
    fill: #c00;
}

/*body {
    font-size: 16px;
}*/

.no-padding {
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 130px;
}

a {
    color: #fff;
}

    a:hover {
        text-decoration: none;
        color: #3e3d3d;
    }

ul {
    list-style-type: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control:focus {
    border-color: #ec1c23 !important;
    box-shadow: 0 0 0.2rem #ec1c23;
}

.pc {
    padding-top: 9px;
}

.menu {
    margin-top: 9px;
}

.wrap-page {
    max-width: 1200px;
    margin: auto;
}

.header-main {
    padding-top: 13px;
    padding-bottom: 30px;
}

    .header-main * {
        line-height: 1 !important;
    }
.logo{
    width: 285px;
    padding-left: 15px;
    padding-right: 0;
    float: left;
}

.lang {
    line-height: 1;
}

    .lang > * {
        margin-right: 8px;
    }

.menu{padding-right: 0;
    float: right;}
.menu ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 8px;
    margin-right: 10px;
}

    .menu ul li:last-child {
        padding: 0;
    }

    .menu ul li a {
        font-family: "Exo-Medium";
        font-size: 20px;
        color: #3e3d3d;
        display: inline-block;
        height: 24px;
        text-transform: uppercase;
    }

    .menu ul li:hover a {
        color: #000;
        font-weight: 500;
    }

    .menu ul li img {
        margin-top: 5px !important;
        display: none !important;
    }

    .menu ul li:hover img, .menu ul li.active img {
        display: block !important;
    }
    .menu li:last-child{margin-right: 0}

.navbar-nav li.active .nav-link {
    color: rgba(0,0,0,.7);
}

.main-slide {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background: url("../Images/bg-slider.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 43%;
}

    .main-slide .carousel-indicators {
        margin-right: 35%;
        justify-content: flex-end;
    }

        .main-slide .carousel-indicators li {
            margin-left: 10px;
            margin-right: 10px;
            border: none;
        }

.main-body {
    background-color: #f0f6fd;
    padding-bottom: 3rem;
}

#about {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#about div:first-child{
    padding-left: 0;
}
.img-panel {
    position: relative;
    opacity: 0.6;
    z-index: 10;
}

#about .img-content {
    margin-top: -25px;
}

.note:before {
    margin-left: -8rem;
    padding-right: 2rem;
    content: url('../Images/Icon/line.png');
    vertical-align: super;
}

#about h5 {
    font-family: Exo-SemiBold;
    color: #ec1c23;
    font-size: 24px;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

#about img {
    max-height: 500px;
}

.detail-about {
    padding-left: 3rem;
}

    .detail-about p {
        margin-bottom: 1.5rem;
    }

    .detail-about button {
        margin-top: 1.5rem;
    }

#about .detail-about {
    padding-top: 2rem;
    max-width: 500px;
}

#about .title {
    font-family: OpenSans-SemiBold;
    font-size: 18px;
}

#about .more {
    font-family: OpenSans-Regular;
    color: #3e3e3e;
    font-size: 16px;
}

button {
    font-family: OpenSans-Regular;
    padding: 20px 70px !important;
    color: #000;
    background-color: #fff;
}

#about button:hover {
    background-color: #ec1c23;
    color: #fff;
}


#category {
    background-color: #5c8da2;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

    
    #category p {
        font-family: OpenSans-SemiBold;
        font-size: 20px;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    #category a:hover p {
        color: #ec1c23;
        transition: all linear 0.3s;
    }

    #category a img {
        -webkit-transform:translate(-25%,-25%) scale(1.1);
        transform:translate(-25%,-25%) scale(1.1);
        -webkit-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;
    }

    #category a:hover img {
        -webkit-transform:translate(-25%,-25%) scale(1);
        transform:translate(-25%,-25%) scale(1);
    }



#content {
    margin-top: 3rem;
}

    #content h3 {
        font-family: Exo-SemiBold;
        font-size: 26px;
        color: #ec1c23;
        margin-bottom: 2rem;
    }

    #content .head ul li {
        display: inline-block;
        padding: 0 1.5em;
    }

        #content .head ul li a {
            font-family: OpenSans-Regular;
            font-size: 20px;
            line-height: 22px;
            padding-bottom: .5rem;
            color: #3e3e3e;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        #content .head ul li:hover a {
            color: #000;
            border-bottom: 2px solid #ec1c23;
        }

.list-content {
    margin-top: 10px;
}

    .list-content .content {
        padding-right: 20px;
        margin-top: 10px;
    }

#content .active a {
    border-bottom: 2px solid #ec1c23;
    color: #000 !important;
}

.img-content {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
}

figure {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

    figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

.img-content figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.list-content .detail-content {
    padding: 2rem;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    background: #fff;
    color: #000;
    margin-bottom: 2rem;
}

    .list-content .detail-content span {
        color: #3e3e3e;
        font-family: ProximaNova-Regular;
        font-size: 14px;
    }

.list-content button {
    margin-top: 2rem;
    font-family: OpenSans-Regular;
    font-size: 16px;
    position: relative;
    background: #f0f6fd;
    color: #000;
}

.detail-content a {
    color: #3e3d3d;
}

.detail-content h3 a {
    color: #ec1c23;
}

.detail-content a:hover {
    color: #000;
    font-weight: 450;
    transition: all 0.3s linear;
}

.list-content button:hover {
    background-color: #ec1c23 !important;
    color: #fff;
}

footer {
    background-color: #ec1c23;
    color: #fff;
}

footer, .copyright {
    padding-top: 3em;
    padding-bottom: 3em;
}

.info p, .copyright {
    font-family: ProximaNova-Regular;
    font-size: 16px;
}

.info h3 {
    font-family: Exo-Medium;
    font-size: 30px;
    margin-top: .5rem;
}

.info h3, .info img {
    margin-bottom: 2.2rem;
}

.contact-item .item {
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-item {
    width: 45%;
    float: left;
    padding-bottom: 1.5rem;
    padding-right: .5rem;
    border-bottom: 1px solid #fff;
    font-size: 16px;
}

    .contact-item a {
        color: #fff;
    }

.contact-footer .t1 {
    margin-right: 30px;
}

.copyright {
    color: #000;
}

.social a {
    color: #404040;
}

.social > * {
    margin-left: 1rem;
}

.head-main {
    background: #de414b;
    position: absolute;
    width: 100%;
    opacity: 0.8;
}

    .head-main ul li {
        display: inline-block;
        padding: 1rem;
        margin: 0 2rem;
        border-bottom: 3px solid #de414b;
    }

        .head-main ul li a {
            font-family: OpenSans-SemiBold;
            font-size: 20px;
        }

        .head-main ul li:hover {
            border-bottom: 3px solid #fff;
        }

    .head-main ul .active {
        border-bottom: 3px solid #fff;
    }

    .head-main ul li a:hover {
        color: #fff !important;
    }

#banner-top {
    position: relative;
    width: 100%;
    float: left;
    z-index: 100;
}

.banner-child .img-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
}

#banner-top .img-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 400px;
}

.name-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

    .name-banner p {
        display: inline-block;
        margin: 0;
        font-family: Exo-SemiBold;
        font-size: 28px;
        color: #ec1c23;
        background: #fff;
        padding: 2rem 56px 2rem;
        text-align: right;
    }

.name-title h3 {
    width: 33.3333%;
    display: inline-block;
    margin-bottom: 0;
}

.main-body .note-1 {
    margin-left: 34px;
    border-left: 3px solid #ec1c23;
    padding-left: 2rem;
    font-family: OpenSans-SemiBold;
    color: #000;
    font-size: 28px;
}

.main-body .detail > * {
    margin-bottom: 1rem !important;
}

.main-body .detail {
    margin-top: 2rem;
    width: 100%;
    float: left;
}

.contact {
    padding-right: 2rem;
    padding-left: 3rem;
    padding-top: 5rem;
}

    .contact p {
        font-family: ProximaNova-Regular;
        font-size: 16px;
    }

    .contact h4 {
        font-family: OpenSans-Bold;
        font-size: 24px;
    }

.contact-1 p {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ec1c23;
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px;
    min-width: 200px;
}

.contact-1 a i {
    color: #ec1c23;
}

.contact-1 a p {
    color: #000;
}

.contact-1 a:hover {
    text-shadow: 1px 1px 1px #ccc;
}

.contact-form {
    background: #fff;
    padding: 5rem 2rem 3rem 3rem;
    float: left;
    width: 100%;
}

    .contact-form .form-control {
        box-shadow: 0px 0px 3px #ccc;
        padding: .375rem 1.25rem;
    }

    .contact-form button {
        background: #ec1c23;
    }

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.contact-form input[type="text"]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color: #000 !important;
    font-family: OpenSans-Regular;
    font-size: 17px;
}

.contact-form input[type="text"], .contact-form textarea, .contact-form input[type="email"] {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #000 !important;
}

form > div {
    margin-bottom: 2rem;
}

#video .carousel-control-prev, #video .carousel-control-next {
    opacity: 1 !important;
}

#video .carousel-control-prev {
    left: -120px;
}

    #video .carousel-control-prev span, #video .carousel-control-next span {
        display: inline-block;
        padding: 17px 24px;
        background: #fff;
        border-radius: 50%;
    }

.video-slider {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

    .video-slider img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .video-slider .play-video {
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 83px;
        height: 83px;
        background: #fff;
        text-align: center;
        padding-top: 30px;
    }

.play-video:hover {
    background: #ec1c23;
}

.play-video i {
    color: #000;
}

.play-video:hover i {
    color: #fff;
}

#video .carousel-control-next {
    right: -120px;
}

#video .carousel-control-prev:hover i, .carousel-control-next:hover i {
    color: #ec1c23;
}

#video .carousel-control-prev i, .carousel-control-next i {
    color: #000;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#video .carousel-indicators {
    bottom: -50px;
}

    #video .carousel-indicators li {
        background: #fff;
        opacity: 1;
    }

    #video .carousel-indicators .active {
        background: #ec1c23;
    }

.product-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;;
}

    .product-item h4 {
        font-family: OpenSans-SemiBold;
        font-size: 32px;
        color: #000;
        text-align: left;
    }

    .product-item .p2-name {
        font-size: 28px;
    }

    .product-item .name-product:before {
        content: url('../Images/Icon/line3.png');
        padding-right: 2rem;
        vertical-align: super;
    }

    .product-item * {
        font-family: OpenSans-Regular;
    }

    .product-item .sub-name-product {
        color: #ccc;
        font-size: 28px;
    }

    .product-item p {
        font-size: 15px;
    }

.p2-product {
    margin-top: 2rem;
}

.product-item ul li:before {
    content: url('../Images/Icon/square.png');
    padding-right: 10px;
    vertical-align: baseline;
}

.product-item ul li {
    font-size: 15px;
}

.bg-white-ad {
    background: #fff !important;
}

.line {
    background: #ccc;
    height: 1px;
    top: 13px;
    position: relative;
}

.share a {
    color: #ed6c72;
    padding-left: 10px;
}

    .share a:hover {
        color: #ec1c23;
    }

.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
}

.hexa {
    width: 240px;
    height: 209px;
}

    .hexa div {
        width: 100%;
        height: 100%;
    }

.hexa {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);transform: rotate(-60deg);
}

.footer-mobile{display: none;}
.footer-pc{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.m1024 .menu ul li:last-child{padding-right: 0}
.pd-1e5{padding-top: 1.5rem}
.sticky {  position: fixed;  top: 0;  width: 100%;opacity: 1;}

#category .bgAndLine:before {
    content: "123";
    width: 100%;
    position: absolute;
    height: 1px;
    color: transparent;
    background: #a9c2ce;
    left: 0;
    right: 0;
    top: 44%;
    z-index: 0;
}
#category .top{margin-bottom: 2rem; display:flex}
#category h3 {
    font-family: Exo-SemiBold;
    font-size: 26px;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 2;
    background: #5c8da2;
    margin: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.bgAndLine {
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 100%;
}

div#category .top {
    position: relative;
}
#category h3 a:hover{
    color: #ec1c23;
}

.navbar-brand{padding-left: 0}
.navbar::before{
    display: none;
}
.navbar-toggler{
    top: 5px;
    right: 15px;
    position: absolute;
}
.upper{text-transform: uppercase}
.img-slider.ratio4_3 {
    position: relative;
    width: 100%;
    float: left;
}

.img-slider.ratio4_3 {
    position: relative;
    width: 100%;
    float: left;
}

    .img-slider.ratio4_3:before {
        content: "";
        margin-top: 75%;
        display: block;
    }

    .img-slider.ratio4_3 a, .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        float: left;
        top: 0;
        left: 0;
        overflow: hidden;
    }

div#video {
    overflow: hidden;
}

.fixed-ratio {
    position: relative;
    float: left;
    width: 100%;
}

    .fixed-ratio:before {
        content: "";
        margin-top: 100%;
        display: block;
    }

.ratio1_1:before {
    margin-top: 100%;
}

.ratio2_1:before {
    margin-top: 50%;
}

.ratio4_3:before {
    margin-top: 75%;
}

.fixed-ratio img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.fixed-ratio figure {
    height: 100%;
    max-height: 100%;
}

ul.slider-library .owl-item {
    position: relative;
}

ul.slider-library li img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.hover {
    opacity: 1;
    transition: all linear 0.2s;
}

    .hover:hover {
        opacity: 0.7;
        transition: all linear 0.2s;
    }

.product-item .detail-product,.product-item ul li{
    text-align: justify;
}
.product-item{margin-bottom: 1rem;}


#banner-top, .banner-child {
    position: relative;
    width: 100%;
    float: left;}

#about a:hover{
    background-color: #ec1c23;
    color: #fff;
}   
.btn{padding: 1rem 3rem !important;border-radius: .35rem; color: #3e3d3d; margin-top: 1rem}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.7)
}
.list-content a:hover{
    background-color: #ec1c23 !important;
    color: #fff;
}
.navbar{margin-bottom: 0}
.navbar>button{
    padding: .25rem .75rem !important;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Exo-Medium';
    font-size: 1.4rem;
}

#about div:first-child{
    padding-left: 0 !important;
}