.m1024 {
    display: none;
}

.pc {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1200px) {


    .menu ul li a {
        font-family: "Exo-Medium";
        font-size: 18.5px;
    }
}


@media only screen and (max-width: 1024px) {
    .m1024 {
        display: flex;
        padding-top: 9px;
    }

    .hexa {
        width: 210px;
        height: 243px;
    }

    .top img {
        display: none !important;
    }

    .top h3 {
        display: block !important;
    }

    .pc {
        display: none;
    }

    #content .head ul li {
        padding: 0 1.5em;
    }

    .mobile {
        display: none;
    }

    .main-slide {
        background-size: 50%;
    }

    .head-main ul li {
        margin: 0 1rem;
    }

    .logo {
        padding-top: 1em;
        flex: auto;
        max-width: 35%;
    }

    .menu ul li a {
        font-family: "Exo-Medium";
        font-size: 17px;
    }

    .float-right.lang {
        width: auto;
        flex: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .product-item {
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid #ccc;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    .list-content button {
        left: 0 !important;
    }

    footer .contact {
        padding-top: 5rem;
    }

        footer .contact span {
            display: none;
        }

    #content .head ul li {
        padding: 0;
    }

    .main-body .wrap-page .note-1 p {
        font-size: 20px;
    }

    .name-title h3 {
        font-size: 24px !important;
    }

    .list-content .content {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .hexa {
        width: 162px;
        height: 185px;
    }

    .social > * {
        margin-left: 0.5rem;
    }

    .info, .contact-footer {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .menu ul li a {
        font-size: 20px;
    }

    .name-banner p {
        width: 66%;
        padding: 1em 40px 1em;
    }

    #content h3 {
        text-align: center;
    }

    #about .detail-about {
        padding-top: 2rem;
        max-width: 100%;
    }

    .detail-about .list-content {
        text-align: center;
    }

    .head-main ul li a {
        font-family: OpenSans-SemiBold;
        font-size: 18px;
    }

    .row.sub-new div {
        float: left;
        width: auto;
    }

    .row.sub-new .line {
        display: none;
    }

    .row.sub-new .text-right {
        float: right;
        width: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .m1024 {
        display: none;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

@media screen and (max-width: 640px) {
    .list-content .content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact-item {
        width: 100%;
        float: left;
        padding-bottom: 1.5rem;
        padding-top: 0 !important;
        padding-right: 0;
        border-bottom: none;
        font-size: 15px;
    }

        .contact-item .item {
            padding: 8px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 0.8em;
        }

    footer, .copyright {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #category h3 {
        width: 100%;
    }

    .name-banner p {
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .head-main {
        background: #de414b;
        position: relative;
        width: 100%;
        opacity: 0.8;
    }

        .head-main ul li a {
            font-family: OpenSans-SemiBold;
            font-size: 16px;
        }
}

@media only screen and (max-width: 425px) {
    footer .contact .contact-item {
        width: auto;
    }

    #content .head ul li a {
        font-size: 18px;
    }

    .main-body .wrap-page {
        padding: 15px !important;
    }

        .main-body .wrap-page .note-1 p {
            font-size: 18px;
        }

    .name-title h3 {
        font-size: 20px !important;
    }

    .list-content .content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-slide {
        background-size: 100%;
    }

    .hexa {
        width: 210px;
        height: 243px;
    }
}
