.toUpper {
  text-transform: uppercase; }

body {
  background-color: #f2f2f2; }

.banner {
  width: 100%;
  position: relative; }
  .banner::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: #e0e0e0; }

.content .title .txt-title {
  font-size: 24px;
  color: #010101;
  text-transform: uppercase;
  line-height: 32px;
  font-family: 'UTM Copperplate';
  margin-bottom: 10px; }
.content .title-line {
  width: 375px;
  height: 2px;
  background-color: #e5e3e3;
  position: relative;
  margin: 0 auto; }
  .content .title-line::before {
    position: absolute;
    top: -2px;
    content: '';
    left: 50%;
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #d71920;
    transform: translateX(-50%); }
.content .news {
  padding-top: 50px; }
  .content .news .news-content {
    padding-top: 30px; }
    .content .news .news-content .card {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      margin-bottom: 50px; }
      .content .news .news-content .card .card-title {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold; }
        .content .news .news-content .card .card-title a {
          text-decoration: none;
          color: #030303; }
      .content .news .news-content .card .line {
        width: 100%;
        height: 1px;
        margin: 20px 0 15px 0;
        background-color: #e5e3e3;
        position: relative; }
        .content .news .news-content .card .line::before {
          position: absolute;
          content: '';
          top: -3px;
          left: 0;
          width: 20%;
          height: 5px;
          background-color: #d71920;
          border-radius: 5px; }
      .content .news .news-content .card .card-text {
        min-height: 100px;
        overflow: hidden; }
        .content .news .news-content .card .card-text p {
          color: #5f5b5b;
          font-size: 13px;
          line-height: 20px;
          font-family: 'UTM Neo Sans Intel';
          margin-bottom: 0; }
      .content .news .news-content .card span {
        font-size: 12px;
        line-height: 20px;
        color: #5f5b5b; }
        .content .news .news-content .card span i {
          padding-right: 3px; }
    .content .news .news-content .news-item-top .news-box {
      overflow: hidden;
      display: block; }
      .content .news .news-content .news-item-top .news-box .card-img-top {
        float: left;
        width: 50%; }
        .content .news .news-content .news-item-top .news-box .card-img-top img {
          width: 101%;
          z-index: 10; }
      .content .news .news-content .news-item-top .news-box .card-body {
        width: 50%;
        float: right; }
        .content .news .news-content .news-item-top .news-box .card-body .card-text {
          min-height: 230px; }
    @media screen and (max-width: 768px) {
      .content .news .news-content .news-item-top .news-box {
        overflow: hidden;
        display: block; }
        .content .news .news-content .news-item-top .news-box .card-img-top {
          float: none;
          width: 100%; }
          .content .news .news-content .news-item-top .news-box .card-img-top img {
            width: 100%;
            z-index: 10; }
        .content .news .news-content .news-item-top .news-box .card-body {
          width: 100%;
          float: none; }
          .content .news .news-content .news-item-top .news-box .card-body .card-text {
            min-height: 100px; } }
    .content .news .news-content .panigations {
      display: flex;
      align-items: center;
      padding-bottom: 50px; }
      .content .news .news-content .panigations .pagination .page-link {
        font-size: 16px;
        line-height: 22px;
        font-family: 'UTM Neo Sans Intel';
        color: #5f5b5b; }
      .content .news .news-content .panigations .pagination .pre, .content .news .news-content .panigations .pagination .next {
        border: none;
        background-color: transparent; }
      .content .news .news-content .panigations .pagination .active .page-link {
        background-color: #d71920 !important;
        border-color: transparent;
        color: #ffffff; }
.content .menu-footer {
  width: 100%;
  background-color: #d71920;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 30px; }
  .content .menu-footer .menu-footer-child {
    min-height: 160px;
    padding-left: 45px;
    position: relative; }
    .content .menu-footer .menu-footer-child::before {
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      width: 1px;
      height: 100%;
      background-color: #e5e3e3;
      opacity: 0.5; }
    .content .menu-footer .menu-footer-child .menu-title h1 {
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: bold; }
    .content .menu-footer .menu-footer-child .navbar-nav {
      list-style: initial;
      padding-left: 20px; }
      .content .menu-footer .menu-footer-child .navbar-nav a {
        color: #ffffff;
        font-size: 13px;
        line-height: 20px; }

/*# sourceMappingURL=tintuc.css.map */
