html {
  font-size: 14px;
}
body {
  font-family: $font-main;
  font-weight: normal;
  font-style: normal;
  word-spacing: 1px;
  color: $color-text;
  background: #fff;
  p {
    line-height: 1.4;
  }
}
.wrapper {
  max-width: 1162px;
  margin: auto;
}
.wrapper-mini{
  max-width: 920px;
  margin: auto;
}
.text-b {
  font-family: $font-main;
  font-weight: 500;
}
.caption {
  color: $color-main;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
h4.caption {
  font-size: 1.2rem;
}
.nav-link {
  position: absolute;
  left: 3%;
  top: 255px;
  z-index: 100;
}
.text-upper {
  text-transform: uppercase;
}
.color-main {
  color: $color-main !important;
}
.color-child{
    color: $color-child;
}
.color-black {
  color: #000;
}
.pagination {
  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 0;
  }
  .page-item.active {
    pointer-events: none;
  }
  .page-item.active .page-link {
    background-color: $color-main;
    outline-color: transparent;
    border: 1px solid #c9c9c9;
  }
  .page-link {
    color: #a2a4a2;
    padding-top: 10px;
    padding-bottom: 10px;
    &:focus {
      box-shadow: none;
    }
  }
  .page-item {
    margin-right: 0.5rem;
  }
}
.thumnails {
  font-size: 0;
}

.col-20 {
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
}

a:hover{
    color: $color-main;
}
a.nocolor:hover{
    color: initial;
}

@media screen and (max-width: 768px) {
  .col-20 {
    width: 50%;
  }
}
