$color-main: #487a17;
$color-text-main: #4a4b49;
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
}
p{
    font-family: 'Roboto Slab';
    color: $color-text-main;
}

.wrapper{
    max-width: 1164px;
    margin: auto;
}
.text-b{
    font-family: 'UTM-Erie';
}
.toUpper{
    text-transform: uppercase;
}
.container_skitter, .skitter{
    width: 100% !important;
    max-width: 100% !important;
}
.color-main{
    color: $color-main;
}
.text-color-main{
    color: $color-text-main;
}
a:hover, a:active{
    text-decoration: none;    
    color: #739305 !important;
}

main{
    background-color: #f2f1f1;
}

.justify{
    text-align: justify;
}

.btn-readmore{
    font-family: 'UTM-B';
    background-color: $color-main;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    transition: all .4s ease;
    &:hover{
        background-color: #fff;
        color: $color-main;
        border-color: $color-main;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}
.link a.read-more{
    color: #739305;
    &:hover{
        text-decoration: underline;
    }
}
.thumb{
    overflow: hidden;
    margin-bottom: 1rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform .4s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.text-i{
    font-style: italic;
}
.c-black{
    color: #000;
}
.c-gray{
    color: #a7a7a6;
}
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
}