$color-main: #487a17;

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 15px;
}
p{
    font-family: 'UTM';
    color: #4a4a49;
}
h3{
    font-family: 'UTM-KT';
}
.wrapper{
    max-width: 1164px;
    margin: auto;
}
.text-b{
    font-family: 'UTM-Erie';
}
.toUpper{
    text-transform: uppercase;
}
.container_skitter, .skitter{
    width: 100% !important;
    max-width: 100% !important;
}
.color-main{
    color: $color-main;
}

a:hover, a:active{
    text-decoration: none;
}

main{
    background-color: #f2f1f1;
}

.justify{
    text-align: justify;
}

.btn-readmore{
    font-family: 'UTM-B';
    background-color: $color-main;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    transition: all .4s ease;
    &:hover{
        background-color: #fff;
        color: $color-main;
        border-color: $color-main;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}
@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
}