@import 'config';

@media screen and(max-width:1200px){
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and(max-width:1164px){    
    .header{
        .left{
            width: 100% !important;
        }
        .right{
            width: auto !important;
            position: absolute;
            top: 50%;
            right: 15px;
            @include transform(translateY(-50%));
            button{
                display: block;
            }
            .menu-pc{
                display: none !important;
            }            
        }
    }
}
@media screen and(max-width:900px){
    .banner #owl-banner .item{height: 400px;}
}
@media screen and(max-width:768px){
    .hoatdong-par .description{
        h3{font-size: 20px;}
    }
}
@media screen and(max-width:600px){
    .logo-pc{
        display: none !important;
    }
    .logo-mb{
        display: block !important;
    }
    .banner #owl-banner .item{height: 300px;}
    .banner-not-home{height: 180px;}
    .header{
        height: 68px !important;
        .left{
            padding-left: 20px;
            padding-right: 20px;           
            .text-logo{
                p{
                    &.name-site{font-size: 18px}
                    &.head, &.bot{font-size: 10px}
                }
            }
        }
        
    }
}
@media screen and(max-width:475px){
    html{font-size: 12px;}    
    .header{
        height: 68px !important;
        .left{
            padding-left: 20px;
            padding-right: 20px;           
            .text-logo{
                p{
                    &.name-site{font-size: 18px}
                    &.head, &.bot{font-size: 10px}
                }
            }
        }
        .right button i{font-size: 1rem;}
    }
    // .banner{
    //     &-home{
    //         height: 170px;
    //     }
    // }
    main {
        padding-left: 20px;
        padding-right: 20px;
        .wrapper{
            padding-left: 0;
            padding-right: 0;
        }
    }
    .hoatdong{
        &-par{
            .list-item{
                padding-left: 5%;
                padding-right: 5%;
            }
            .item{
                width: 100%;
                margin-top: 0;
            }
            .item:first-child{
                margin-top: -17px;
            }
        }
    }    
    .hoatdong-par .description{
        h3{font-size: 24px;}
        padding-left: 0;
        padding-right: 0;
    } 
    .about-home, .product-par{
        margin-top: 1.5rem !important;
        width: 100% !important;
    }
    .about-home{
        padding-right: 0;
    }
    .post .img-post{
        width: 100%;
    }
    .post-2 {
        flex-direction: column;
        .main-post{
            .img-post{
                width: 100%;
            }
        }
        .sidebar-right{
            padding-left: 0;
            &::before{
                left: 0;
            }
        }
    }
    .list-item .item{
        width: 100% !important;
        margin-bottom: 1rem;
    }
    .about-home .link, .product-par .link{
        position: relative;
    }
    .product-par .headline a{
        font-size: 1.5rem;
    }
    footer{
        padding-top: 1.5rem;
        flex-direction: column;
        >div{width: 100% !important;}
        .left{        
            text-align: center;
            .logo-img{
                width: 100%;
                img{
                    display: block;
                    margin: auto;
                }
            }
            .text-site{
                width: 100%;
            }
            margin-bottom: 1rem;
        }
        .right{
            .follow{
                flex-direction: column;
                text-align: center;
            }
        }
        .copyright{text-align: center; margin-bottom: 1rem}
    }
}
@media screen and(max-width:425px){
    .header{
        .left{
            padding-left: 0;
            padding-right: 0;
            .text-logo{
                p{
                    &.name-site{font-size: 13px}
                }
            }
        }        
        .right{
            right: 10px;
        }
    }
    .hoatdong-par .description{
        h3{font-size: 18px;}
    }
}
