@import 'config';

.banner{
    &-home{
        max-height: 1360px;
        .image_main{
            width: 100%;   
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }  
    &-not-home{
        height: 255px;
        width: 100%;
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }  
}
header{
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #fff, $alpha: 0.66);
    .header{
        height: 105px;
        .left{
            width: 45%;
            display: flex;
        }
        .right{
            width: 55%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.header {
    .img{
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 4px;
            background-color: $color-main;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        img{
            box-shadow: -1px 3px 9px -1px #00220085;
        }
    }
    .text-logo{
        align-self: center;
        padding-left: 15px;
        p{
            margin-bottom: 0;
            &.name-site{
                line-height: 1;
            }
            &.name-site{
                font-size: 24px;
            }
            &.head,&.bot{
                font-size: 13px;
                font-weight: 600;
            }
            &.head{
                color: #000;                
            }
            &.bot{
                color: #787575;
            }
        }
    }
}

.menu-pc{
    ul{
        height: 94px;        
        padding: 0;
        font-size: 0;
        list-style-type: none;
        display: block;
        li.active{
            &::before{
                height: 100%;
            }
            a{
                color: #fff;
            }
        }
        li{
            &:before{
                content: "";
                background-color: $color-main;
                width: 100%;
                height: 0;
                position: absolute;
                left: 0;
                top: 0;
                transition: height .5s ease;
                z-index: -999;
            }
            &:hover:before{
                height: 100%;
            }
            position: relative;
            display: inline-flex;
            margin-bottom: 1rem;
            height: 100%;
            font-size: 13px;
            a{
                padding: 60px 12px 15px;
                text-transform: uppercase;
                font-family: 'UTM-Erie';
                color: black;
                transition-delay: .5s;
                transition: color .4s ease;
                &:hover{
                    color: #fff !important;
                }
            }
            &:not(:first-child) {
                margin-left: 4px;
            }
            &:not(:last-child) {
                margin-right: 3px;
            }
            &:not(:last-child):after {
                content: "";
                width: 1px;
                height: 1rem;
                background-color: #000;
                position: absolute;
                right: -4px;
                bottom: 17px;
            }
        }
    }
}

.right{
    button {
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline-color: transparent;
        i{
            color: $color-main;
            font-size: 1.4rem;
        }
    }
}
.menu-2{
    // overflow-y: scroll;
    z-index: 1111;
    transition: right 0.3s ease-in-out;
    width: 218px;
    top: 0;
    // display: none;
    position: fixed;
    background-color: #b7b7b7;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &::before{
        content: "";
        width: 40%;
        top: 0;
        left: 0;
        position: absolute;
        height: 4px;
        z-index: 1;
        background-color: red;
    }
    p.head{
        color: #fff;
        font-family: 'UTM-B';
        font-size: 1rem;
        padding-top: 15px;
        margin: 0 -20px;
        padding-left: 20px;
        padding-bottom: 14px;
        background-color: $color-main;
    }
    ul.menu-mb-lv1{
        display: block;
        *{
            text-transform: uppercase !important;
        }
        >li{
            position: relative;
            display: block;
            padding-left: 3px;
            padding-top: 11px;
            padding-bottom: 11px;
            i{
                position: absolute;
                top: 16px;
                right: 0;
                font-size: .9rem;
            }
            &:not(:last-child){
                border-bottom: 1px solid #a3a2a2;
            }
            a{
                font-family: 'UTM-B';
                font-size: .9rem;
                color: black;
                line-height: 1;
            }
            .menu-mb-lv2{
                li{
                    padding-left: 15px;
                    padding-top: 11px;
                    position: relative;
                    &:not(:first-child){
                        padding-bottom: 11px;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 23px;
                        left: 0;
                        width: 9px;
                        height: 3px;
                        background-color: red;
                    }                    
                }
            }
        }
        .active a{
            font-family: 'UTM-B' !important;
            color: $color-main !important;
        }
    }
}
.fix-top {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 2px 5px 5px;
    cursor: pointer;
    outline-color: transparent !important;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
}

main{
    padding-bottom: 2rem;
    
}

.about{
    margin-top: 1.5rem !important;
    &-home{
       width: 31%;
        padding-right: 1rem;
        .thumb{
            width: 100%;
            height: 168px;        
        }   
    }      
}
.hoatdong{
    padding-top: 1.5rem;
    &-par{
        .list-item{
            justify-content: space-between;
            margin-bottom: 2rem;
        }  
        position: relative;      
        margin-bottom: 2.5rem !important;
        &::after{
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            background: #e0dddd;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .description{
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 2rem;
            h3{
                font-size: 34px;
                color: #4a4b49;
            }
            font-family: 'UTM-KT';
        }
        .item{
            margin-top: -35px;
            padding-bottom: 3rem !important;
            position: relative;
            z-index: 999;
            width: 31.5% !important;
            padding-right: 0 !important;
            background-color: #fff;
            .ico-item{
                height: 110px;
                position: relative;
                img{
                    max-height: 110px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
            }
            .headline{
                padding-top: 10px;
                h4, .h4{
                    color: #6b6b6b;
                }
            } 
            .sumary, .headline{
                padding-left: 25px;
                padding-right: 25px;
            }
            .sumary{
                padding-bottom: 1rem;
            }
            .link{
                position: absolute;
                bottom: 1rem;
                left: 50%;
                @include transform(translateX(-50%))
            }
        }
    }
}
.about-home, .product-par{
    padding-bottom: 2rem;
    position: relative;
    .h3{
        font-size: 24px;
    }
    .head{
        margin-bottom: 1rem;
    }
    .link{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.product-par{
    width: 66%;
    .list-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item{
            width: 32%;
            padding-right: 0 !important;
            .thumb{
                height: 134px;
            }
        }
    }
    .headline{
        margin-bottom: .5rem;
        font-family: 'UTM-Androgyne';
        a{
            color: #000 !important;
            &:hover{
                color: $color-main !important;
            }            
        }
    }
}
.product, .news, .contact{
    padding-top: 1.5rem;
}
.news{
    .headline{
        height: 62px;
    }
}
.contact{
    padding-bottom: 1px;
    .text-sumary{
        padding-bottom: 1rem;
        position: relative;
        p{
            margin-bottom: 0;
        }
        &::after{
            content: "";
            width: 33.333%;
            height: 4px;
            background-color: #888080;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }   
    .main-form{
        position: relative;
        padding-bottom: 3rem;
        padding-right: 30px;
        form{
            .row{
                padding-top: .5rem;
                .col-md-6:first-child{
                    padding-right: 0;
                }
            }
            margin-bottom: 1rem;
            label{
                color: #000;
                font-weight: 600;
            }
            .form-control{
                border-radius: 0;
                &:focus{
                    border-color: $color-main;
                    box-shadow: 0 0 5px .02rem rgba($color: $color-main, $alpha: 0.66)
                }
            }
        }
        .link{
            position: absolute;
            right: 30px;
            bottom: 0;
        }
    } 
    .right-info{
        .h5{
            color: #706c6c;
            padding-bottom: .5rem;
        }
        .info{
            margin-bottom: 2rem;
            .site-name{
                margin-bottom: .5rem;
                font-family: 'Helvetica Neue';
            }
            a{
                color: #a7a7a6;
            }
        }
        .follow{
            $size:44px;
            >div{display: flex; flex-direction: row; margin-bottom: 1rem;>a:hover .ico{box-shadow: 0px 0px 2px 1px rgba($color: #000, $alpha: 0.44)}}
            .ico{
                margin-right: 15px;
                width: $size;
                height: $size;
                border-radius: 30%;
                position: relative;
                transition: box-shadow .4s ease;
                i{
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%,-50%));
                }
            }
            .text{
                align-self: center;
                p{
                    margin-bottom: 0;
                }
                a{
                    color: #a7a7a6;
                }
            }
            .bg-fb{
                background-color: #3b5997;
            }
            .bg-youtube{
                background-color: #d12f2f;
            }
        }
    }
}

footer{
    margin-bottom: 1rem !important;
    .left{
        width: 50%;
        .text-site{
            align-self: center;
        }
        .text-site a{
            color: #a7a7a6;
        }
        .name-site{
            font-family: 'UTM';
            font-weight: 600;
        }
    }
    .right{
        width: 50%;
        align-self: center;
        text-align: right;
        .follow{
            justify-content: flex-end;
            margin-bottom: 1.5rem;
            p{
                font-weight: 600;
                font-family: 'UTM';
                display: inline-block;
                padding-right: 2rem;
            }
            ul{
                list-style-type: none;
                li{
                    display: inline-block;
                    padding-right: 1rem;
                    i{
                        width: 15px;
                        text-align: center;
                    }
                    a{
                        color: #373737;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #373737;
                        padding: 5px 8px;
                        border-radius: 50%;
                        transition: all .4s ease;
                    } 
                    &:hover{
                        a{
                            color: $color-main;
                            border-color: transparent;
                            box-shadow: 0px 0px 5px 1px $color-main;
                        }
                    }  
                }
            }
        }
    }
}

.breadcrumb-ds{
    padding-top: 1.5rem;
    position: relative;
    min-width: 33%;
    border-bottom: 1px solid #ccc;
    &:before{
        content: "";
        width: 3px;
        height: 1.8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-main;
    }
    ul{
        margin-bottom: 0;
        padding-left: 1.5rem;
        display: inline-block;
        font-size: 0;
        li{
            font-size: .9rem;
            display: inline-block;
            padding-right: 10px;
            padding-bottom: 5px;
            
            &:not(:last-child){
                a{
                    font-family: 'UTM-Intel';
                    color: #5d5e5f;
                }
            }
            &:last-child{
                a{
                    pointer-events: none;
                    color: $color-main;
                }
            }
            &:not(:last-child):after{
                content: "\f0da";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                padding-left: 10px;
                color: #5d5e5f;
            }
        }
    }
}

.post{
    .img-post{
        display: inline-block;
        float: left;
        width: 40%;
        margin-right: 12px;
        margin-bottom: 12px;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 4px;
            background-color: #888080;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
        img{
            width: 100%;
            height: 270px;
            object-fit: cover;
            object-position: center;
        }
    }
}
.post-2{
    padding-top: 1.5rem;
    display: flex;
    .headline{
        padding-right: 1.5rem;
        margin-bottom: .5rem;
        font-family: 'UTM-Androgyne';
        h4{
            font-size: 2rem;
            line-height: 1.3;
            color: $color-main;            
            transition: color .4s ease;
        }
        a{
            font-size: 1.5rem;
            color: $color-main;            
            transition: color .4s ease;
        }
    }
    .sub-headline{
        display: inline-block;
        font-family: 'Helvetica Neue';
        color: #acacab;
        font-size: 12px;
        margin-bottom: .5rem;
        padding-bottom: 5px;
        padding-top: .5rem;
        position: relative;
        .by::before{
            content: "Theo ";
            padding-right: 2px;
            color: #acacab;
            font-weight: normal;
        }
        span:not(:last-child):after{
            content: "|";
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .main-post{
        padding-left: 0; 
        .sub-headline{
            &::after{
                content: "";
                width: 110%;
                height: 4px;
                background-color: #d1cfcf;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }       
        .sumary{
            text-align: justify;
            p{
                font-family: 'Helvetica-B';
                font-size: 16px;
                color: #000;
            }
        }
        .img-post{
            margin: auto;
            width: 660px;
            max-height: 400px;
            border: 9px solid #e6e4e4;
            margin-bottom: 1rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .detail{
            text-align: justify;
            img{
                max-width: 100%;
                margin-bottom: .5rem !important;
            }
        }
    }
    .sidebar-right{
        position: relative;
        margin-top: 12px;
        &::before{
            content: "";
            width: 1px;
            height: 75%;
            background-color: #ccc;
            position: absolute;
            left: 15px;
            top: 0;
        }
        .sub-headline{
            &::after{
                content: "";
                width: 90%;
                height: 1px;
                background-color: #d1cfcf;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        } 
        .name-sidebar{
            position: relative;
            padding-left: 15px;
            margin-bottom: 1.5rem !important;
            &::before{
                content: "";
                height: 22px;
                width: 5px;
                background-color: $color-main;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .list-post-new{
            padding-left: 15px;
            padding-right: 15px;
            .item{
                margin-bottom: 1.5rem;
                .thumb{
                    height: 175px;
                }
            }
        }
    }
}
